.container
  .awards.block-outer
    .awards__cup
      p.awards__cup-title.h2 SafeDNS Awards 

    .awards__slider-control
      .awards-slider.glide__space-for-arrows
        .glide
          .glide__track(data-glide-el='track')
            ul.glide__slides
              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-1.jpg')
              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-2.jpg')
              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-3.jpg')
              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-4.jpg')
              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-2.jpg')
              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-4.jpg')
              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-1.jpg')
              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-3.jpg')

          .glide__arrows(data-glide-el='controls')
            button.glide__arrow.glide__arrow--prev(data-glide-dir='<')
            button.glide__arrow.glide__arrow--next(data-glide-dir='>')