.container
  .awards.block-outer
    .awards__cup
      p.awards__cup-title.h2 SafeDNS Awards 

    .awards__slider-control
      .awards-slider.glide__space-for-arrows
        .glide
          .glide__track(data-glide-el='track')
            ul.glide__slides
              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-1.jpg' data-tooltip="awards-template-1")
                #awards-template-1.awards__slider-tip
                  .awards__slider-tip-title AV-Comparatives 2016
                  .awards__slider-tip-desc SafeDNS blocked near-perfect 99,8% of adult content. It did not have false positives.

              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-2.jpg' data-tooltip="awards-template-2")
                #awards-template-2.awards__slider-tip
                  .awards__slider-tip-title AV-Comparatives 2017
                  .awards__slider-tip-desc SafeDNS blocked near-perfect 99,8% of adult content. It did not have false positives.

              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-3.jpg' data-tooltip="awards-template-3")
                #awards-template-3.awards__slider-tip
                  .awards__slider-tip-title AV-Comparatives 2015
                  .awards__slider-tip-desc SafeDNS blocked near-perfect 99,8% of adult content. It did not have false positives.

              li.glide__slide.img-shadow
                img.glide__slide-img(src='img/about/award-4.jpg' data-tooltip="awards-template-4")
                #awards-template-4.awards__slider-tip
                  .awards__slider-tip-title AV-Comparatives 2016
                  .awards__slider-tip-desc SafeDNS blocked near-perfect 99,8% of adult content. It did not have false positives.

          .glide__arrows(data-glide-el='controls')
            button.glide__arrow.glide__arrow--prev(data-glide-dir='<')
            button.glide__arrow.glide__arrow--next(data-glide-dir='>')