section.call-action.block-outer
  h2.call-action__title.accent Contact SafeDNS Support
  a.btn.btn_primary(href='#!') Create a support ticket
  p.call-action__text Our specialists will contact you within a few hours