footer.footer
  .footer__container.container
      each n in nav
        .footer__col
          h4.footer__title= n.title

          each child in n.childs
            a.footer__link(href='#!')= child.title

      .footer__mobile
        a.footer__mobile-link(href='#!') About
        a.footer__mobile-link(href='#!') News
        a.footer__mobile-link(href='#!') Job
        a.footer__mobile-link(href='#!') Privacy
        a.footer__mobile-link(href='#!') Legal

  .footer__copy
    .footer__copy-container.container
      span SafeDNS, Inc. © 2012-2018

      nav.footer__copy-nav
        a.footer__copy-nav-link(href='#!') Privacy
        a.footer__copy-nav-link(href='#!') Term of police
        a.footer__copy-nav-link(href='#!') Legal

      .footer__ips
        span.footer__ips-item 195.46.39.39
        span.footer__ips-item 195.46.39.40

      .social
        a.social__link.social_youtube(href='#!')
        a.social__link.social_google(href='#!')
        a.social__link.social_linkedin(href='#!')
        a.social__link.social_twitter(href='#!')
        a.social__link.social_facebook(href='#!')