footer.footer-simple
  nav
    ul.footer-simple__list
      li.footer-simple__item
        a.footer-simple__link(href="#!") SafeDNS, Inc. &copy; 2012-2018

      li.footer-simple__item
        a.footer-simple__link(href="#!") Privacy

      li.footer-simple__item
        a.footer-simple__link(href="#!") Legal