doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title SafeDNS
    link(href='styles/libs.min.css', rel='stylesheet')
    link(href='styles/main.css', type='text/css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet')

  body
    include var.pug
    include mixins.pug