header.header
  .container
    .header__wrap
      .header__title
        h1
          b About 
          | SafeDNS
        
        p Help us build a better Internet!
    
      .btn.btn_outline 
        | Watch video
        i.icon.icon_play