doctype html
html(lang='en' dir='ltr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title SafeDNS

    link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet')

    link(href='styles/libs.min.css', rel='stylesheet')
    link(href='styles/grid.css' type='text/css' rel='stylesheet')
    link(href='styles/normalize.css', type='text/css', rel='stylesheet')

    link(href='styles/typography.css' type='text/css' rel='stylesheet')
    link(href='styles/buttons.css' type='text/css' rel='stylesheet')
    link(href='styles/header.css' type='text/css' rel='stylesheet')
    link(href='styles/footer.css' type='text/css' rel='stylesheet')
    link(href='styles/footer-simple.css' type='text/css' rel='stylesheet')
    link(href='styles/nav.css' type='text/css' rel='stylesheet')
    link(href='styles/card.css' type='text/css' rel='stylesheet')
    link(href='styles/call-action.css' type='text/css' rel='stylesheet')
    link(href='styles/slider.css' type='text/css' rel='stylesheet')
    link(href='styles/guidebook.css' type='text/css' rel='stylesheet')
    link(href='styles/forms.css' type='text/css' rel='stylesheet')
    link(href='styles/tabs.css' type='text/css' rel='stylesheet')
    link(href='styles/range-slider.css' type='text/css' rel='stylesheet')
    link(href='styles/trial-pages.css' type='text/css' rel='stylesheet')

    link(href='styles/home.css' type='text/css' rel='stylesheet')
    link(href='styles/about.css' type='text/css' rel='stylesheet')
    link(href='styles/press.css' type='text/css' rel='stylesheet')
    link(href='styles/instructions.css' type='text/css' rel='stylesheet')
    link(href='styles/instruction.css' type='text/css' rel='stylesheet')
    link(href='styles/instructions-search.css' type='text/css' rel='stylesheet')
    link(href='styles/reviews.css' type='text/css' rel='stylesheet')
    link(href='styles/case.css' type='text/css' rel='stylesheet')
    link(href='styles/contacts.css' type='text/css' rel='stylesheet')
    link(href='styles/jobs.css' type='text/css' rel='stylesheet')
    link(href='styles/privacy.css' type='text/css' rel='stylesheet')
    link(href='styles/solutions.css' type='text/css' rel='stylesheet')
    link(href='styles/features.css' type='text/css' rel='stylesheet')
    link(href='styles/auth.css' type='text/css' rel='stylesheet')
    link(href='styles/protection.css' type='text/css' rel='stylesheet')
    link(href='styles/buy-process.css' type='text/css' rel='stylesheet')
    link(href='styles/not-found.css' type='text/css' rel='stylesheet')

  body
    include var.pug
    include mixins.pug