doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Newtech
    link(href='styles/libs.min.css', rel='stylesheet')
    link(href='styles/main.css', type='text/css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,700&subset=cyrillic', rel='stylesheet')

  body
    include var.pug
    include mixins.pug