#modal-video.modal.modal_video

  .modal__content
    .modal__close
    #popupVid.iframeWrap
      <iframe src="https://www.youtube.com/embed/qvE1cgfxPuE?rel=0&amp;showinfo=0;enablejsapi=1" autoplay frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>