-
  var nav = [
    {
      title: 'Solutions',
      childs: [
        { title: 'Business' },
        { title: 'Provide & Telecom' },
        { title: 'Education' },
        { title: 'Home' },
      ]
    },
    {
      title: 'Products',
      childs: [
        { title: 'Safe@office' },
        { title: 'Safe@Home' },
      ]
    },
    {
      title: 'Features',
      childs: [
        { title: 'Content Filtering' },
        { title: 'Parent Control' },
        { title: 'Our DB' },
        { title: 'Safe Agent' },
      ]
    },
    {
      title: 'Partnes',
      childs: [
        { title: 'MSP partners' },
        { title: 'Resellers' },
        { title: 'Technology' },
      ]
    },
    {
      title: 'Resources',
      childs: [
        { title: 'Cases Studies' },
        { title: 'Events' },
        { title: 'For Investors' },
        { title: 'Free Tools' },
      ]
    },
    {
      title: 'Company',
      childs: [
        { title: 'About' },
        { title: 'News' },
        { title: 'Press room' },
        { title: 'Job' },
        { title: 'Contacts' },
      ]
    }
  ]

  var awardsSlider = [
    {
      href: 'award-1.jpg',
      item: 1
    },
    {
      href: 'award-2.jpg',
      item: 2
    },
    {
      href: 'award-3.jpg',
      item: 3
    },
    {
      href: 'award-4.jpg',
      item: 4
    },
    {
      href: 'award-1.jpg',
      item: 1
    },
    {
      href: 'award-2.jpg',
      item: 2
    },
    {
      href: 'award-3.jpg',
      item: 3
    },
    {
      href: 'award-4.jpg',
      item: 4
    }



    
    



  ]

  var aboutStats = [
    {
      number: '90',
      title: 'million',
      desc: 'domains in database'
    },
    {
      number: '60',
      title: 'categories',
      desc: 'domains by subject'
    },
    {
      number: '7',
      title: 'million',
      desc: 'threats blocked'
    }
  ]

  var headerNav = [
    {
      title: 'Product',
      childs: [
        {
          title: 'Solutions for',
          childs: [
            { title: 'Business' },
            { title: 'Schools & Universites' },
            { title: 'Provide & Telecom' },
            { title: 'Home' },
          ]
        },
        {
          title: 'Our Products',
          childs: [
            { title: 'Safe@office' },
            { title: 'Safe@home' },
          ]
        }
      ]
    },
    {
      title: 'Partners',
      childs: [
        {
          childs: [
            { title: 'MSP partners' },
            { title: 'OEM partners' },
            { title: 'Resellers' },
          ]
        }
      ]
    },
    {
      title: 'Resources',
      childs: [
        {
          childs: [
            { title: 'Cases' },
            { title: 'Events' },
            { title: 'For investors' },
            { title: 'Free tools' },
          ]
        }
      ]
    },
    {
      title: 'Company',
      childs: [
        {
          childs: [
            { title: 'About us' },
            { title: 'News' },
            { title: 'Press Room' },
            { title: 'Jobs' },
            { title: 'Contacts' },
          ]
        }
      ]
    },
    {
      title: 'Support', 
      childs: [
        {
          childs: [
            { title: 'Instructions' },
            { title: 'Create a ticket' },
          ]
        }
      ]
    },
    {
      flag: 'en',
      title: '<span class="sticky-nav__nav-link-lang">Language:</span> Eng',
      childs: [
        {
          childs: [
            { flag: 'en', title: 'English' },
            { flag: 'ar', title: 'العربيّة', class: 'arabic-text' },
            { flag: 'fr', title: 'Français' },
            { flag: 'de', title: 'Deutsch' },
            { flag: 'it', title: 'Italiano' },
            { flag: 'pt', title: 'Português' },
            { flag: 'br', title: 'Brasileiro' },
            { flag: 'es', title: 'Español' },
            { flag: 'sw', title: 'Swenska' },
            { flag: 'tr', title: 'Türkçe' },
            { flag: 'pk', title: 'اردو', class: 'arabic-text' },
          ]
        }
      ]
    }
  ]

  var pubReviews = [
    {
      title: 'AV-Comparatives',
      date: '12 december 2018',
      text: 'SafeDNS is a DNS Service that comes with easy to use features by anyone. You dont have to be tech savvy to protect your kids from Internet anymore. SafeDNS makes the task totally easy by giving perfect interface where you can enable or disable the type of websites you want to let your kids access when they connect to the online world'
    },
    {
      title: 'PCMag',
      date: '12 december 2018',
      text: 'Pode também mudar a forma como o seu computador acede à Internet através da utilização de um serviço de DNS (Domain Name Server) que faça a filtragem por si. Existem vários, mas neste exemplo vamos usar o SafeDNS.',
      active: 'active'
    }
  ]

  var pressAbout = [
    {
      title: 'CryptoAUSTRALIA Blog',
      date: '12 december 2018',
      text: 'How to Pick the Best Threat-blocking DNS Provider'
    },
    {
      title: 'eSecurity Planet',
      date: '24 november 2017',
      text: 'SafeDNS Tackles Wi-Fi Router Security'
    },
    {
      title: 'Total Telecom',
      date: '2 november 2017',
      text: 'SafeDNS provides telcos top quality parental controls',
      active: 'active'
    },
    {
      title: 'PC World',
      date: '12 december 2018',
      text: 'SafeDNS scored higher than Kasperksy on porn blocks with a near-perfect rate of 99.8%'
    },
    {
      title: 'Seattlepi',
      date: '24 november 2017',
      text: 'SafeDNS Showcases its Multiple Mobile Industry Solutions at Mobile World Congress 2017'
    },
    {
      title: 'Channel Partners Online',
      date: '2 november 2017',
      text: '7 Security Startups That Rocked RSA Conference 2017'
    }
  ]

  var freeTools = [
    {
      title: 'OpenVPN',
      img: 'img/tools/tools-block-bg-openvpn.jpg'
    },
    {
      title: 'TelegramBot',
      img: 'img/tools/tools-block-bg-telegram.jpg'
    },
    {
      title: 'Chrome Plugin Filter',
      img: 'img/tools/tools-block-bg-chrome.jpg'
    },
    {
      title: 'DiscordBot',
      img: 'img/tools/tools-block-bg-discord.jpg'
    }
  ]

  var instructionsList = [
    {
      title: 'Installation and config',
      list: [
        'Setup agent',
        'Setup a schedule for filtering',
        'Setup Named lists',
        'Block top-level domains (TLDs)'
      ]
    },
    {
      title: 'DSL/WiFi routers',
      list: [
        'Configuration on DSL/WiFi routers',
        'Setup on DD-WRT Routers',
        'Setup on OpenWRT Routers'
      ]
    },
    {
      title: 'Multi-policy filtering on OpenWRT',
      list: [
        'Setup SafeDNS service on routers <br>with OpenWRT firmware ',
        'List of OpenWRT-based routers <br>compatible with the SafeDNS'
      ]
    },
    {
      title: 'Windows users',
      list: [
        'SafeDNS Agent Manual',
        'DNS configuration on Windows 7',
        'DNS configuration on Windows 10'
      ]
    },
    {
      title: 'Mac OS users',
      list: [
        'Configuration for MacOS X',
        'How to set up OpenVPN on MacOS X'
      ]
    },
    {
      title: 'Lunix Users',
      list: [
        'Configuration for Linux and FreeBSD <br>with static IP',
        'Configuration for Linux and FreeBSD <br>with dynamic IP'
      ]
    },
    {
      title: 'Mobile and Table',
      list: [
        'Setup on Android (static IP)',
        'Web Filtering Setup on iOS and <br>Android Devices'
      ]
    },
    {
      title: 'More',
      list: [
        'List of SafeDNS Categories',
        'Check and update the categorization <br>of websites',
        'SafeDNS Servers Location'
      ]
    },
    {
      title: 'Chat bots',
      list: [
        'Telegram chatbot',
        'Discord chatbot',
        'Facebook chatbot'
      ]
    }
  ]







  var reviews = [
    {
      name: 'Veronika',
      old: '21 years',
      img: 'img/reviews/avatar-1.jpg',
      text: 'It installs in a flash, doesn\'t require signature updates, scans much more quickly, and takes a ridiculously small amount of space on disk!'
    },
    {
      name: 'Robin',
      old: '36 years',
      img: 'img/reviews/avatar-2 .jpg',
      text: 'If you (have) been looking for a feature rich and well advanced custom web content filtering software online, then SafeDNS can suite your needs absolutely great.'
    },
    {
      name: 'Kristina',
      old: '32 years',
      img: 'img/reviews/avatar-3 .jpg',
      text: 'SafeDNS is a cloud service, which means that you do not have to buy any hardware or install additional software.'
    },
  ]

  var reviewsSlider = [
    {
      name: 'Veronica Pirogkova',
      old: 'HR Agent',
      img: 'img/reviews/avatar-1.jpg',
      text: 'Since our staff are not on devices all day, a cost per device/user model was not cost effective. Charging based on usage allows us to keep costs down but provide a great level of protection at the same time. DNSFilter costs us 1/4 of other leading DNS providers'
    },
  ]

  var headerPress = {title: 'Press room', bg: 'press.jpg'}
  var headerAbout = {title: '<b>About</b> SafeDNS', bg: 'about.jpg', desc: 'Help us build a better Internet!', button: true}
  var headerInstructions = {title: 'Instructions', bg: 'instruction.jpg'}
  var headerInstruction = {crumbs: 'Instructions', title: 'Telegram Chat Bot', bg: 'instruction.jpg'}
  var headerFreeTool = { crumbs: 'Free Tools', title: 'TelegramBot', bg: 'tools.jpg' }
  var headerFreeTools = { title: 'Free Tools', bg: 'tools.jpg' }
  var headerReviews = { title: 'Reviews', bg: 'reviews.jpg' }