-
  var nav = [
    {
      title: 'Solutions',
      childs: [
        { title: 'Business' },
        { title: 'Provide & Telecom' },
        { title: 'Education' },
        { title: 'Home' },
      ]
    },
    {
      title: 'Products',
      childs: [
        { title: 'Safe@office' },
        { title: 'Safe@office' },
      ]
    },
    {
      title: 'Features',
      childs: [
        { title: 'Content Filtering' },
        { title: 'Parent Control' },
        { title: 'Our DB' },
        { title: 'Safe Agent' },
      ]
    },
    {
      title: 'Partnes',
      childs: [
        { title: 'MSP partners' },
        { title: 'Resellers' },
        { title: 'Technology' },
      ]
    },
    {
      title: 'Resources',
      childs: [
        { title: 'Cases Studies' },
        { title: 'Events' },
        { title: 'For Investors' },
        { title: 'Free Tools' },
      ]
    },
    {
      title: 'Company',
      childs: [
        { title: 'About' },
        { title: 'News' },
        { title: 'Press room' },
        { title: 'Job' },
        { title: 'Contacts' },
      ]
    }
  ]