-
  var nav = [
    {
      title: 'Solutions',
      childs: [
        { title: 'Business' },
        { title: 'Provide & Telecom' },
        { title: 'Education' },
        { title: 'Home' },
      ]
    },
    {
      title: 'Products',
      childs: [
        { title: 'Safe@office' },
        { title: 'Safe@office' },
      ]
    },
    {
      title: 'Features',
      childs: [
        { title: 'Content Filtering' },
        { title: 'Parent Control' },
        { title: 'Our DB' },
        { title: 'Safe Agent' },
      ]
    },
    {
      title: 'Partnes',
      childs: [
        { title: 'MSP partners' },
        { title: 'Resellers' },
        { title: 'Technology' },
      ]
    },
    {
      title: 'Resources',
      childs: [
        { title: 'Cases Studies' },
        { title: 'Events' },
        { title: 'For Investors' },
        { title: 'Free Tools' },
      ]
    },
    {
      title: 'Company',
      childs: [
        { title: 'About' },
        { title: 'News' },
        { title: 'Press room' },
        { title: 'Job' },
        { title: 'Contacts' },
      ]
    }
  ]

  var awardsSlider = [
    {
      href: 'award-1.jpg',
      item: 1
    },
    {
      href: 'award-2.jpg',
      item: 2
    },
    {
      href: 'award-3.jpg',
      item: 3
    },
    {
      href: 'award-4.jpg',
      item: 4
    }
  ]

  var aboutStats = [
    {
      number: '90',
      title: 'million',
      desc: 'domains in database'
    },
    {
      number: '60',
      title: 'categories',
      desc: 'domains by subject'
    },
    {
      number: '7',
      title: 'million',
      desc: 'threats blocked'
    }
  ]