-
  var awardsSlider = [
    {
      href: 'award-1.jpg',
      item: 1
    },
    {
      href: 'award-2.jpg',
      item: 2
    },
    {
      href: 'award-3.jpg',
      item: 3
    },
    {
      href: 'award-4.jpg',
      item: 4
    },
    {
      href: 'award-1.jpg',
      item: 1
    },
    {
      href: 'award-2.jpg',
      item: 2
    },
    {
      href: 'award-3.jpg',
      item: 3
    },
    {
      href: 'award-4.jpg',
      item: 4
    }
  ]