-
  var nav = [
    {
      title: 'Solutions',
      childs: [
        { title: 'Business' },
        { title: 'Provide & Telecom' },
        { title: 'Education' },
        { title: 'Home' },
      ]
    },
    {
      title: 'Products',
      childs: [
        { title: 'Safe@office' },
        { title: 'Safe@Home' },
      ]
    },
    {
      title: 'Features',
      childs: [
        { title: 'Content Filtering' },
        { title: 'Parent Control' },
        { title: 'Our DB' },
        { title: 'Safe Agent' },
      ]
    },
    {
      title: 'Partnes',
      childs: [
        { title: 'MSP partners' },
        { title: 'Resellers' },
        { title: 'Technology' },
      ]
    },
    {
      title: 'Resources',
      childs: [
        { title: 'Cases Studies' },
        { title: 'Events' },
        { title: 'For Investors' },
        { title: 'Free Tools' },
      ]
    },
    {
      title: 'Company',
      childs: [
        { title: 'About' },
        { title: 'News' },
        { title: 'Press room' },
        { title: 'Job' },
        { title: 'Contacts' },
      ]
    }
  ]

  var awardsSlider = [
    {
      href: 'award-1.jpg',
      item: 1
    },
    {
      href: 'award-2.jpg',
      item: 2
    },
    {
      href: 'award-3.jpg',
      item: 3
    },
    {
      href: 'award-4.jpg',
      item: 4
    },
    {
      href: 'award-1.jpg',
      item: 1
    },
    {
      href: 'award-2.jpg',
      item: 2
    },
    {
      href: 'award-3.jpg',
      item: 3
    },
    {
      href: 'award-4.jpg',
      item: 4
    }



    
    



  ]

  var aboutStats = [
    {
      number: '90',
      title: 'million',
      desc: 'domains in database'
    },
    {
      number: '60',
      title: 'categories',
      desc: 'domains by subject'
    },
    {
      number: '7',
      title: 'million',
      desc: 'threats blocked'
    }
  ]

  var headerNav = [
    {
      title: 'Product',
      childs: [
        {
          title: 'Solutions for',
          childs: [
            { title: 'Business' },
            { title: 'Schools & Universites' },
            { title: 'Provide & Telecom' },
            { title: 'Home' },
          ]
        },
        {
          title: 'Our Products',
          childs: [
            { title: 'Safe@office' },
            { title: 'Safe@home' },
          ]
        }
      ]
    },
    {
      title: 'Partners',
      childs: [
        {
          childs: [
            { title: 'MSP partners' },
            { title: 'OEM partners' },
            { title: 'Resellers' },
          ]
        }
      ]
    },
    {
      title: 'Resources',
      childs: [
        {
          childs: [
            { title: 'Cases' },
            { title: 'Events' },
            { title: 'For investors' },
            { title: 'Free tools' },
          ]
        }
      ]
    },
    {
      title: 'Company',
      childs: [
        {
          childs: [
            { title: 'About us' },
            { title: 'News' },
            { title: 'Press Room' },
            { title: 'Jobs' },
            { title: 'Contacts' },
          ]
        }
      ]
    },
    {
      title: 'Support', 
      childs: [
        {
          childs: [
            { title: 'Instructions' },
            { title: 'Create a ticket' },
          ]
        }
      ]
    },
    {
      flag: 'en',
      title: '<span class="sticky-nav__nav-link-lang">Language:</span> Eng',
      childs: [
        {
          childs: [
            { flag: 'en', title: 'English' },
            { flag: 'ar', title: 'العربيّة', class: 'arabic-text' },
            { flag: 'fr', title: 'Français' },
            { flag: 'de', title: 'Deutsch' },
            { flag: 'it', title: 'Italiano' },
            { flag: 'pt', title: 'Português' },
            { flag: 'br', title: 'Brasileiro' },
            { flag: 'es', title: 'Español' },
            { flag: 'sw', title: 'Swenska' },
            { flag: 'tr', title: 'Türkçe' },
            { flag: 'pk', title: 'اردو', class: 'arabic-text' },
          ]
        }
      ]
    }
  ]

  var headerPress = {title: 'Press room', bg: 'press.jpg'}
  var headerAbout = {title: '<b>About</b> SafeDNS', bg: 'about.jpg', desc: 'Help us build a better Internet!', button: true}