.search
  &__title
    margin-bottom: 35px @md 5vw @lg 50px

  &__sub-title
    margin-bottom: 20px @md 3.8vw @lg 32px

  &__list
    list-style: none

    &-item
      margin-bottom: 35px @md 5vw @lg 50px

  &__link-title
    margin-bottom: -10px @md -2vw @lg -8px
    cursor: pointer

  &__keyword
    background-color: #C5D6ED