.privacy
  &__update, &__link
    font-size: 14px @md 16px
    padding-left: 20px
    background-repeat: no-repeat
    background-position: left center
    margin: 10px 0

  &__update
    color: $text-secondary-light
    background-image: svg-load('icons/clock.svg')

  &__link
    background-image: svg-load('icons/privacy-document.svg')