@import 'normalize.css'

@import 'inc/var.sss'
@import 'inc/grid.sss'
@import 'inc/typography.sss'
@import 'inc/buttons.sss'
@import 'inc/header.sss'

@import 'views/hero.sss'
@import 'views/about.sss'