@import 'inc/var.sss'
@import 'inc/grid.sss'
@import 'normalize.css'

@import 'inc/typography.sss'
@import 'inc/buttons.sss'
@import 'inc/header.sss'
@import 'inc/footer.sss'
@import 'inc/nav.sss'
@import 'inc/card.sss'
@import 'inc/slider.sss'

@import 'views/hero.sss'
@import 'views/about.sss'
@import 'views/press.sss'
@import 'views/reviews.sss'