body 
  background-color: #e5e5e5

.btn
  display: inline-block
  border-radius: 64px
  height: 54px
  padding: 15px 40px
  box-sizing: border-box 
  text: center capitalize #fff 18px

  &_primary
    background-color: $primary