.call-action
  background: linear-gradient(105.02deg, rgba(47, 128, 237, 0.3) -6.18%, rgba(235, 87, 87, 0.3) 105.74%), url('../img/call-action-bg.jpg') center / cover
  padding: 52px 0 @md 5vw 0 @lg 60px 0
  box: vertical center middle
  color: #fff
  margin-bottom: 0 !important

  &__title
    margin-bottom: 30px @md 40px

  &__text
    margin-top: 23px @md 30px
    opacity: .5