.card
  border: 1px solid #E0E0E0
  border-radius: 4px

  &__fixed
    max-width: 230px
    margin: 0 auto 20px

  &__img
    img
      display: block
      width: calc(100% + 2px)
      margin: -1px
      border-radius: 4px

  &__content
    padding: 17px @xl 22px 32px 

    .btn
      display: block
      text-align: center
      padding: * 20px !important