.footer
  padding: 3vw 0 0 0
  background: #292929 @md #292929 resolve(footer-bg.png) right top no-repeat

  &__col
    width: 33.33333% @lg 16.6666667%
    margin-bottom: 3vw

  &__title
    margin-bottom: 1vw
    color: #4F4F4F

  &__link
    color: #BDBDBD
    display: block
    margin-bottom: 3px

  &__copy
    background: #202020
    color: #828282
    
    .container
      box: horisontal space-between center