.form
  .input-group
    margin-bottom: 14px @sm 20px

    input, textarea
      background: #FFFFFF
      border: 1px solid #E0E0E0
      box-sizing: border-box
      border-radius: 4px
      padding: 11px 19px @sm 11px 27px
      display: block
      width: 100%