.header
  padding: 145px 0 45px
  background: linear-gradient(108.77deg, rgba(47, 128, 237, 0.3) -7.62%, rgba(235, 87, 87, 0.3) 104.67%), rgba(0, 0, 0, 0.5) url('../img/about/header-bg.jpg') center /cover

  &__wrap 
    display: flex
    justify-content: space-between
    flex-direction: column @md row
    align-items: center
    height: 280px
    width: 100%
    
  &__title
    color: #fff
    h1, p
      margin: 0


    