.header
  padding: 145px 0 50px
  position: relative
  background-position: center
  background-size: cover

  .container 
    z-index: 5
    position: relative
    
  &:after 
    position: absolute 0 0 0 0
    content: ''
    background: linear-gradient(108.77deg, rgba(47, 128, 237, 0.3) -7.62%, rgba(235, 87, 87, 0.3) 104.67%)
    z-index: 1


  &__title
    color: #fff
    margin: 0
  
  &_large
    padding: 185px * 115px
