body 
  font-family: $font
  text: 16px 1.5

.typography-present
  padding: 3rem 5rem

h1
  font-size: responsive 48px 30px
  font-range: $md-px $lg-px
  line-height: responsive 62px 39px
  line-height-range: $md-px $lg-px

h2
  text: 36px 47px

h3
  text: 24px 31px

h4
  text: 18px 26px

h5
  text: 16px 22px