$primary: #2F80ED
$secondary: #EB5757

$sm-px: 576px
$md-px: 768px
$lg-px: 992px
$xl-px: 1200px

$sm: (min-width: $sm-px)
$md: (min-width: $md-px)
$lg: (min-width: $lg-px)
$xl: (min-width: $xl-px)

$font: font-family: 'PT Sans', sans-serif
  