include inc/head.pug
include inc/nav.pug
+header(headerFreeTool)

.page-container
  .container
    .row
      .col-12
        section.block-outer
          h2.section-title Title

include inc/footer.pug
include inc/foot.pug