include inc/head.pug
include inc/header.pug

.page-container
  .container

    section.col-12.col-md-6

      h2 What we do?
      p 
        b SafeDNS 
        |  is founded by a team of IT and security experts for developing high quality web filtering solutions for a wide range of markets and consumers.
      p We are creating the next generation of safer and affordable web filtering products. In July, 2016, to further improve our users' online protection SafeDNS launched an innovative system for detecting botnets and malicious internet resources (malware) which is based on continuous machine learning and user behavior analysis. 


    section.col-12.col-md-6

      h2 Activities
      
      ul.list.list_round
        li 
          b Content-filtering. 
          | Block all dangerous websites, such as pornography, violence, alcohol &amp; smoking and other categories which you choose.
        li 
          b Malware Protection.
          |  Those users protected by SafeDNS are walled against cybercriminals trying to steal important data.
        li 
          b Cloud Service.  
          | SafeDNS is a cloud service, which means that you do not have to buy any hardware or install additional software.
      
    .awards.block-outter
      .award
        p.award__title.h2 SafeDNS Awards 

      .awards__slider-wrap
        .awards__slider-prev
        #awards-slider.awards__slider
          each val in awardsSlider
            .awards__item-wrap
              .awards__item(class="awards__item-" +val.item style="background: url('img/about/" +val.href+ "')")
                
        .awards__slider-next 
      
    hr

    section.stats.block-outter
      h2.stats__title SafeDNS in numbers

      .stats__items-wrap
        each val in aboutStats
          .stats__item
            p.stats__number= val.number
            .stats__wrap-text
              p.stats__text-title= val.title
              p.stats__desc= val.desc

  section.info-about

    .info-about__location
      .container
        p.h2 Location
        p.h3 SafeDNS has locations in 
          b San Francisco
        p Our Headquarters are located conveniently in the SOMA district in SF, close to the scenic Embarcadero and Baseball stadium. It's also right next to a MUNI stop and a few blocks away from the Caltrain. We offer commuter benefits to our employees, and have plenty of indoor bike storage.

    a.info-about__press
      .container
        p.h2 Press About Us
        p.h3 32 mentions in the press

    a.info-about__job
      p.h2 Job In SafeDNS
      p.h3 6 open vacanties



include inc/foot.pug