include inc/head.pug
include inc/nav.pug

.page-container.page-container_gray
  .container
    .form-container.form-container_single
      section.auth(data-tabs)
        .auth__header
          ul.auth__header-list
            li.auth__header-item
              a.auth__header-link.active(href="#login" data-tabs-link)
                .auth__header-title.h2 Login
            li.auth__header-item
              a.auth__header-link(href="#registration" data-tabs-link)
                .auth__header-title.h2 Registration
        .auth__body
          .auth__forms
            #login.auth-login.tabs-content.active
              form.form(action="#")
                .input-group
                  input.input(type='text' placeholder='Name*')
                .input-group
                  input.input(type='password' placeholder='Password *')
                
                .form__footer
                  .input-group
                    a.btn.btn_small.btn_primary Login
                  a.auth__bottom-link(href="#")

            #login.auth-registration.tabs-content
              form.form(action="#")
                .input-group
                  input.input(type='text' placeholder='Name*')
                .input-group
                  input.input(type='text' placeholder='E-mail *')
                .input-group
                  input.input(type='password' placeholder='Password *')
                  
                .form__footer
                  .input-group
                    a.btn.btn_small.btn_primary Registration

include inc/footer.pug
include inc/foot.pug