include inc/head.pug

  .btn.btn_primary Start Protection

  .btn.btn_secondary Start Protection

  .btn.btn_outline 
    | Watch video
    i.icon.icon_play

  .btn.btn_back 
    i.icon.icon_back 
    | See another instructions

  .btn.btn_detail Start Protection

