include inc/head.pug
+nav(class='sticky-nav_always-fixed-state sticky-nav_hide-nav')

.page-container.page-container_gray.buy-process
  .container
    h2.section-title.title-gray.buy-process__title
      b Purchase 
    
    .buy-info
      .buy-info__cell
        .buy-info__key Tarif
        .buy-info__value Safe@OFFICE
      .buy-info__cell
        .buy-info__key Users
        .buy-info__value 
          span(data-users) 
      .buy-info__cell
        .buy-info__key Time
        .buy-info__value
          span(data-time)
      .buy-info__cell
        .buy-info__key Total
        .buy-info__value.buy-info__value_blue 
          span(data-total) 
          | $

    .steps-nav__wrap
      .steps-nav__text
        | Step 
        .steps-nav__text-current 1 
        |  of 3

      .steps-nav__progress
        .steps-nav__progress-bar(style='width: 33.333%')

  #buy-process-1.container.process-content.active
    .form-container.form-container_single
      section.auth(data-tabs)
        .auth__header
          .auth__header-logo
          ul.auth__header-list
            li.auth__header-item
              a.auth__header-link.active(href="#registration" data-tabs-link)
                .auth__header-title.h2 Not registered
            li.auth__header-item
              a.auth__header-link(href="#login" data-tabs-link)
                .auth__header-title.h2 Registered
        .auth__body
          .auth__forms
            #registration.auth-login.tabs-content.active
              form.form(action="#")
                .input-group
                  input.input(type='text' placeholder='E-mail *')
                .input-group
                  input.input(type='password' placeholder='Password *')
                
                .input-group__spacer
                  .input-group
                    input.input(type='text' placeholder='Company name *')
                  .input-group
                    input.input(type='text' placeholder='Contact person*')
                  .input-group
                    input.input(type='text' placeholder='Working telephone')
                  .input-group
                    .select
                      <select class='select__elem'>
                        <option value="" disabled selected>Country *</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      .select__arrow

                .g-recaptcha(data-sitekey='6Ld0bGQUAAAAAImSg6NKS19U3RhQpIGlz_V33Xvu')

                .form__footer
                  .input-group
                    a.btn.btn_small.btn_primary(href='#!' data-process-step='2') Registration

            #login.auth-registration.tabs-content
              form.form(action="#")
                .input-group
                  input.input(type='text' placeholder='E-mail *')
                .input-group
                  input.input(type='password' placeholder='Password *')
                  
                .form__footer
                  .input-group
                    a.btn.btn_small.btn_primary(href='#!' data-process-step='2')  Login
                  a.auth__footer-link(href="#") Forgot password


  #buy-process-2.container.process-content
    .form-container.form-container_single.payment-options
      .payment-options__desc
        p.payment-options__text Connected users
        
        .range-plan__slider.range-plan__slider_small
          .range-slider_buy.range-slider_plan(data-start-position='3')

          .range-slider__labels.range-slider__labels_small
            .range-slider__label(data-value='5' data-amount='{"mountly": 1, "year": 2, "year2": 3, "year2old": 4, "year3": 5, "year3old": 6}')
              .range-slider__label-text 5
            .range-slider__label(data-value='10' data-amount='{"mountly": 7, "year": 8, "year2": 9, "year2old": 10, "year3": 11, "year3old": 12}')
              .range-slider__label-text 10
            .range-slider__label(data-value='25' data-amount='{"mountly": 13, "year": 14, "year2": 15, "year2old": 16, "year3": 17, "year3old": 18}') 
              .range-slider__label-text 25
            .range-slider__label(data-value='50' data-amount='{"mountly": 19, "year": 20, "year2": 21, "year2old": 22, "year3": 23, "year3old": 24}')
              .range-slider__label-text 50
            .range-slider__label(data-value='75' data-amount='{"mountly": 25, "year": 26, "year2": 27, "year2old": 28, "year3": 29, "year3old": 30}')
              .range-slider__label-text 75
                .range-slider__label-sale.range-slider__label-sale_1 sale
            .range-slider__label(data-value='100' data-amount='{"mountly": 31, "year": 32, "year2": 33, "year2old": 34, "year3": 35, "year3old": 36}') 
              .range-slider__label-text 100
                .range-slider__label-sale.range-slider__label-sale_2 sale

          .range-slider__click-zones.range-slider__click-zones_small
            .range-slider__click-zone(data-zone='1')
            .range-slider__click-zone(data-zone='2')
            .range-slider__click-zone(data-zone='3')
            .range-slider__click-zone(data-zone='4')
            .range-slider__click-zone(data-zone='5')
            .range-slider__click-zone(data-zone='6')

      .payment-options__select-plan
        p.payment-options__text Billing plan

        .input-group
          .payment-radio
            .payment-radio__item(data-input-radio data-time-value='Mountly')
              label.payment-radio__label
                input.payment-radio__input(type='radio' name='payment' value='1')
                .payment-radio__text 
                  .payment-radio__text-name Mountly subscribe
                .payment-radio__price
                  .payment-radio__price-value 
                    span(data-amount-m) 
                    | $
                    .payment-radio__price-small / mo

            .payment-radio__item.checked(data-input-radio data-time-value='Annual')
              label.payment-radio__label
                input.payment-radio__input(type='radio' name='payment' value='2')
                .payment-radio__text 
                  .payment-radio__text-name Annual subscribe
                .payment-radio__price
                  .payment-radio__price-value 
                    span(data-amount-y) 
                    | $

            .payment-radio__item(data-input-radio data-time-value='Annual')
              label.payment-radio__label
                input.payment-radio__input(type='radio' name='payment' value='3')
                .payment-radio__text 
                  .payment-radio__text-name 2 year
                    .payment-radio__text-sale 10% off
                .payment-radio__price
                  .payment-radio__price-old
                    span(data-amount-y2o) 
                    | $
                  .payment-radio__price-value
                    span(data-amount-y2) 
                    | $

            .payment-radio__item(data-input-radio data-time-value='Annual')
              label.payment-radio__label
                input.payment-radio__input(type='radio' name='payment' value='4')
                .payment-radio__text 
                  .payment-radio__text-name 3 year
                    .payment-radio__text-sale 20% off
                .payment-radio__price
                  .payment-radio__price-old
                    span(data-amount-y3o) 
                    | $
                  .payment-radio__price-value
                    span(data-amount-y3) 
                    | $

        .msg.msg_warning
          .msg__title Automatic Renewal
          .msg__text Your subscription will automatically renew at the end of each subscription term for another term. You agree that we may automatically renew your subscription and charge your account on the end date of your last subscription (the Renewal Date), unless you cancel your subscription before the Renewal Date.


      .payment-options__total
        p.payment-options__text To pay: 
          span.payment-options__total-price
            span(data-total2)
            | $

        a.btn.btn_back.btn_small(href='#!' data-process-step='1') Back
        a.btn.btn_primary.btn_small(href='#!' data-process-step='3') Next

  #buy-process-3.container.process-content
    .form-container.form-container_single.payment-options

      .payment-options__select-plan
        form.form.credit-card(action='buy-process-4.html')

          .credit-card__title
            .credit-card__payments-logo
            .credit-card__payments-comodo Payment is protected by<br> 256-bit ssl encryption

          .credit-card__front
            .input-group
              .card-icon
              input.input(type='text' placeholder='Card number' mask-card)

            .input-group
              .select
                <select class='select__elem'>
                  <option value="" disabled selected>MM</option>
                  <option value="1">01</option>
                  <option value="2">02</option>
                  <option value="3">03</option>
                  <option value="4">04</option>
                  <option value="5">05</option>
                  <option value="6">06</option>
                  <option value="7">07</option>
                  <option value="8">08</option>
                  <option value="9">09</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
                .select__arrow

            .input-group
              .select
                <select class='select__elem'>
                  <option value="" disabled selected>YY</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>

                </select>
                .select__arrow

            .input-group
              input.input(type='text' placeholder='Cardholder name' mask-card-name)

          .credit-card__back
            .input-group
              input.input(type='text' placeholder='CVV2' mask-card-cvv)

            .credit-card__back-tip(data-buy-tooltip='credit-card__cvv-tip') CVC2, CVV2, CID and etc

        .comodo
          .comodo__title Secure credit card payment
          .comodo__text This is a secure 256 bit SSL<br> encrypted payment


        #credit-card__cvv-tip
          | <b>Secure Code</b> <br>(can be CVC2, CVV2, CID, CSC and etc.)<br><br>American Express - 4 number on a front<br><br>Another card - 3 number on a backside

        .msg.msg_error.credit-card__error
          .msg__text error message on the server side, there are about 100 kinds. Usually there will be 2-3 lines with an explanation of what's wrong

      .payment-options__total
        p.payment-options__text Total Price: 
          span.payment-options__total-price 20$

        a.btn.btn_back.btn_small(href='#!' data-process-step='2') Back
        a.btn.btn_primary.btn_small 
          i.icon.icon_lock
          | Pay

include inc/footer-simple.pug
include inc/foot.pug
script(src="https://www.google.com/recaptcha/api.js" async defer)