include inc/head.pug
+nav(class='sticky-nav_always-fixed-state sticky-nav_hide-nav')

.page-container.page-container_gray.buy-process
  .container
    h2.section-title.title-gray
      b Purchase 
      .title-line.title-line_horisontal Safe@Home
    
    .steps-nav__wrap
      ul.steps-nav
        li.steps-nav__item.steps-nav__item_active
          .steps-nav__item-text Login
        li.steps-nav__item.steps-nav__item_active
          .steps-nav__item-text Payment options
        li.steps-nav__item.steps-nav__item_active
          .steps-nav__item-text Pay
        li.steps-nav__item.steps-nav__item_active
          .steps-nav__item-text Finish!

      .steps-nav__mobile Finish!

  section.container
    .form-container.form-container_single.payment-options
      section.payment-successful
        h3.payment-successful__title Сongratulations! Successful purchase!

        p.payment-successful__text Enter to your dushboard using the link - 
          a.payment-successful__link(href='#!') safedns.com\dushboard

        p.payment-successful__text Thank you for trusting our service!


include inc/footer-simple.pug
include inc/foot.pug