include inc/head.pug
+nav(class='sticky-nav_always-fixed-state sticky-nav_hide-nav')

.page-container
  .container
    h1.section-title 
      b Purchase 
      .title-line.title-line_horisontal Safe@Home

  section

include inc/footer.pug
include inc/foot.pug