include inc/head.pug
include inc/nav.pug
+header(headerCase)(class='header_full-width')

.page-container
  .container
    .row
      aside.main-content.col-12.col-md-4.col-lg-3
        img.auto-width(src='img/customers/customers-3.png')
        p.text-tips Beauty salon network
        a(href='#!') matrix.com

        p.text-small Небольшое описание компании или бренда что бы люди которые вообще ничего о нем не знаю могли быстро понять что это и каков мастштаб клиента

        hr.hidden

      main.main-content.col-12.col-md-8.col-lg-9
        h2 Wi-Fi Security Network for MATRIX
        
        .circle-container
          .circle-wrap
            .circle-icon.circle-icon_full-bg
              .circle-icon__text
                .circle-icon__text-shield
                  img(src='img/icons/shield.svg')
                .circle-icon__text-text Protect 23<br> wi-fi hotspot 

          .circle-wrap
            .circle-icon.circle-icon_progress(data-progress=78)
              .circle-icon_progress-circle <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" version="1.1"><circle fill="transparent" stroke-width="40" stroke="#F2F2F2" stroke-dasharray="360"  class="circle" cx="30" cy="30" r="30"/></svg>

              .circle-icon__text
                .circle-icon__text-large 78%
                .circle-icon__text-text Увеличение чего-то<br> важного

          .circle-wrap
            .circle-icon.circle-icon_progress(data-progress=53)
              .circle-icon_progress-circle <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" version="1.1"><circle fill="transparent" stroke-width="40" stroke="#F2F2F2" stroke-dasharray="360"  class="circle" cx="30" cy="30" r="30"/></svg>
              
              .circle-icon__text
                .circle-icon__text-large 53%
                .circle-icon__text-text Стало больше теперь<br> и такой вот вещи

        h3 Проблемы клиента. Что требовалось?

        p Emo enim ipsam voluptatem, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga?
        
        hr.hidden

        h3 Что применили, как решали проблемы.

        p Emo enim ipsam voluptatem, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga?

        p Emo enim ipsam voluptatem, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga?

        hr.hidden

        h3.title-promo Итого. Что в итоге вышло.

        ul.list.list_round.list_large
          li 
            h3 Example 2-colomn list
            p Network capacity is 15x bigger than the largest DDoS attack ever recorded. With 15 Tbps of capacity, it can can handle any modern distributed attack, including those targeting DNS infrastructure.

          li 
            h3 Long, very long subtitle, So long long long long and long, wtf so long?
            p Network capacity is 15x bigger than the largest DDoS attack ever recorded. With 15 Tbps of capacity, it can can handle any modern distributed attack, including those targeting DNS infrastructure.

          li 
            h3 Example 2-colomn list
            p Network capacity is 15x bigger than the largest DDoS attack ever recorded. With 15 Tbps of capacity, it can can handle any modern distributed attack, including those targeting DNS infrastructure.

        .article-bottom-link.text-center 
          .btn.btn_small.btn_back <i class="icon icon_back"></i> See another tools

include inc/footer.pug
include inc/foot.pug