include inc/head.pug
include inc/nav.pug
+header(headerContacts)

.page-container.half-gray-bg.pb-0
  .container
    .row
      .col-12.col-lg-6
        section
          ul.contact-list
            li.contact-list__item
              p.text-secondary.text-icon.text-icon_phone Сall by phone

              a.link-tel.always-ltr(href='tel:+18008202530') +1 800.820.2530
                p.text-secondary (US)

              a.link-tel.always-ltr(href='tel:+15714212990') +1 571.421.2990
                p.text-secondary (Outside US)

            li.contact-list__item
              p.text-secondary.text-icon.text-icon_mail Write on e-mail

              p.text-secondary.mb-0 Support and technical questions:
              a.link-mailto(href='mailto:support@safedns.com') support@safedns.com

              p.text-secondary.mb-0 For pricing inquiries and purchasing questions:
              a.link-mailto(href='mailto:support@safedns.com') sales@safedns.com

              p.text-secondary.mb-0 For account and payment support:
              a.link-mailto(href='mailto:support@safedns.com') account@safedns.com

            li.contact-list__item
              p.text-secondary.text-icon.text-icon_social Follow us in social
        
              .social
                a.social__link.social_youtube(href='#!')
                a.social__link.social_google(href='#!')
                a.social__link.social_linkedin(href='#!')
                a.social__link.social_twitter(href='#!')
                a.social__link.social_facebook(href='#!')

      .col-12.col-lg-6
        section.feedback
          h3.feedback__title Feedback Form

          form.form
            .form__success
              h2.feedback__success-title Thenk you!
              h3.feedback__success-sub-title Your message has been sent

            .input-group
              input(type='text' placeholder='Youre name*')

            .input-group
              input(type='text' placeholder='E-mail*')

            .input-group
              input(type='text' placeholder='Country \ City')

            .input-group
              textarea.feedback__textarea(type='text' placeholder='Message')

            input.btn.btn_secondary.btn_small(type='submit' value='Send')
        
.contacts-map
  .container
    .card
      .card__content
        p.card__text.text-tips Adress:
        h3.contacts-map__title 901 North Pitt Street<br> Suite #325<br> Alexandria VA 22314

  #contacts-map

include inc/footer.pug
include inc/foot.pug

script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDKHMTkHEWFerdIYypni1ca3XTW511OVfQ&callback=initMap')