include inc/head.pug
include inc/nav.pug
+header(headerFreeTool)

.page-container
  .container
    .row
      aside.col-12.col-md-4.col-lg-3
        .card.card__fixed
          .card__img
            img.card__img-item(src='img/tools/tools-block-bg-wide-telegram.jpg')
          .card__content
            .btn.btn_primary.btn_small.btn_card-fixed Download

      main.main-content.col-12.col-md-8.col-lg-9
        h2 TelegramBot
        p.text-tips Lust update - 14 april 2018
        
        p Duis aute irure dolor in reprehenderit in voluptate, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, nisi ut aliquid ex ea commodi consequatur. Et harum quidem rerum facilis est et expedita distinctio, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, sunt in culpa qui officia deserunt mollit anim id est laborum?

        hr.hidden

        h3.title-promo Features

        ul.list.list_round.list_large
          li 
            h3 Example 2-colomn list
            p Network capacity is 15x bigger than the largest DDoS attack ever recorded. With 15 Tbps of capacity, it can can handle any modern distributed attack, including those targeting DNS infrastructure.

          li 
            h3 Long, very long subtitle, So long long long long and long, wtf so long?
            p Network capacity is 15x bigger than the largest DDoS attack ever recorded. With 15 Tbps of capacity, it can can handle any modern distributed attack, including those targeting DNS infrastructure.

          li 
            h3 Example 2-colomn list
            p Network capacity is 15x bigger than the largest DDoS attack ever recorded. With 15 Tbps of capacity, it can can handle any modern distributed attack, including those targeting DNS infrastructure.

        .article-bottom-link
          .btn.btn_small.btn_back <i class="icon icon_back"></i> See another tools


include inc/footer.pug
include inc/foot.pug