include inc/head.pug
include inc/nav.pug
+header(headerFreeTool)

.page-container
  .container
    .row
      aside.col-12.col-md-4.col-lg-3
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, et quis vel, enim itaque corporis ducimus eaque placeat ullam impedit explicabo excepturi aperiam molestias iure nobis consectetur commodi nesciunt facere dolore quasi libero. Totam eveniet necessitatibus recusandae non fuga enim velit voluptas eum rerum. Beatae enim blanditiis hic mollitia, numquam deleniti dicta alias culpa totam sit, iure fuga eos. Incidunt, nulla inventore? Adipisci, explicabo. Sit est tempora odit maxime ut saepe corporis culpa tenetur odio vel enim, quas voluptatum dignissimos dolorum nulla recusandae velit molestiae illo consequuntur, adipisci eaque. Temporibus id vero amet consequuntur ut voluptatibus quia at harum quos.

      main.col-12.col-md-8.col-lg-9
        h2 TelegramBot
        p.text-tips Lust update - 14 april 2018
        
        p Duis aute irure dolor in reprehenderit in voluptate, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, nisi ut aliquid ex ea commodi consequatur. Et harum quidem rerum facilis est et expedita distinctio, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, sunt in culpa qui officia deserunt mollit anim id est laborum?

        hr.hidden

        h3.title-promo Features

        ul.list.list_round.list_large
          li 
            h3 Example 2-colomn list
            p Network capacity is 15x bigger than the largest DDoS attack ever recorded. With 15 Tbps of capacity, it can can handle any modern distributed attack, including those targeting DNS infrastructure.

          li 
            h3 Long, very long subtitle, So long long long long and long, wtf so long?
            p Network capacity is 15x bigger than the largest DDoS attack ever recorded. With 15 Tbps of capacity, it can can handle any modern distributed attack, including those targeting DNS infrastructure.

          li 
            h3 Example 2-colomn list
            p Network capacity is 15x bigger than the largest DDoS attack ever recorded. With 15 Tbps of capacity, it can can handle any modern distributed attack, including those targeting DNS infrastructure.

        .btn See another tools


include inc/footer.pug
include inc/foot.pug