include inc/head.pug

section.hero.hero_video-1.hero_video-gradient
  .hero__content
    .hero__logo

    hgroup.hero__title-group
      h1.hero__title.title-hero Cloud Based Web Filtering
      h4.hero__title-sub Protect your family \ company from threats and dangers on the Internet
      
    a.btn.btn_outline(href='#!') Watch Video 
      i.icon.icon_play

  .hero__down
    .hero__down-scroll Scroll down
    .hero__down-choose Choose your category

  .hero__cookie.hero__cookie_hide
    .hero__cookie-container.container
      p.hero__cookie-text 
        | <b>We use cookies</b> to improve your browsing experience. Parts of the website may not work as expected without them. By closing or ignoring this message, you are consenting to our 
        a.hero__cookie-btn(href='#!') use of cookies
        |.

      a.hero__cookie-btn.btn.btn_white.btn_small(href='#!') I agree

  video.hero__video(autoplay muted loop)
    source(src='videos/hero-1.mp4' type='video/mp4')

include inc/nav.pug

+main-page-solutions()

include inc/footer.pug
include inc/foot.pug