include inc/head.pug

section.hero.hero_video-2
  .hero__content
    .hero__logo

    hgroup.hero__title-group
      h1.hero__title.title-hero Cloud Based Web Filtering
      h4.hero__title-sub Protect your family \ company from threats and dangers on the Internet
      
    a.btn.btn_outline(href='#!') Watch Video 
      i.icon.icon_play

  .hero__down
    .hero__down-scroll Scroll down
    .hero__down-choose Choose your category

  .hero__cookie.hero__cookie_hide
    .container
      p.hero__cookie-text 
        | <b>We use cookies</b> to improve your browsing experience. Parts of the website may not work as expected without them. By closing or ignoring this message, you are consenting to our 
        a(href='#!') use of cookies
        |.

      a.hero__cookie-btn.btn.btn_white.btn_small(href='#!') I agree

  video.hero__video(autoplay muted loop)
    source(src='videos/hero-2.mp4' type='video/mp4')

include inc/nav.pug

section.main-page-solutions
  a.main-page-solutions__item(href='#!')
    h2.main-page-solutions__title For <b>Businnes</b>
    ul.main-page-solutions__list
      li.main-page-solutions__list-item Protect your company and maximize employees' productivity
      li.main-page-solutions__list-item Protect your company 
      li.main-page-solutions__list-item Maximize employees' productivity
    .main-page-solutions__btn.btn.btn_outline(href='#!') More >

  a.main-page-solutions__item(href='#!')
    h2.main-page-solutions__title For <b>Education</b> 
    ul.main-page-solutions__list
      li.main-page-solutions__list-item Reliable protection for all educational institutions from K-12 schools to higher education
      li.main-page-solutions__list-item Reliable protection for all educational institutions from K-12 schools to higher education
      li.main-page-solutions__list-item Full CIPA compliance
    .main-page-solutions__btn.btn.btn_outline(href='#!') More >

  a.main-page-solutions__item(href='#!')
    h2.main-page-solutions__title For <b>Home</b> 
    .main-page-solutions__list
      li.main-page-solutions__list-item Protect your family from threats and dangers on the Internet
      li.main-page-solutions__list-item Protect your family from threats and dangers on the Internet
      li.main-page-solutions__list-item Block inappropriate websites
    .main-page-solutions__btn.btn.btn_outline(href='#!') More >

  a.main-page-solutions__item(href='#!')
    h2.main-page-solutions__title For <b>Providers and telecom</b> 
    ul.main-page-solutions__list
      li.main-page-solutions__list-item Launch your own branded protection for your customers  (parent control)
      li.main-page-solutions__list-item Protect your infrastructure and users
      li.main-page-solutions__list-item Launch your own branded protection for your customers (parent control)
      li.main-page-solutions__list-item Follow Government regulations
    .main-page-solutions__btn.btn.btn_outline(href='#!') More >

  a.main-page-solutions__item(href='#!')
    h2.main-page-solutions__title For <b>Partners</b> 
    ul.main-page-solutions__list
      li.main-page-solutions__list-item Use our database and filter of categorized websites in your own software and systems
      li.main-page-solutions__list-item Use our database of categorized websites in your own software and systems
      li.main-page-solutions__list-item Join our partnership program and earn money with us
    .main-page-solutions__btn.btn.btn_outline(href='#!') More >

include inc/footer.pug
include inc/foot.pug