include inc/head.pug

section.hero
  .container
    .row
      .hero__content.col-12
        hgroup
          h1 Cloud Based Web Filtering
          h5 Protect your family \ company from threats and dangers on the Internet

        a.btn.btn_outline(href='#!') Watch Video 
          i.icon.icon_play