include inc/head.pug

section.hero
  .hero__content
    .hero__logo

    hgroup
      h1.title-hero Cloud Based Web Filtering
      h4 Protect your family \ company from threats and dangers on the Internet
      
    a.btn.btn_outline(href='#!') Watch Video 
      i.icon.icon_play

  .hero__down
    .hero__down__scroll Scroll down
    .hero__down__choose Choose your category

section.hero-blocks
  .hero-blocks__item
    h2 For <b>Businnes</b>
    ul
      li Protect your company and maximize employees' productivity
      li Protect your company 
      li Maximize employees' productivity
    a.btn.btn_outline(href='#!') More >

  .hero-blocks__item(href='#!')
    h2 For <b>Education</b> 
    ul
      li Reliable protection for all educational institutions from K-12 schools to higher education
      li Reliable protection for all educational institutions from K-12 schools to higher education
      li Full CIPA compliance
    a.btn.btn_outline(href='#!') More >

  .hero-blocks__item(href='#!')
    h2 For <b>Home</b> 
    ul
      li Protect your family from threats and dangers on the Internet
      li Protect your family from threats and dangers on the Internet
      li Block inappropriate websites
    a.btn.btn_outline(href='#!') More >

  .hero-blocks__item(href='#!')
    h2 For <b>Providers and telecom</b> 
    ul
      li Launch your own branded protection for your customers  (parent control)
      li Protect your infrastructure and users
      li Launch your own branded protection for your customers (parent control)
      li Follow Government regulations
    a.btn.btn_outline(href='#!') More >

  .hero-blocks__item(href='#!')
    h2 For <b>Partners</b> 
    ul
      li Use our database and filter of categorized websites in your own software and systems
      li Use our database of categorized websites in your own software and systems
      li Join our partnership program and earn money with us
    a.btn.btn_outline(href='#!') More >

include inc/footer.pug