include inc/head.pug
include inc/nav.pug
+header(headerInstruction)

.page-container.page-container_smooth-footer
  .container
    .row
      aside.col-12.col-md-4.col-lg-3
        +guidebook(instructionGuide)

      main.main-content.col-12.col-md-8.col-lg-9
        .iframeWrap
          a#video.scroll-lin(href='#!')
          iframe(src="https://www.youtube.com/embed/SBljWDJFe7c" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

        a#using-bot.scroll-lin(href='#!')
        h3.title-promo How to start using bot

        p To start using SafeDNS Bot you need to begin interaction with the bot by one of the following ways:

        ul
          li Find SafeDNS Bot by global search in the Telegram client by the request “SafeDNSBot”
          li Click on the name in any chat (@SafeDNSBot) and then press Start to add the bot to your contacts
          li Also you can open a private chat with the bot using the following link: 
            a(href='https://t.me/SafeDNSBot') https://t.me/SafeDNSBot

        hr.hidden

        a#add-bot.scroll-lin(href='#!')
        h3.title-promo How to add bot to a group

        p Open the right menu and click 
          b Add Members.

        img.auto-width(src='img/instruction/telegram.jpg')

        p Type <b>“@SafeDNS”</b> in the search field. Then select the bot and click <b>Invite</b> to add it to your group.

        .rate
          .rate__container
            p.rate__text Appreciate the usefulness of this manual
            .rate__scale
              .rate__scale-item 0
              .rate__scale-item 1
              .rate__scale-item 2
              .rate__scale-item 3
              .rate__scale-item 4
              .rate__scale-item 5

        .similar
          p.similar__title SIMILAR INSTRUCTIONS
          
          ul.similar__links
            li 
              a.similar__link(href='#!') Telegram bot problems
            li 
              a.similar__link(href='#!') How change bot settings
        
        .article-bottom-link
          a(href="#!").btn.btn_small.btn_back <i class="icon icon_back"></i> See another instructions

include inc/call-action.pug        
include inc/footer.pug
include inc/foot.pug