include inc/head.pug
include inc/nav.pug
+header(headerInstructionsSearch)

.page-container
  section.search.block-outer
    .container
      h3.search__title Result searching for <b>“Почему Путин краб?”</b>

      p.search__sub-title.text-secondary Recommended insructions:
        ul.search__list
          li.search__list-item
            a.search__link(href="#!")
              h3.search__link-title Setup agent SafeDNS
            p.search__desc Ходит много легенд о нашем президенте. То его кличут, то вампиром, кто-то считает что он <span class="search__keyword">краб</span>! Но истина одна! Это просто обычная коррупционная ...

          li.search__list-item
            a.search__link(href="#!") 
              h3.search__link-title Block top-level domains (TLDs)
            p.search__desc А это очень серьезный текст по настройке сложной фигни по фильтрации доменов и тут какого-то черта оказалось это паразитическое изречение - почему Путин краб? Ну что это такое? Что это тут делает?

include inc/call-action.pug

include inc/footer.pug
include inc/foot.pug