include inc/head.pug
include inc/nav.pug
+header(headerNewsSingle)(class='header_full-width')

.page-container
  .container
    .row
      main.main-content.col-12.col-md-8
        h2 What is it
        
        p Sed ut perspiciatis, quis nostrum exercitationem ullam corporis suscipit laboriosam, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.

        p Lorem ipsum dolor sit amet, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.

        p Et harum quidem rerum facilis est et expedita distinctio, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus! Ut enim ad minim veniam, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat?

        img.full-width(src='img/news/news-1.jpg')

        h2 And more text

        p Quis autem vel eum iure reprehenderit, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga?

        p At vero eos et accusamus et iusto odio dignissimos ducimus, nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Sed ut perspiciatis, quis nostrum exercitationem ullam corporis suscipit laboriosam, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga.

        .article-bottom-link.text-center
          .btn.btn_small.btn_back <i class="icon icon_back"></i> See another tools

      aside.col-12.col-md-4
        h3 Other News
        a.card.card_gray(href='#!')
          .card__content
            h4 SafeDNS Joins Internet Watch Foundation to Make the Web Cleaner and Safer
            p SafeDNS web filtering service is awarded Approved Parental Control Product by AV-Comparatives, a world leading test lab of online safety and antivirus solutions.
            p.text-tips 2 november 2017

        a.card.card_gray(href='#!')
          .card__content
            h4 SafeDNS Joins Internet Watch Foundation to Make the Web Cleaner and Safer
            p SafeDNS web filtering service is awarded Approved Parental Control Product by AV-Comparatives, a world leading test lab of online safety and antivirus solutions.
            p.text-tips 2 november 2017

        a.card.card_gray(href='#!')
          .card__content
            h4 SafeDNS Joins Internet Watch Foundation to Make the Web Cleaner and Safer
            p SafeDNS web filtering service is awarded Approved Parental Control Product by AV-Comparatives, a world leading test lab of online safety and antivirus solutions.
            p.text-tips 2 november 2017

include inc/footer.pug
include inc/foot.pug