include inc/head.pug
include inc/nav.pug

section.not-found
  .not-found__title 404
  .not-found__title-sub Oops something went wrong...
  .not-found__text Most likely you did not correctly enter the address of the page, or it simply does not exist
  a.btn.btn_outline(href='#!') Go to Home Page

include inc/footer.pug
include inc/foot.pug