include inc/head.pug
include inc/nav.pug
+header(headerReviews)

.page-container
  .container
    .row
      .col-12
        section.block-outer
          h2.section-title Business clients

            
            .reviews-slider
              .glide
                .glide__track(data-glide-el='track')
                  ul.glide__slides
                    each i in [0,1,2,3,4,5]
                      li.glide__slide
                        h2= reviewsSlider.text

                .glide__bullets(data-glide-el='controls[nav]')


            .reviews-slider.glide__space-for-arrows
              .glide
                .glide__track(data-glide-el='track')
                  ul.glide__slides
                    li.glide__slide
                      img(src='img/about/award-1.jpg')
                    li.glide__slide
                      img(src='img/about/award-2.jpg')
                    li.glide__slide
                      img(src='img/about/award-3.jpg')
                    li.glide__slide
                      img(src='img/about/award-4.jpg')
                    li.glide__slide
                      img(src='img/about/award-2.jpg')
                    li.glide__slide
                      img(src='img/about/award-4.jpg')
                    li.glide__slide
                      img(src='img/about/award-1.jpg')
                    li.glide__slide
                      img(src='img/about/award-3.jpg')

                .glide__arrows(data-glide-el='controls')
                  button.glide__arrow.glide__arrow--prev(data-glide-dir='<')
                  button.glide__arrow.glide__arrow--next(data-glide-dir='>')

                .glide__bullets(data-glide-el='controls[nav]')



include inc/footer.pug
include inc/foot.pug