include inc/head.pug

.form-shover-dark
  .range-slider_plan(data-value='3')
  .range-slider__labels
    .range-slider__label.range-slider__label_select
      .range-slider__label-text 3
    .range-slider__label 
      .range-slider__label-text 5
    .range-slider__label 
      .range-slider__label-text 10
    .range-slider__label 
      .range-slider__label-text 25
    .range-slider__label 
      .range-slider__label-text 50
    .range-slider__label 
      .range-slider__label-text 75
        .range-slider__label-sale sale
    .range-slider__label 
      .range-slider__label-text 100
        .range-slider__label-sale sale
    .range-slider__label 
      .range-slider__label-text More+

.form-shover

  .form-group
    input(type='hidden' name='slider1')
    .range-slider(data-bind='slider1' data-min='1' data-max='100' data-step='1' data-value='28')

  .form-group
    input(type='hidden' name='slider2')
    .range-slider(data-bind='slider2' data-min='1' data-max='10' data-step='2')

  .form-group
    input(type='hidden' name='slider3')
    .range-slider(data-bind='slider3' data-min='30' data-max='60' data-step='0.5' data-value='45')

  .form-group
    input(type='hidden' name='slider4')
    .range-slider(data-bind='slider4')

    


include inc/foot.pug