include inc/head.pug
include inc/nav.pug
+header(standartHeader)(class="header_large header_without-img")

.page-container
  section.instructions.block-outer
    .container
      p Standart header

include inc/footer.pug
include inc/foot.pug