include inc/head.pug
+nav(class='sticky-nav_always-fixed-state')

.page-container
  .container
    h1.section-title 
      b Start Protection
      .title-line Business

  section.range-plan.page-container
    h2 Users need protect

    .range-plan__price-block
      .range-plan__price-old $ 36

      .range-plan__price $ 32
        .range-plan__price-small / month

      .range-plan__price-sale 10% off

    .action-block.action-block_two-btns
      .action-block__btns
        .action-block__btn
          a.btn.btn_primary(href='#!') 30 days Free Trial
          p.text-tips no credit card or phone call!

        .action-block__btn
          a.btn.btn_secondary(href='#!') Buy Now


.page-container
  .container
    section
      h2.section-title.title-promo What you get

      .accordion
        .accordion__item
          .accordion__header(data-accordion) Protect up to 3 home networks on single account
          .accordion__content-wrap 
            .accordion__content  
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

        .accordion__item
          .accordion__header(data-accordion) Protect all your Internet-connected devices & computers
          .accordion__content-wrap 
            .accordion__content 
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

        .accordion__item
          .accordion__header(data-accordion) Protect your computers off the home network with SafeDNS Agent
          .accordion__content-wrap 
            .accordion__content 
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

        .accordion__item
          .accordion__header(data-accordion) Protect your network from botnets, phishing and malware websites
          .accordion__content-wrap 
            .accordion__content 
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

        .accordion__item
          .accordion__header(data-accordion) Support for Active Directory resources
          .accordion__content-wrap 
            .accordion__content 
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

        .accordion__item
          .accordion__header(data-accordion) Detailed reports and stats archive for one year
          .accordion__content-wrap 
            .accordion__content 
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

section.page-container.faq-block
  .container
      h2.section-title.title-promo Frequently Asked Questions
      
      .accordion.accordion_simple
        .accordion__item
          .accordion__header(data-accordion) Why limit 1500 users?
          .accordion__content-wrap 
            .accordion__content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat cumque aut accusamus. Excepturi voluptates soluta iusto dolore repellendus eos, saepe explicabo fuga eius, quia porro voluptatum rem vitae, harum eveniet.

        .accordion__item
          .accordion__header(data-accordion) Is there a minimum charge? 
          .accordion__content-wrap 
            .accordion__content If you process more than 2 billion DNS requests annually or have a special requirement, we can work with you. Please contact us to discuss options such as custom pricing or private deployments.

        .accordion__item
          .accordion__header(data-accordion) What if I process a large amount of requests, or have a special requirement? 
          .accordion__content-wrap 
            .accordion__content content

        .accordion__item
          .accordion__header(data-accordion) Is there a minimum charge? 
          .accordion__content-wrap 
            .accordion__content content

section.action-block.action-block_two-btns.text-center
  h2.title-promo Protect Your Company Right Now!

  .action-block__btns
    .action-block__btn
      a.btn.btn_primary(href='#!') 30 days Free Trial
      p.text-tips no credit card or phone call!

    .action-block__btn
      a.btn.btn_secondary(href='#!') Buy Now

include inc/footer.pug
include inc/foot.pug