include inc/head.pug
+nav(class='sticky-nav_always-fixed-state')

.page-container
  .container#plan-container
    h1.section-title 
      b Start Protection
      .title-line Business

  section.range-plan.page-container
    h3.range-plan__title.title-promo Users need protect

    .range-plan__slider
      .range-slider_plan.range-slider_plan-js(data-start-position='2')

      .range-slider__labels
        .range-slider__label(data-target='low' data-month='0' data-year='0')
          .range-slider__label-text 3
        .range-slider__label(data-target='price' data-trial='true' data-month='40' data-year='100')
          .range-slider__label-text 5
            .range-slider__label-sale.range-slider__label-sale_blue trial
        .range-slider__label(data-target='price' data-month='39' data-year='110')
          .range-slider__label-text 10
        .range-slider__label(data-target='price' data-month='35' data-year='120') 
          .range-slider__label-text 25
        .range-slider__label(data-target='price' data-month='32' data-year='130')
          .range-slider__label-text 50
        .range-slider__label(data-target='price' data-month='28' data-year='140' data-old-month='32$' data-old-year='170$' data-percent='10')
          .range-slider__label-text 75
            .range-slider__label-sale sale
        .range-slider__label(data-target='price' data-month='25' data-year='150' data-old-month='45$' data-old-year='180$' data-percent='20') 
          .range-slider__label-text 100
            .range-slider__label-sale sale
        .range-slider__label(data-target='hight') 
          .range-slider__label-text More+

      .range-slider__click-zones
        .range-slider__click-zone(data-zone='1')
        .range-slider__click-zone(data-zone='2')
        .range-slider__click-zone(data-zone='3')
        .range-slider__click-zone(data-zone='4')
        .range-slider__click-zone(data-zone='5')
        .range-slider__click-zone(data-zone='6')
        .range-slider__click-zone(data-zone='7')
        .range-slider__click-zone(data-zone='8')

    .range-plan__msg-block.range-plan__msg-block_low
      .range-plan__msg-text We recommend that you look at the tariff for home users
      a.btn.btn_primary(href='#!') See Tarif Safe@Home

    .range-plan__msg-block.range-plan__msg-block_price
      .range-plan__price-block-wrap
        .range-plan__price-block
          .range-plan__price-old $ 36
          .range-plan__price 
            span
            .range-plan__price-text
              .range-plan__price-symbol $
              .range-plan__price-small(data-text-month='/ per month' data-text-year='/ per year')
          .range-plan__price-sale 
            .range-plan__price-sale-word Save  
            span
            | %

      #businessPlansToggle.range-plan__toggle-block.toggle
        input(type='hidden' value='0')
        .toggle__text Monthly
        .toggle__elem
        .toggle__text Annual

      .action-block.action-block_two-btns
        .action-block__btns
          .action-block__btn.action-block__btn-trial
            a.btn.btn_secondary(href='#!') 30 days Free Trial
            p.text-tips no credit card or phone call!
          .action-block__btn
            a.btn.btn_primary(href='#!') Buy Now

    .range-plan__msg-block.range-plan__msg-block_hight
      .range-plan__msg-text For large clients we have a personal approach. Please contact us for detailed quotes
      a.btn.btn_primary(href='#!') Contact Us


.page-container.pt-0
  .container
    section
      h2.section-title.title-promo What you get

      .accordion
        .accordion__item
          .accordion__header(data-accordion-one data-accordion-active) Protect up to 3 home networks on single account
          .accordion__content-wrap 
            .accordion__content  
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

        .accordion__item
          .accordion__header(data-accordion-one) Protect all your Internet-connected devices & computers
          .accordion__content-wrap 
            .accordion__content 
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

        .accordion__item
          .accordion__header(data-accordion-one) Protect your computers off the home network with SafeDNS Agent
          .accordion__content-wrap 
            .accordion__content 
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

        .accordion__item
          .accordion__header(data-accordion-one) Protect your network from botnets, phishing and malware websites
          .accordion__content-wrap 
            .accordion__content 
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

        .accordion__item
          .accordion__header(data-accordion-one) Support for Active Directory resources
          .accordion__content-wrap 
            .accordion__content 
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

        .accordion__item
          .accordion__header(data-accordion-one) Detailed reports and stats archive for one year
          .accordion__content-wrap 
            .accordion__content 
              .row
                .col-12.col-xl-6
                  img.img-fluid(src='img/protection/img.png')
                .col-12.col-xl-6
                  p Вы можете выбрать 1 из 24 стандартных страниц блокировки или настроить свою, по вашему усмотрению

                  p - Легкая настройка стандартных шаблонов<br> - Симпотичный дизайн<br> - Доступ к html\css коду

section.page-container.faq-block
  .container
      h2.section-title.title-promo Frequently Asked Questions
      
      .accordion.accordion_simple
        .accordion__item
          .accordion__header(data-accordion) Why limit 1500 users?
          .accordion__content-wrap 
            .accordion__content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat cumque aut accusamus. Excepturi voluptates soluta iusto dolore repellendus eos, saepe explicabo fuga eius, quia porro voluptatum rem vitae, harum eveniet.

        .accordion__item
          .accordion__header(data-accordion) Is there a minimum charge? 
          .accordion__content-wrap 
            .accordion__content If you process more than 2 billion DNS requests annually or have a special requirement, we can work with you. Please contact us to discuss options such as custom pricing or private deployments.

        .accordion__item
          .accordion__header(data-accordion) What if I process a large amount of requests, or have a special requirement? 
          .accordion__content-wrap 
            .accordion__content content

        .accordion__item
          .accordion__header(data-accordion) Is there a minimum charge? 
          .accordion__content-wrap 
            .accordion__content content

section.action-block.text-center
  a.btn.btn_primary.scroll-to(href="#plan-container")
    i.icon.icon_up
    | Scroll Up and Choise the Tarif

include inc/footer.pug
include inc/foot.pug