include inc/head.pug
+nav(class='sticky-nav_always-fixed-state')

.page-container_gray
  .container
    .form-pages-header
      h2.section-title 
        b Get Trial
        .title-line Business
      p.form-pages-header__attention No credit card or phone call required!
      

    .row
      .col-12.col-lg-6
        .trial-desc
          .trial-desc__img-wrap
            img.trial-desc__img(src='img/trial-desc.png')

          ul.trial-desc__list
            li.trial-desc__list-item Threat protection like no other — block malware, C2 callbacks, and phishing
            li.trial-desc__list-item Worldwide coverage in minutes — no hardware to install or software to maintain
            li.trial-desc__list-item Straightforward management through a single web-based console
            li.trial-desc__list-item No conflicts with existing security or other endpoint software
            li.trial-desc__list-item Detailed statistics of visits to your employees
    
      .col-12.col-lg-6
        .form-container
          form.form(action="#")
            .input-group
              input.input(type='text' placeholder='Name*')

            .input-group_grid
              .row
                .col-12.col-sm-6
                  .input-group
                    input.input(type='mail' placeholder='Working E-mail*')
                .col-12.col-sm-6
                  .input-group.input-group
                    input.input(type='text' placeholder='Working telephone')

            .input-group
              .select
                <select class='select__elem'>
                  <option value="" disabled selected>Country</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                .select__arrow
                    
            .input-group.input-group
              input.input(type='text' placeholder='Company name*')
              .input-group__error Invalid Company name

            .input-group

              p.input-group__title What need a protect

              .protect-radio

                .protect-radio__item(data-input-radio)
                  label.protect-radio__label
                    .protect-radio__img
                    p.protect-radio__item-title Desktop
                    .protect-radio__radio 
                    input.protect-radio__hide-radio(type='radio' name='protect' value='desktop')

                .protect-radio__item.checked(data-input-radio)
                  label.protect-radio__label
                    .protect-radio__img
                    p.protect-radio__item-title Fi-Wi hotspots
                    .protect-radio__radio      
                    input.protect-radio__hide-radio(type='radio' name='protect' value='Fi-Wi hotspots')
                    
                .protect-radio__item(data-input-radio)
                  label.protect-radio__label
                    .protect-radio__img
                    p.protect-radio__item-title Servers
                    .protect-radio__radio 
                    input.protect-radio__hide-radio(type='radio' name='protect' value='Servers')
                
            .input-group
              .typical-form-range
                p.input-group__title Wi-Fi hotspot locations
                input(type='hidden' name='slider4')
                .range-slider(data-bind='slider4' data-value='28')

            .input-group.input-group
              textarea(type='text' placeholder='Message')

            .form__footer
              .footer-terms
                p.footer-terms__desc By clicking ‘Registration’, I agree to SafeDNS’s Terms of Service
                  a.footer-terms__link(href='#!') Terms of Services
              .input-group
                a.btn.btn_small.btn_primary Registration
            
include inc/footer-simple.pug
include inc/foot.pug