include inc/head.pug
include inc/nav.pug

.page-container
  .container
    .row
      .col-12
        section.block-outer
          h2.section-title Title

include inc/footer-simple.pug
include inc/foot.pug