include inc/head.pug

.typography-present
  h1 Web Filtering for a business
  h2 Web Filtering for a business
  h2.title-promo Web Filtering for a business
  h3 Web Filtering for a business
  h4 Web Filtering for a business
  h5 Web Filtering for a business

  p.text-accent Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptate molestias porro alias animi perferendis iure, natus repudiandae, accusamus architecto, laudantium mollitia unde laborum aliquam doloremque expedita non molestiae illo. Voluptatem dignissimos pariatur ut nesciunt nulla praesentium laudantium error illum in architecto et ex, repudiandae ipsum voluptate a deserunt numquam.

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptate molestias porro alias animi perferendis iure, natus repudiandae, accusamus architecto, laudantium mollitia unde laborum aliquam doloremque expedita non molestiae illo. Voluptatem dignissimos pariatur ut nesciunt nulla praesentium laudantium error illum in architecto et ex, repudiandae ipsum voluptate a deserunt numquam.

  p.text-secondary Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae voluptate molestias porro alias animi perferendis iure, natus repudiandae, accusamus architecto, laudantium mollitia unde laborum aliquam doloremque expedita non molestiae illo. Voluptatem dignissimos pariatur ut nesciunt nulla praesentium laudantium error illum in architecto et ex, repudiandae ipsum voluptate a deserunt numquam.