include inc/head.pug

.typography-present
  h1 <b>Web Filtering</b> for a business 
    i.text-tips h1

  h2 Web Filtering for a business 
    i.text-tips h2 

  h2.title-promo Web Filtering for a business 
    i.text-tips h2.title-promo

  h3 Web Filtering for a business  
    i.text-tips h3

  h4 Web Filtering for a business 
    i.text-tips h4

  h5 Web Filtering for a business  
    i.text-tips h5



  p.text-accent Network capacity is 15x bigger than the largest DDoS attack ever recorded. With 15 Tbps of capacity, it can can handle any modern distributed attack, including those targeting DNS infrastructure.

  p Network capacity is <b>15x bigger</b> than the largest DDoS attack ever recorded. With <strong>15 Tbps</strong> of capacity, it can can handle any modern distributed attack, including those targeting DNS infrastructure.

  p.text-accent Information you give us

  p We may ask you to provide us with personal information, such as your name, email address, telephone number, credit card details and other contact details.

  p.text-accent Device information

  p We may collect device-specific information (such as your hardware model, operating system version, etc).

  p.text-accent Log information

  p When you use our services, we may automatically collect and store certain information in server logs. This may include: details of how you used our service, such as your search queries, Internet protocol address, browser type, browser language, the date and time of your request and referral URL, etc.

  p.text-secondary We’ve tried to keep it as simple as possible, but if you’re not familiar with terms like cookies, IP addresses and browsers, then read about these key terms first. Your privacy matters to us so please do take the time to get to know our practices – and if you have any questions contact us.

  p.text-tips Web Filtering

  a(href='#!') Telegram bot problems

.btn-present
  .btn.btn_primary Start Protection

  .btn.btn_secondary Start Protection

  .btn.btn_outline 
    | Watch video
    i.icon.icon_play

  .btn.btn_back 
    i.icon.icon_back 
    | See another instructions

  .btn.btn_detail Start Protection