[dir] .auth__header {
  margin-bottom: 30px;
  margin-top: -6vh;
}

.auth__header-logo {
  display: block;
  width: 188px;
  height: 135px;
}

[dir] .auth__header-logo {
  background-image: url('../img/logo-big-white.png');
  margin: 0 auto 35px;
}

.auth__header-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

[dir] .auth__header-list {
  padding: 0;
}

[dir=ltr] .auth__header-list {
  margin-left: 0;
}

[dir=rtl] .auth__header-list {
  margin-right: 0;
}

.auth__header-item {
  position: relative;
  display: inline-block;
}

[dir] .auth__header-item {
  padding: 0 20px;
}

.auth__header-item:after {
  display: none;
  content: '';
  position: absolute;
  top: 18px;
  bottom: 10px;
  width: 1px;
}

[dir] .auth__header-item:after {
  background-color: #e0e0e0;
}

[dir=ltr] .auth__header-item:after {
  right: 0;
}

[dir=rtl] .auth__header-item:after {
  left: 0;
}

.auth__header-item:last-of-type:after {
  display: none;
}

.auth__header-item .auth__header-title {
  color: #BDBDBD;
}

[dir] .auth__header-item .auth__header-title {
  margin: 0;
}

.auth__header-link.active .auth__header-title {
  color: #333;
  font-weight: 700;
}

.auth__footer-link {
  display: block;
  color: #828282;
}

[dir] .auth__footer-link {
  margin-top: 30px;
}

.auth__footer-link:hover {
  color: #585858;
}

@media (min-width: 768px) {
  [dir] .auth__header {
    margin-top: *;
  }

  .auth__header-logo {
    display: none;
  }

  [dir] .auth__header-item {
    padding: 0 40px;
  }

  .auth__header-item:after {
    display: block;
  }

  [dir] .auth__footer-link {
    margin-top: -12px;
  }
}

@media (max-width: 768px) {

  [dir=ltr] .page-container_auth {
    background: linear-gradient(180deg, rgba(47, 128, 237, 0.9) 10.3%, rgba(51, 51, 51, 0.9) 50%), url('../img/auth-mobile-bg.jpg');
  }

  [dir=rtl] .page-container_auth {
    background: linear-gradient(-180deg, rgba(47, 128, 237, 0.9) 10.3%, rgba(51, 51, 51, 0.9) 50%), url('../img/auth-mobile-bg.jpg');
  }

  .page-container_auth nav {
    display: none;
  }

  .page-container_auth + footer {
    display: none;
  }

  [dir] .page-container_auth .form-container {
    background: transparent;
  }

  .page-container_auth .auth__header-link .auth__header-title {
    color: #fff;
    opacity: .3;
  }

  .page-container_auth .auth__header-link.active .auth__header-title {
    color: #fff;
    font-weight: 700;
    opacity: 1;
  }
}