.buy-process {
  background-color: #f7f7f7;
}

.buy-process .form-container_single {
  width: auto;
  margin-top: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border: 1px solid #e0e0e0;
  margin: 0 -20px;
  border-radius: 0;
}

[dir='ltr'] .buy-process .form-container_single {
  border-right-width: 0;
  border-left-width: 0;
}

[dir='rtl'] .buy-process .form-container_single {
  border-left-width: 0;
  border-right-width: 0;
}

.buy-process .auth__header-logo {
  display: none;
}

.steps-nav {
  list-style: none;
  max-width: 650px;
  width: 100%;
  align-items: center;
  display: none;
  margin: 50px auto 31px;
  padding: 0;
}

.steps-nav__mobile {
  display: block;
  text-align: center;
  margin: -20px 0 35px;
}

.steps-nav__item {
  width: 100%;
  position: relative;
  height: 42px;
  margin: 0;
}

.steps-nav__item:first-child:before {
  display: none;
}

[dir='ltr'] .steps-nav__item:first-child .steps-nav__item-text {
  padding-left: 10px;
}

[dir='rtl'] .steps-nav__item:first-child .steps-nav__item-text {
  padding-right: 10px;
}

.steps-nav__item:nth-child(1) {
  z-index: 4;
}

.steps-nav__item:nth-child(2) {
  z-index: 3;
}

.steps-nav__item:nth-child(3) {
  z-index: 2;
}

.steps-nav__item:nth-child(4) {
  z-index: 1;
}

.steps-nav__item:last-child .steps-nav__item-text {
  border-radius: 4px;
}

[dir='ltr'] .steps-nav__item:last-child .steps-nav__item-text {
  padding-left: 10px;
}

[dir='rtl'] .steps-nav__item:last-child .steps-nav__item-text {
  padding-right: 10px;
}

.steps-nav__item:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -5px;
  bottom: 0;
  z-index: 1;
  border-style: solid;
}

[dir='ltr'] .steps-nav__item:after {
  right: -20px;
  left: auto;
  border-color: transparent transparent transparent #f7f7f7;
  border-width: 26px 0 26px 20px;
}

[dir='rtl'] .steps-nav__item:after {
  left: -20px;
  right: auto;
  border-color: transparent #f7f7f7 transparent transparent;
  border-width: 26px 20px 26px 0;
}

.steps-nav__item:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -5px;
  bottom: 0;
  z-index: 3;
  -webkit-filter: drop-shadow(1px 0px 0px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(1px 0px 0px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15));
  clip: rect(4px, 24px, 48px, 0);
  display: none;
  border-style: solid;
}

[dir='ltr'] .steps-nav__item:before {
  right: auto;
  left: 2px;
  border-color: transparent transparent transparent #f7f7f7;
  border-width: 26px 0 26px 20px;
}

[dir='rtl'] .steps-nav__item:before {
  left: auto;
  right: 2px;
  border-color: transparent #f7f7f7 transparent transparent;
  border-width: 26px 20px 26px 0;
}

.steps-nav__item-text {
  font-size: 0.875rem;
  color: #828282;
  box-sizing: border-box;
  height: 100%;
  z-index: 2;
  position: relative;
  text-align: center;
  background: #f2f2f2;
}

[dir='ltr'] .steps-nav__item-text {
  border-radius: 4px 0 0 4px;
  padding: 11px 0 11px 22px;
}

[dir='rtl'] .steps-nav__item-text {
  border-radius: 0 4px 4px 0;
  padding: 11px 22px 11px 0;
}

.steps-nav__item-text:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  border-style: solid;
}

[dir='ltr'] .steps-nav__item-text:after {
  right: -16px;
  left: auto;
  border-width: 21px 0 21px 16px;
  border-color: transparent transparent transparent #f2f2f2;
}

[dir='rtl'] .steps-nav__item-text:after {
  left: -16px;
  right: auto;
  border-width: 21px 16px 21px 0;
  border-color: transparent #f2f2f2 transparent transparent;
}

[dir='ltr'] .steps-nav__item_active:after {
  right: -22px;
}

[dir='rtl'] .steps-nav__item_active:after {
  left: -22px;
}

.steps-nav__item_active:before {
  display: block;
}

.steps-nav__item_active .steps-nav__item-text {
  color: #333;
  -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.05))
    drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.15));
  background: #ffffff;
}

[dir='ltr'] .steps-nav__item_active .steps-nav__item-text {
  padding-left: 25px;
}

[dir='rtl'] .steps-nav__item_active .steps-nav__item-text {
  padding-right: 25px;
}

[dir='ltr'] .steps-nav__item_active .steps-nav__item-text:after {
  border-color: transparent transparent transparent #fff;
}

[dir='rtl'] .steps-nav__item_active .steps-nav__item-text:after {
  border-color: transparent #fff transparent transparent;
}

.steps-nav__item:last-child .steps-nav__item-text:after,
.steps-nav__item:last-child:after {
  display: none;
}

.payment-options {
  padding: 26px 0 45px 0 !important;
}

.payment-options__text {
  color: #4f4f4f;
  margin: 0;
}

.payment-options .title-promo {
  margin: 11px 0 4px;
}

.payment-options .title-promo + .payment-options__text {
  font-size: 0.8125rem;
  color: #828282;
}

.payment-options
  .title-promo
  + .payment-options__text
  + .payment-options__text {
  font-size: 0.8125rem;
  color: #828282;
}

.payment-options__desc {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 39px;
  margin-bottom: 36px;
}

.payment-options__select-plan {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 39px;
  margin-bottom: 36px;
}

.payment-options__total-price {
  font-weight: 700;
  color: #2f80ed;
}

[dir='ltr'] .payment-options__total-price {
  margin-left: 7px;
}

[dir='rtl'] .payment-options__total-price {
  margin-right: 7px;
}

.payment-options__total .payment-options__text {
  margin-bottom: 28px;
}

.payment-options__total .btn {
  font-size: 16px;
  min-width: 128px;
}

[dir='ltr'] .payment-options__total .btn + .btn {
  margin-left: 7px;
}

[dir='rtl'] .payment-options__total .btn + .btn {
  margin-right: 7px;
}

.payment-radio {
  width: 100%;
  max-width: 444px;
  margin: 25px auto 0;
  padding: 0 20px;
}

.payment-radio__input {
  display: none;
}

.payment-radio__item {
  border-radius: 4px;
  cursor: pointer;
}

[dir='ltr'] .payment-radio__item {
  padding: 11px 20px 11px 25px;
}

[dir='rtl'] .payment-radio__item {
  padding: 11px 25px 11px 20px;
}

.payment-radio__item + .payment-radio__item {
  margin-top: 10px;
}

.payment-radio__item:hover {
  background: #f2f2f2;
}

.payment-radio__item:not(.checked):hover .payment-radio__label:before {
  background: #fff
    url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' viewBox='0 0 10 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Ellipse'%3E %3Ccircle cx='5' cy='5' r='5' opacity='0.3' fill='%232F80ED'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E")
    center no-repeat / 10px;
}

.payment-radio__item.checked {
  background: #2f80ed;
  box-shadow: 0px 0px 15px rgba(47, 128, 237, 0.3);
}

.payment-radio__item.checked .payment-radio__text-name {
  color: rgba(255, 255, 255, 0.7);
}

.payment-radio__item.checked .payment-radio__price-value {
  color: #fff;
}

.payment-radio__item.checked .payment-radio__price-small {
  color: #fff;
}

.payment-radio__item.checked .payment-radio__price-old {
  color: rgba(255, 255, 255, 0.7);
}

.payment-radio__item.checked .payment-radio__price-old:after {
  background: rgba(255, 255, 255, 0.7);
}

.payment-radio__item.checked .payment-radio__label:before {
  border-color: #2f80ed;
  background: #fff
    url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' viewBox='0 0 10 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Ellipse'%3E %3Ccircle cx='5' cy='5' r='5' fill='%232F80ED'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E")
    center no-repeat / 10px;
}

.payment-radio__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.payment-radio__label:before {
  content: '';
  box-sizing: border-box;
  display: block;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 20px;
}

[dir='ltr'] .payment-radio__text {
  margin-right: auto;
  margin-left: 15px;
}

[dir='rtl'] .payment-radio__text {
  margin-left: auto;
  margin-right: 15px;
}

.payment-radio__text-name {
  font-size: 0.875rem;
  color: rgba(51, 51, 51, 0.7);
  position: relative;
}

.payment-radio__text-sale {
  font-size: 0.75rem;
  color: #fff;
  position: absolute;
  top: 1px;
  bottom: auto;
  background: #eb5757;
  padding: 1px 7px;
  border-radius: 5px;
}

[dir='ltr'] .payment-radio__text-sale {
  right: -18px;
  left: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

[dir='rtl'] .payment-radio__text-sale {
  left: -18px;
  right: auto;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.payment-radio__text-sale:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  border-style: solid;
  margin: auto;
}

[dir='ltr'] .payment-radio__text-sale:after {
  border-width: 9px 8px 9px 0;
  border-color: transparent #eb5757 transparent transparent;
  right: auto;
  left: -6px;
}

[dir='rtl'] .payment-radio__text-sale:after {
  border-width: 9px 0 9px 8px;
  border-color: transparent transparent transparent #eb5757;
  left: auto;
  right: -6px;
}

.payment-radio__price {
  display: flex;
  font-size: 0.875rem;
  color: #2f80ed;
  font-weight: 700;
}

.payment-radio__price-small {
  display: inline;
  font-size: 0.75rem;
  color: #bdbdbd;
  font-weight: 400;
}

.payment-radio__price-old {
  color: #bdbdbd;
  font-weight: 400;
  position: relative;
}

[dir='ltr'] .payment-radio__price-old {
  margin-right: 10px;
}

[dir='rtl'] .payment-radio__price-old {
  margin-left: 10px;
}

.payment-radio__price-old:after {
  content: '';
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  background: #bdbdbd;
}

[dir='ltr'] .payment-radio__price-old:after {
  right: -2px;
  left: -2px;
}

[dir='rtl'] .payment-radio__price-old:after {
  left: -2px;
  right: -2px;
}

.credit-card {
  position: relative;
  max-width: 540px;
  margin: 32px auto 60px;
}

.credit-card__title {
  font-size: 1rem;
  color: #828282;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.credit-card__title:before {
  content: '';
  display: inline-block;
  width: 36px;
  height: 20px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='36' height='20' viewBox='0 0 36 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Group'%3E %3Cg id='Rectangle'%3E %3Crect width='27' height='16.8026' rx='2' transform='translate(9 3.19727)' fill='%23E0E0E0'/%3E %3C/g%3E %3Cg id='Rectangle 2'%3E %3Crect width='10.8667' height='3.06121' transform='translate(25.0664 6.59863)' fill='%23C4C4C4'/%3E %3C/g%3E %3Cg id='Rectangle_2'%3E %3Crect width='27' height='16.8026' rx='2' fill='%23F2F2F2'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E")
    center no-repeat / 36px;
}

[dir='ltr'] .credit-card__title:before {
  margin: 0 12px -3px 0;
}

[dir='rtl'] .credit-card__title:before {
  margin: 0 0 -3px 12px;
}

.credit-card__front {
  box-sizing: border-box;
  width: auto;
  height: auto;
  position: relative;
  z-index: 2;
  background: transparent;
  border: 0;
  border-radius: 30px;
  padding: 0 20px;
}

.credit-card__front .input-group {
  margin-bottom: 14px !important;
}

.credit-card__front .input-group:nth-child(2) {
  width: 40%;
}

[dir='ltr'] .credit-card__front .input-group:nth-child(2) {
  float: left;
}

[dir='rtl'] .credit-card__front .input-group:nth-child(2) {
  float: right;
}

.credit-card__front .input-group:nth-child(3) {
  width: calc(60% - 14px);
}

[dir='ltr'] .credit-card__front .input-group:nth-child(3) {
  float: left;
  margin-left: 14px;
}

[dir='rtl'] .credit-card__front .input-group:nth-child(3) {
  float: right;
  margin-right: 14px;
}

.credit-card__front .input-group .input {
  background: #fff !important;
  padding: 11px 17px !important;
}

.credit-card__back {
  box-sizing: border-box;
  width: 42%;
  height: auto;
  position: static;
  z-index: 1;
}

.credit-card__back {
  background: transparent;
  border-radius: 30px;
}

[dir='ltr'] .credit-card__back {
  padding: 0 0 0 20px;
  float: left;
}

[dir='rtl'] .credit-card__back {
  padding: 0 20px 0 0;
  float: right;
}

.credit-card__back:before {
  content: '';
  width: 100%;
  height: 45px;
  position: absolute;
  top: 50px;
  bottom: auto;
  display: none;
}

.credit-card__back:before {
  background: #c4c4c4;
}

[dir='ltr'] .credit-card__back:before {
  right: 0;
  left: 0;
}

[dir='rtl'] .credit-card__back:before {
  left: 0;
  right: 0;
}

.credit-card__back .input {
  background: #fff !important;
  padding: 11px 17px !important;
}

.credit-card__payments {
  width: 47%;
}

[dir='ltr'] .credit-card__payments {
  margin: 0 20px 0 0;
  float: right;
}

[dir='rtl'] .credit-card__payments {
  margin: 0 0 0 20px;
  float: left;
}

.credit-card__payments-text {
  font-size: 0.8125rem;
  color: #bdbdbd;
  display: none;
  margin-bottom: 10px;
}

[dir='ltr'] .credit-card__payments-text {
  text-align: left;
}

[dir='rtl'] .credit-card__payments-text {
  text-align: right;
}

.credit-card__payments-logo {
  background: url('../img/payments.jpg') center no-repeat;
  background-size: 100%;
  padding-top: 42px;
}

.payment-successful__title {
  font-size: 1.25rem;
}

.payment-successful__text {
  margin: 40px 0 35px;
}

.payment-successful__link {
  font-size: 1.25rem;
  display: block;
}

@media (min-width: 576px) {
  [dir='ltr'] .buy-process .form-container_single {
    border-right-width: 1px;
  }

  [dir='rtl'] .buy-process .form-container_single {
    border-left-width: 1px;
  }

  [dir='ltr'] .buy-process .form-container_single {
    border-left-width: 1px;
  }

  [dir='rtl'] .buy-process .form-container_single {
    border-right-width: 1px;
  }

  .buy-process .form-container_single {
    margin: 0 auto;
  }

  .buy-process .form-container_single {
    border-radius: 4px;
  }

  .buy-process .form-container_single {
    width: 100%;
  }

  .steps-nav__mobile {
    margin: 10px 0 35px;
  }

  .payment-options__total .btn {
    font-size: 18px;
    min-width: 200px;
  }

  .payment-radio__item.checked {
    box-shadow: none;
  }

  .payment-successful__title {
    font-size: 1.5rem;
  }

  .payment-successful__text {
    margin: 40px 0 90px;
  }

  .payment-successful__link {
    font-size: 1rem;
  }

  .payment-successful__link {
    display: inline;
  }
}

@media (min-width: 768px) {
  .steps-nav {
    display: flex;
  }

  .steps-nav__mobile {
    display: none;
  }

  .credit-card {
    margin: 46px auto 10px;
  }

  .credit-card__title {
    display: none;
  }

  .credit-card__front {
    background: #f2f2f2;
    border: 1px solid #e0e0e0;
  }

  .credit-card__front {
    width: 405px;
    height: 247px;
  }

  [dir='ltr'] .credit-card__front {
    padding: 44px 36px 46px 34px;
  }

  [dir='rtl'] .credit-card__front {
    padding: 44px 34px 46px 36px;
  }

  .credit-card__front .input-group:nth-child(2) {
    width: 77px;
  }

  .credit-card__front .input-group:nth-child(3) {
    width: 145px;
  }

  .credit-card__back {
    background: #e0e0e0;
    width: 405px;
    height: 247px;
    position: absolute;
    top: 47px;
    bottom: auto;
    float: none;
  }

  [dir='ltr'] .credit-card__back {
    padding: 111px 28px 47px 297px;
  }

  [dir='rtl'] .credit-card__back {
    padding: 111px 297px 47px 28px;
  }

  [dir='ltr'] .credit-card__back {
    right: auto;
    left: 135px;
  }

  [dir='rtl'] .credit-card__back {
    left: auto;
    right: 135px;
  }

  .credit-card__back:before {
    display: block;
  }

  [dir] .credit-card__payments {
    margin: 45px 0 0 0;
    float: none;
    width: auto;
  }

  .credit-card__payments-text {
    display: block;
  }

  .credit-card__payments-logo {
    padding-top: 10%;
  }
}

@media (min-width: 992px) {
  .steps-nav {
    margin: 57px auto 38px;
  }
}

.process-content {
  display: none;
}
.process-content.active {
  display: block;
}
