.call-action {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

[dir] .call-action {
  padding: 52px 0;
  margin-bottom: 0 !important;
}

[dir=ltr] .call-action {
  background: linear-gradient(105.02deg, rgba(47, 128, 237, 0.3) -6.18%, rgba(235, 87, 87, 0.3) 105.74%), url('../img/call-action-bg.jpg') center / cover;
}

[dir=rtl] .call-action {
  background: linear-gradient(-105.02deg, rgba(47, 128, 237, 0.3) -6.18%, rgba(235, 87, 87, 0.3) 105.74%), url('../img/call-action-bg.jpg') center / cover;
}

[dir] .call-action__title {
  margin-bottom: 30px;
}

.call-action__text {
  opacity: .5;
}

[dir] .call-action__text {
  margin-top: 23px;
}

@media (min-width: 768px) {
  [dir] .call-action {
    padding: 5vw 0;
  }

  [dir] .call-action__title {
    margin-bottom: 40px;
  }

  [dir] .call-action__text {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  [dir] .call-action {
    padding: 60px 0;
  }
}