.footer {
  position: relative;
}

[dir] .footer {
  padding-top: 30px;
  background: #292929;
}

.footer .container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.footer__col {
  display: none;
  width: 33.33333%;
}

[dir] .footer__col {
  margin-bottom: 3vw;
}

.footer__col:last-child {
  width: 33.33333%;
}

.footer__col .footer__link:hover {
  color: #E0E0E0;
}

.footer__title {
  color: #4F4F4F;
}

[dir] .footer__title {
  margin-bottom: 1vw;
}

.footer__link {
  color: #BDBDBD;
  display: block;
  font-size: 0.875rem;
}

[dir] .footer__link {
  margin-bottom: 9px;
}

.footer__mobile {
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer__mobile .footer__mobile-link {
  font-size: 0.875rem;
  color: #828282;
}

.footer__mobile .footer__mobile-link:hover {
  color: #E0E0E0;
}

.footer__copy {
  color: #828282;
  font-size: 0.875rem;
  position: relative;
}

[dir] .footer__copy {
  background: #202020;
  margin-top: 116px;
  padding: 24px 0;
}

.footer__copy .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copy .footer__copy-nav {
  display: none;
}

.footer__copy .footer__copy-nav-link {
  color: #828282;
}

[dir] .footer__copy .footer__copy-nav-link {
  margin: 13px;
}

.footer__copy .footer__copy-nav-link:hover {
  color: #E0E0E0;
}

.footer__copy .footer__ips {
  display: none;
  color: #828282;
  font-weight: 700;
  font-size: 16PX;
}

[dir] .footer__copy .footer__ips .footer__ips-item {
  margin: 5px;
}

.footer .social {
  position: absolute;
  top: -85px;
}

.social {
  display: flex;
}

.social .social__link {
  width: 48px;
  height: 48px;
  display: block;
  opacity: 1;
  -webkit-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
}

[dir] .social .social__link {
  border-radius: 50%;
  background-size: cover;
}

[dir=ltr] .social .social__link {
  margin-right: 10px;
}

[dir=rtl] .social .social__link {
  margin-left: 10px;
}

[dir] .social .social__link:last-child {
  margin: 0;
}

.social .social__link:hover {
  opacity: 1;
  -webkit-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
}

[dir] .social_youtube {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='32' height='32' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cpath fill='%23E52D27' fill-rule='evenodd' clip-rule='evenodd' d='M 20.8157 19.5082C 20.6693 19.5082 20.5639 19.549 20.4997 19.6357C 20.436 19.7172 20.4049 19.8572 20.4049 20.0516L 20.4049 20.5197L 21.2175 20.5197L 21.2175 20.0516C 21.2175 19.8572 21.1848 19.7172 21.12 19.6357C 21.059 19.549 20.9552 19.5082 20.8157 19.5082ZM 17.6465 19.4921C 17.7697 19.4921 17.8661 19.5318 17.9329 19.6122C 17.9977 19.6927 18.0304 19.8123 18.0304 19.9685L 18.0304 22.3634C 18.0304 22.5128 18.0025 22.6179 17.9498 22.6826C 17.8971 22.749 17.815 22.7814 17.7023 22.7814C 17.6243 22.7814 17.5511 22.7641 17.4806 22.7312C 17.4095 22.6988 17.3363 22.6419 17.262 22.5677L 17.262 19.678C 17.3247 19.6143 17.3879 19.5668 17.4516 19.5365C 17.5153 19.5056 17.5801 19.4921 17.6465 19.4921ZM 20.4054 21.2417L 20.4054 22.1153C 20.4054 22.3598 20.4354 22.529 20.4949 22.6241C 20.5571 22.7187 20.6598 22.7647 20.8067 22.7647C 20.9589 22.7647 21.0653 22.725 21.1258 22.645C 21.1859 22.5651 21.218 22.3896 21.218 22.1158L 21.218 21.9042L 22.1633 21.9042L 22.1633 22.1424C 22.1633 22.6184 22.049 22.9763 21.8173 23.2182C 21.5882 23.458 21.2438 23.5771 20.7862 23.5771C 20.3749 23.5771 20.05 23.4506 19.8135 23.1952C 19.5776 22.9413 19.4575 22.5907 19.4575 22.143L 19.4575 20.0605C 19.4575 19.6592 19.5886 19.3301 19.8483 19.0772C 20.1079 18.8238 20.4423 18.6974 20.8546 18.6974C 21.2754 18.6974 21.5987 18.815 21.8252 19.0495C 22.0511 19.2836 22.1633 19.6206 22.1633 20.0605L 22.1633 21.2433L 20.4054 21.2433L 20.4054 21.2417ZM 18.7597 23.2464C 18.617 23.4219 18.4074 23.5081 18.1346 23.5081C 17.954 23.5081 17.7944 23.4757 17.6544 23.4078C 17.5138 23.3404 17.3811 23.237 17.2615 23.0938L 17.2615 23.4496L 16.3326 23.4496L 16.3326 17.1635L 17.2615 17.1635L 17.2615 19.188C 17.3863 19.0469 17.5169 18.9383 17.6554 18.8656C 17.796 18.7914 17.9366 18.7554 18.0793 18.7554C 18.3711 18.7554 18.5928 18.8541 18.7455 19.0506C 18.9003 19.2486 18.9762 19.538 18.9762 19.9178L 18.9762 22.4914C 18.9762 22.8195 18.904 23.0708 18.7597 23.2464ZM 14.7232 23.4496L 14.7232 22.9397C 14.5521 23.1283 14.3767 23.272 14.1918 23.3691C 14.0081 23.4689 13.8306 23.5165 13.6579 23.5165C 13.4446 23.5165 13.2866 23.4491 13.1771 23.3096C 13.0712 23.1706 13.0164 22.9658 13.0164 22.6884L 13.0164 18.8108L 13.9349 18.8108L 13.9349 22.3681C 13.9349 22.4784 13.9543 22.5573 13.9912 22.6069C 14.0318 22.6565 14.0944 22.6806 14.1797 22.6806C 14.2471 22.6806 14.3335 22.6482 14.4367 22.5823C 14.5405 22.517 14.6342 22.4345 14.7222 22.3342L 14.7222 18.8108L 15.6406 18.8108L 15.6406 23.4491L 14.7232 23.4496ZM 11.5414 18.0767L 11.5414 23.4496L 10.505 23.4496L 10.505 18.0767L 9.43385 18.0767L 9.43385 17.1635L 12.6125 17.1635L 12.6125 18.0767L 11.5414 18.0767ZM 15.7954 15.1395C 15.7954 15.1395 22.157 15.1489 22.9121 15.8971C 23.6699 16.6468 23.6784 20.3452 23.6784 20.3666C 23.6784 20.3666 23.672 24.0849 22.9121 24.8367C 22.157 25.5838 15.7954 25.6 15.7954 25.6C 15.7954 25.6 9.43437 25.5838 8.67762 24.8362C 7.92035 24.0865 7.91877 20.3943 7.91877 20.3661C 7.91877 20.3447 7.92087 16.6463 8.67762 15.8966C 9.4349 15.1489 15.7954 15.1395 15.7954 15.1395ZM 20.812 13.1944L 19.7766 13.1944L 19.7766 12.6302C 19.5881 12.8376 19.389 12.9975 19.1816 13.1051C 18.9751 13.2138 18.7755 13.2681 18.5812 13.2681C 18.34 13.2681 18.1615 13.1918 18.0404 13.0398C 17.9198 12.8878 17.8587 12.66 17.8587 12.3549L 17.8587 8.08542L 18.8919 8.08542L 18.8919 12.0022C 18.8919 12.1229 18.9156 12.2107 18.9588 12.2645C 19.0009 12.3188 19.0725 12.346 19.1689 12.346C 19.2442 12.346 19.3411 12.3099 19.4575 12.2384C 19.5734 12.1668 19.6803 12.0754 19.7761 11.963L 19.7761 8.08542L 20.8114 8.08542L 20.812 13.1944ZM 15.1914 12.3235C 15.2646 12.4003 15.3699 12.4379 15.5073 12.4379C 15.6474 12.4379 15.758 12.3988 15.8412 12.3214C 15.9239 12.242 15.965 12.1344 15.965 11.9986L 15.965 9.21548C 15.965 9.10367 15.9228 9.01329 15.8381 8.94433C 15.7538 8.87589 15.6432 8.84193 15.5073 8.84193C 15.3804 8.84193 15.2783 8.87589 15.1987 8.94433C 15.1208 9.01329 15.0803 9.10367 15.0803 9.21548L 15.0803 11.9986C 15.0803 12.1381 15.1182 12.2457 15.1914 12.3235ZM 14.4336 8.30851C 14.7116 8.07393 15.0871 7.95638 15.5563 7.95638C 15.9839 7.95638 16.3357 8.0802 16.6101 8.32784C 16.8823 8.57496 17.0193 8.89365 17.0193 9.28287L 17.0193 11.9218C 17.0193 12.3585 16.885 12.7007 16.618 12.9499C 16.3478 13.1986 15.9797 13.323 15.5089 13.323C 15.0571 13.323 14.6942 13.1944 14.422 12.9384C 14.1518 12.6814 14.0154 12.3361 14.0154 11.9019L 14.0154 9.25414C 14.0149 8.8576 14.1539 8.54256 14.4336 8.30851ZM 11.197 6.26939L 10.0231 6.26939L 11.4102 10.4505L 11.4102 13.1944L 12.5757 13.1944L 12.5757 10.321L 13.9312 6.26939L 12.7463 6.26939L 12.0269 9.03732L 11.9537 9.03732L 11.197 6.26939ZM 15.7986 31.3469C 7.07354 31.3469 0 24.3294 0 15.6735C 0 7.01701 7.07354 0 15.7986 0C 24.5236 0 31.5971 7.01701 31.5971 15.6735C 31.5971 24.3294 24.5236 31.3469 15.7986 31.3469Z'/%3E %3C/svg%3E");
}

[dir] .social_google {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='32' height='32' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 15.2525 16.197C 16.0998 15.3569 16.1656 14.1881 16.1656 13.5314C 16.1656 10.8925 14.591 6.8049 11.5335 6.8049C 10.5803 6.8049 9.54812 7.28033 8.95304 8.01175C 8.33111 8.77871 8.14574 9.76353 8.14574 10.7086C 8.14574 13.1641 9.57498 17.221 12.7515 17.221C 13.6647 17.221 14.6574 16.7743 15.2525 16.197ZM 0 15.6735C 0 19.5422 1.41292 23.0839 3.75426 25.8168C 4.1961 25.0802 4.88123 24.3555 5.8955 23.7599C 8.18523 22.3681 11.2691 22.1837 12.9364 22.0787C 12.4203 21.422 11.8247 20.7261 11.8247 19.5845C 11.8247 18.967 12.0101 18.5997 12.1954 18.1661C 11.7852 18.2058 11.3881 18.245 11.0174 18.245C 7.11304 18.245 4.90282 15.3563 4.90282 12.5069C 4.90282 10.8262 5.6838 8.95896 7.25839 7.6079C 9.36275 5.89218 11.8642 5.59909 13.8495 5.59909L 21.4334 5.59909L 19.0773 6.91357L 16.8012 6.91357C 17.6475 7.6079 19.4085 9.06971 19.4085 11.8502C 19.4085 14.5554 17.8597 15.8286 16.3247 17.036C 15.8349 17.5094 15.2925 18.0214 15.2925 18.8217C 15.2925 19.6227 15.8349 20.0699 16.2457 20.398L 17.5691 21.422C 19.1974 22.7615 20.6661 24.0086 20.6661 26.53C 20.6661 28.1924 19.8846 29.8611 18.36 31.1411C 17.5401 31.2743 16.6996 31.3438 15.8423 31.3464C 17.3895 30.673 18.1915 29.4416 18.1915 27.9609C 18.1915 26.0969 16.9871 25.112 14.1813 23.1293C 13.8901 23.1027 13.7047 23.1027 13.3345 23.1027C 13.0038 23.1027 11.0184 23.169 9.47018 23.6805C 8.66288 23.9694 6.30731 24.8492 6.30731 27.4489C 6.30731 27.7316 6.33786 28.0054 6.39684 28.2687C 2.5146 25.4145 0 20.8353 0 15.6735ZM 30.4017 9.68202C 30.6334 10.2374 30.8341 10.81 31.0015 11.3962C 30.8346 10.81 30.6339 10.2379 30.4017 9.68202ZM 15.7986 31.3469C 7.07354 31.3469 0 24.3294 0 15.6735C 0 7.01701 7.07354 0 15.7986 0C 22.385 0 28.0303 3.9983 30.4017 9.68202L 27.2599 9.68202L 27.2599 5.59961L 25.4962 5.59961L 25.4962 9.68202L 21.3812 9.68202L 21.3812 11.3962L 25.4962 11.3962L 25.4962 15.5141L 27.2599 15.5141L 27.2599 11.3962L 31.001 11.3962C 31.3891 12.7556 31.5971 14.1908 31.5971 15.6735C 31.5971 24.3294 24.5236 31.3469 15.7986 31.3469Z' transform='translate(0.179932 0)' fill='%23EB5757'/%3E %3C/svg%3E");
}

[dir] .social_linkedin {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='32' height='32' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 24.6652 23.0593L 24.6652 16.9404C 24.6652 13.662 22.9011 12.1365 20.5492 12.1365C 18.6513 12.1365 17.8008 13.1725 17.3268 13.8992L 17.3268 12.3873L 13.7511 12.3873C 13.7985 13.3888 13.7511 23.0593 13.7511 23.0593L 17.3268 23.0593L 17.3268 17.0992C 17.3268 16.7811 17.35 16.4624 17.4448 16.2346C 17.7028 15.5972 18.291 14.9373 19.2785 14.9373C 20.5729 14.9373 21.09 15.9159 21.09 17.35L 21.09 23.0599L 24.6652 23.0599L 24.6652 23.0593ZM 9.98416 10.9307C 11.2307 10.9307 12.0074 10.1104 12.0074 9.08591C 11.9843 8.03945 11.2307 7.24271 10.0079 7.24271C 8.78505 7.24271 7.98512 8.03892 7.98512 9.08591C 7.98512 10.1104 8.76136 10.9307 9.96152 10.9307L 9.98416 10.9307ZM 15.7986 31.3469C 7.07354 31.3469 0 24.3294 0 15.6735C 0 7.01701 7.07354 0 15.7986 0C 24.5236 0 31.5971 7.01701 31.5971 15.6735C 31.5971 24.3294 24.5236 31.3469 15.7986 31.3469ZM 11.772 23.0593L 11.772 12.3873L 8.19682 12.3873L 8.19682 23.0593L 11.772 23.0593Z' transform='translate(0.359863 0)' fill='%230077B5'/%3E %3C/svg%3E");
}

[dir] .social_twitter {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='33' height='32' viewBox='0 0 33 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 17.993 9.55194C 16.6138 10.0498 15.7422 11.334 15.8412 12.7394L 15.8744 13.2817L 15.3225 13.2153C 13.3145 12.9609 11.5598 12.0978 10.07 10.6475L 9.34169 9.9281L 9.15421 10.4594C 8.75714 11.6438 9.01097 12.8946 9.83829 13.7357C 10.2796 14.2007 10.1801 14.267 9.4191 13.9901C 9.15421 13.9018 8.9225 13.8355 8.90038 13.8684C 8.8235 13.9463 9.08786 14.953 9.29745 15.3516C 9.58446 15.9054 10.169 16.4472 10.8094 16.7685L 11.3502 17.023L 10.7104 17.0339C 10.0926 17.0339 10.0705 17.0449 10.1369 17.2779C 10.3575 17.9973 11.2291 18.7611 12.2002 19.0934L 12.8843 19.3254L 12.2886 19.6796C 11.406 20.1895 10.3686 20.4769 9.33116 20.4983C 8.83403 20.5093 8.4259 20.5537 8.4259 20.5871C 8.4259 20.6973 9.77246 21.317 10.5555 21.5609C 12.9058 22.2804 15.698 21.97 17.7944 20.7417C 19.2843 19.8672 20.7735 18.1295 21.4692 16.4467C 21.8447 15.5507 22.2196 13.9123 22.2196 13.1271C 22.2196 12.6177 22.2528 12.5513 22.8705 11.9427C 23.2349 11.5884 23.5767 11.2013 23.6431 11.0905C 23.7537 10.88 23.7421 10.88 23.1796 11.0681C 22.2417 11.4004 22.109 11.356 22.573 10.8581C 22.9148 10.5038 23.3234 9.86175 23.3234 9.67367C 23.3234 9.64075 23.1581 9.69561 22.9701 9.7954C 22.7715 9.90616 22.3302 10.0723 21.999 10.1716L 21.4034 10.3602L 20.8625 9.99445C 20.5645 9.7954 20.1458 9.57388 19.9246 9.50753C 19.3617 9.35288 18.5006 9.37483 17.993 9.55194ZM 15.7986 31.3469C 7.07354 31.3469 0 24.3294 0 15.6735C 0 7.01701 7.07354 0 15.7986 0C 24.5236 0 31.5971 7.01701 31.5971 15.6735C 31.5971 24.3294 24.5236 31.3469 15.7986 31.3469Z' transform='translate(0.881348 0)' fill='%2356CCF2'/%3E %3C/svg%3E");
}

[dir] .social_facebook {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='32' height='32' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cpath d='M 15.7986 -1.34867e-07C 7.08727 -1.34867e-07 -1.35944e-07 7.03115 -1.35944e-07 15.6735C -1.35944e-07 24.3158 7.08727 31.3469 15.7986 31.3469C 24.5099 31.3469 31.5971 24.3158 31.5971 15.6735C 31.5971 7.03115 24.5099 -1.34867e-07 15.7986 -1.34867e-07ZM 19.7275 16.2253L 17.1572 16.2253C 17.1572 20.2992 17.1572 25.3152 17.1572 25.3152L 13.3485 25.3152C 13.3485 25.3152 13.3485 20.3479 13.3485 16.2253L 11.5381 16.2253L 11.5381 13.013L 13.3485 13.013L 13.3485 10.9353C 13.3485 9.44727 14.0613 7.12207 17.1922 7.12207L 20.0133 7.1328L 20.0133 10.251C 20.0133 10.251 18.2982 10.251 17.9648 10.251C 17.6313 10.251 17.1579 10.4164 17.1579 11.126L 17.1579 13.0137L 20.0597 13.0137L 19.7275 16.2253Z' transform='translate(0.402832 0.653076)' fill='%233B5998'/%3E %3C/svg%3E");
}

@media (min-width: 576px) {
  [dir] .footer {
    padding-top: 4.5vw;
  }

  .footer__col {
    display: block;
  }

  .footer__mobile {
    display: none;
  }

  [dir] .footer__copy {
    margin-top: 39px;
  }

  .footer__copy .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer .social {
    position: static;
  }

  .social .social__link {
    width: 31px;
    height: 31px;
  }

  .social .social__link {
    opacity: .2;
  }

  .social .social__link {
    -webkit-filter: grayscale(1) brightness(4);
    filter: grayscale(1) brightness(4);
  }
}

@media (min-width: 768px) {
  [dir=ltr] .footer {
    background: #292929 url('../img/footer-bg.png') right top no-repeat;
  }

  [dir=rtl] .footer {
    background: #292929 url('../img/footer-bg.png') left top no-repeat;
  }

  [dir] .footer__copy {
    padding: 32px 0;
  }

  .footer__copy .footer__copy-nav {
    display: block;
  }
}

@media (min-width: 992px) {
  .footer__col {
    width: 16.6666667%;
  }

  .footer__col:last-child {
    width: 10.65%;
  }

  [dir] .footer__copy {
    padding: 42px 0;
  }

  .footer__copy .footer__ips {
    display: block;
  }
}

@media (min-width: 1200px) {
  .footer__copy .footer__ips {
    font-size: 24PX;
  }
}

@media (max-width: 576px) {
  [dir] .social .social__link {
    background-size: 113%;
    background-position: center;
    background-color: white;
  }
}

@media $ {
  .footer .container {
    flex-wrap: lg nowrap;
  }
}