.page-container {
  padding: 25px 0 40px;
}

.page-container_gray {
  min-height: 100vh;
}

.page-container_gray {
  background-color: #fff;
  padding: 20px 0;
}

.page-container > :first-child:not(.container, nav) {
  margin: 5px 0 40px;
}

.block-outer {
  margin: 40px 0;
}

.block-outer:last-child {
  margin-bottom: 0;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pb-0 {
  padding-bottom: 0;
}

.container {
  max-width: 540px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col-12 {
  width: 100%;
  padding: 0 10px;
}

.col-6 {
  width: 50%;
  padding: 0 10px;
}

.col-4 {
  width: 33.33333%;
  padding: 0 10px;
}

.half-gutters {
  margin: 0 -5px;
}

.half-gutters > [class*='col-'] {
  padding: 0 5px;
  margin-bottom: 21px;
}

.full-gutters > [class*='col-'] {
  margin-bottom: 35px;
}

.pt-0 {
  padding-top: 0 !important;
}

@media (min-width: 576px) {
  .col-sm-6 {
    width: 50%;
  }

  .page-container {
    padding: 5vw 0 6vw;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-8 {
    width: 66.66666%;
  }

  .col-md-5 {
    width: 41.66666%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-4 {
    width: 33.33334%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-9 {
    width: 75%;
  }

  .row .col-12:first-child > :first-child, .row .col-md-4 > :first-child, .row .col-md-6 > :first-child, .row .col-md-8 > :first-child {
    margin-top: 0;
  }

  .row .col-12 > :last-child:not(:first-child),.row .col-md-4 > :last-child:not(:first-child),.row .col-md-6 > :last-child:not(:first-child) {
    margin-bottom: 0;
  }

  .page-container_gray {
    background-color: #F7F7F7;
  }

  .page-container_gray {
    padding: 40px 0;
  }

  .page-container > :first-child:not(.container, nav) {
    margin: 2vw 0 5vw;
  }

  .block-outer {
    margin: 5vw 0;
  }

  .container {
    padding: 0 3vw;
  }

  .row {
    margin: 0 -3vw;
  }

  .col-12 {
    padding: 0 3vw;
  }

  .col-6 {
    padding: 0 3vw;
  }

  .col-4 {
    padding: 0 3vw;
  }

  .half-gutters {
    margin: 0 -1.5vw;
  }

  .half-gutters > [class*='col-'] {
    padding: 0 1.5vw;
  }

  .half-gutters > [class*='col-'] {
    margin-bottom: 3vw;
  }

  .full-gutters > [class*='col-'] {
    margin-bottom: 6vw;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33334%;
  }

  .col-lg-5 {
    width: 41.66666%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66666%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .page-container {
    padding: 45px 0 65px;
  }

  .page-container > :first-child:not(.container, nav) {
    margin: 15px 0 65px;
  }

  .block-outer {
    margin: 65px 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1142px;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33334%;
  }

  .col-xl-5 {
    width: 41.66666%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33333%;
  }

  .container {
    padding: 0 26px;
  }

  .row {
    margin: 0 -26px;
  }

  .col-12 {
    padding: 0 26px;
  }

  .col-6 {
    padding: 0 26px;
  }

  .col-4 {
    padding: 0 26px;
  }

  .half-gutters {
    margin: 0 -13px;
  }

  .half-gutters > [class*='col-'] {
    padding: 0 13px;
  }

  .half-gutters > [class*='col-'] {
    margin-bottom: 26px;
  }

  .full-gutters > [class*='col-'] {
    margin-bottom: 54px;
  }
}