[dir] .page-container {
  padding: 25px 0 40px;
}

.page-container_smooth-footer + section {
  position: relative;
}

.page-container_smooth-footer + section:before {
  content: '';
  position: absolute;
  top: -30px;
  height: 30px;
  display: block;
}

[dir] .page-container_smooth-footer + section:before {
  background-image: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(32,89,154,0) 1%,rgba(255,255,255,1) 100%);
}

[dir=ltr] .page-container_smooth-footer + section:before {
  left: 0;
  right: 0;
}

[dir=rtl] .page-container_smooth-footer + section:before {
  right: 0;
  left: 0;
}

.page-container_gray {
  min-height: 100vh;
}

[dir] .page-container_gray {
  background-color: #fff;
  padding: 20px 0;
}

[dir] .page-container > :first-child:not(.container, [dir] nav) {
  margin: 5px 0 40px;
}

[dir] .block-outer {
  margin: 40px 0;
}

[dir] .block-outer:last-child {
  margin-bottom: 0;
}

[dir] .mb-0 {
  margin-bottom: 0 !important;
}

[dir] .pb-0 {
  padding-bottom: 0;
}

.container {
  max-width: 540px;
}

[dir] .container {
  padding: 0 20px;
}

[dir=ltr] .container {
  margin-left: auto;
  margin-right: auto;
}

[dir=rtl] .container {
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[dir] .row {
  margin: 0 -10px;
}

.col-12 {
  width: 100%;
}

[dir] .col-12 {
  padding: 0 10px;
}

.col-6 {
  width: 50%;
}

[dir] .col-6 {
  padding: 0 10px;
}

.col-4 {
  width: 33.33333%;
}

[dir] .col-4 {
  padding: 0 10px;
}

[dir] .half-gutters {
  margin: 0 -5px;
}

[dir] .half-gutters > [class*='col-'] {
  padding: 0 5px;
  margin-bottom: 21px;
}

[dir] .half-gutters .half-gutters .col-12:last-child {
  margin-bottom: 0;
}

[dir] .full-gutters > [class*='col-'] {
  margin-bottom: 35px;
}

[dir] .pt-0 {
  padding-top: 0 !important;
}

@media (min-width: 576px) {
  .col-sm-6 {
    width: 50%;
  }

  [dir] .page-container {
    padding: 5vw 0 6vw;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-8 {
    width: 66.66666%;
  }

  .col-md-5 {
    width: 41.66666%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33333%;
  }

  .col-md-4 {
    width: 33.33334%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-9 {
    width: 75%;
  }

  [dir] .row .col-12:first-child > :first-child,[dir] .row .col-md-4 > :first-child,[dir] .row .col-md-6 > :first-child,[dir] .row .col-md-8 > :first-child {
    margin-top: 0;
  }

  [dir] .row .col-12 > :last-child:not(:first-child),[dir] .row .col-md-4 > :last-child:not(:first-child),[dir] .row .col-md-6 > :last-child:not(:first-child) {
    margin-bottom: 0;
  }

  [dir] .page-container_gray {
    background-color: #F7F7F7;
  }

  [dir] .page-container_gray {
    padding: 40px 0;
  }

  [dir] .page-container > :first-child:not(.container, [dir] nav) {
    margin: 2vw 0 5vw;
  }

  [dir] .block-outer {
    margin: 5vw 0;
  }

  [dir] .container {
    padding: 0 3vw;
  }

  [dir] .row {
    margin: 0 -3vw;
  }

  [dir] .col-12 {
    padding: 0 3vw;
  }

  [dir] .col-6 {
    padding: 0 3vw;
  }

  [dir] .col-4 {
    padding: 0 3vw;
  }

  [dir] .half-gutters {
    margin: 0 -1.5vw;
  }

  [dir] .half-gutters > [class*='col-'] {
    padding: 0 1.5vw;
  }

  [dir] .half-gutters > [class*='col-'] {
    margin-bottom: 3vw;
  }

  [dir] .full-gutters > [class*='col-'] {
    margin-bottom: 6vw;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33334%;
  }

  .col-lg-5 {
    width: 41.66666%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33333%;
  }

  .col-lg-8 {
    width: 66.66666%;
  }

  .col-lg-9 {
    width: 75%;
  }

  [dir] .page-container {
    padding: 45px 0 65px;
  }

  [dir] .page-container > :first-child:not(.container, [dir] nav) {
    margin: 15px 0 65px;
  }

  [dir] .block-outer {
    margin: 65px 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1142px;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.33334%;
  }

  .col-xl-5 {
    width: 41.66666%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.33333%;
  }

  [dir] .container {
    padding: 0 26px;
  }

  [dir] .row {
    margin: 0 -26px;
  }

  [dir] .col-12 {
    padding: 0 26px;
  }

  [dir] .col-6 {
    padding: 0 26px;
  }

  [dir] .col-4 {
    padding: 0 26px;
  }

  [dir] .half-gutters {
    margin: 0 -13px;
  }

  [dir] .half-gutters > [class*='col-'] {
    padding: 0 13px;
  }

  [dir] .half-gutters > [class*='col-'] {
    margin-bottom: 26px;
  }

  [dir] .full-gutters > [class*='col-'] {
    margin-bottom: 54px;
  }
}