.guidebook {
  display: none;
}

.guidebook_fixed {
  position: fixed;
  top: 145px;
}

.guidebook__list {
  list-style: none;
  position: relative;
  padding: 0;
  padding-top: 0;
  margin-top: 0;
}

[dir=ltr] .guidebook__list {
  padding-left: 27px;
}

[dir=rtl] .guidebook__list {
  padding-right: 27px;
}

.guidebook__list:before {
  content: '';
  width: 1px;
  position: absolute;
  top: 14px;
  bottom: 14px;
  right: 0;
  left: 0;
}

.guidebook__item {
  position: relative;
  margin-top: 0;
  margin-bottom: 15px;
}

.guidebook__item:before {
  content: '';
  position: absolute;
  top: 8px;
  bottom: 8px;
  width: 7px;
  height: 7px;
  transition: .2s ease;
  background-color: #e0e0e0;
  border-radius: 50%;
}

[dir=ltr] .guidebook__item:before {
  right: -29.7px;
  left: -29.7px;
}

[dir=rtl] .guidebook__item:before {
  left: -29.7px;
  right: -29.7px;
}

.guidebook__item.active:before,.guidebook__item:hover:before {
  width: 11px;
  height: 11px
  background-color: #2F80ED;
}

[dir=ltr] .guidebook__item.active:before,[dir=ltr] .guidebook__item:hover:before {
  left: -32px;
}

[dir=rtl] .guidebook__item.active:before,[dir=rtl] .guidebook__item:hover:before {
  right: -32px;
}

.guidebook__elem {
  color: #333;
}

.guidebook__item.active .guidebook__elem,
.guidebook__item:active .guidebook__elem,
.guidebook__item:hover .guidebook__elem {
  font-weight: 700;
}

@media (min-width: 768px) {
  .guidebook {
    display: block;
  }
}