[dir] .instructions {
  margin-bottom: -55px !important;
}

[dir=ltr] .instructions__article {
  padding-left: 50px;
}

[dir=rtl] .instructions__article {
  padding-right: 50px;
}

[dir] .instructions__title {
  margin-bottom: 14px;
}

.instructions__list {
  list-style: none;
}

[dir] .instructions__list {
  padding: 0;
  margin-top: 0;
}

[dir] .instructions__list-item {
  margin: 7px 0;
}

.instructions__list-link {
  color: #828282;
}

.instructions__list-link:active,.instructions__list-link:hover {
  color: #2F80ED;
}

.instructions__item {
  position: relative;
}

[dir] .instructions__item {
  margin-bottom: 65px;
}

.instructions__item:after {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  top: -5px;
  bottom: 0;
}

[dir=ltr] .instructions__item:after {
  right: 0;
  left: 0px;
}

[dir=rtl] .instructions__item:after {
  left: 0;
  right: 0px;
}

[dir] .instructions .row > .col-12:nth-of-type(1) .instructions__item:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='25' viewBox='0 0 24 25' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 22.0169 13.1454C 22.0678 12.5268 22.0678 11.8566 22.0169 11.1864L 24 10.207C 23.6949 8.24807 22.9322 6.4438 21.8644 4.94884L 19.7797 5.67056C 19.3729 5.15505 18.9153 4.69109 18.4068 4.27869L 19.1186 2.1651C 17.5932 1.031 15.8136 0.309315 13.9322 1.25856e-05L 12.9661 2.01046C 12.3559 1.95891 11.6949 1.95891 11.0339 2.01046L 10.0678 1.25856e-05C 8.13559 0.309315 6.35594 1.08256 4.88136 2.21667L 5.59322 4.33023C 5.13559 4.74263 4.67796 5.2066 4.27118 5.67056L 2.18644 4.94884C 1.0678 6.49535 0.305085 8.29962 0 10.207L 1.98305 11.1864C 1.9322 11.805 1.9322 12.4752 1.98305 13.1454L 0 14.1248C 0.305085 16.0837 1.0678 17.888 2.13559 19.383L 4.22034 18.6612C 4.62712 19.1767 5.08475 19.6407 5.59322 20.0531L 4.88136 22.1667C 6.40678 23.3008 8.18643 24.0225 10.0678 24.3318L 11.0339 22.3213C 11.6441 22.3729 12.3051 22.3729 12.9661 22.3213L 13.9322 24.3318C 15.8644 24.0225 17.6441 23.2492 19.1186 22.1151L 18.4068 20.0016C 18.8644 19.5892 19.322 19.1252 19.7288 18.6612L 21.8136 19.383C 22.9322 17.8364 23.6949 16.0322 24 14.1248L 22.0169 13.1454ZM 14.8475 15.1043L 11.9492 16.2899L 9.10169 15.1043L 7.88136 12.1659L 9.05084 9.22752L 11.8983 8.04187L 14.7458 9.22752L 15.9152 12.1659L 14.8475 15.1043Z' transform='translate(0 0.414795)' fill='url(%23paint0_linear)'/%3E %3C/g%3E %3C/g%3E %3Cdefs%3E %3ClinearGradient id='paint0_linear' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(40 33.4562 -33 40.553 9 -24.3318)'%3E %3Cstop stop-color='%232F80ED'/%3E %3Cstop offset='1' stop-color='%23EB5757'/%3E %3C/linearGradient%3E %3C/defs%3E %3C/svg%3E") center no-repeat;
}

[dir] .instructions .row > .col-12:nth-of-type(2) .instructions__item:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='25' viewBox='0 0 24 25' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 0.601248 20.8414C -0.200416 21.6508 -0.200416 22.9154 0.601248 23.7248C 1.40291 24.5341 2.65551 24.5341 3.45717 23.7248C 4.25884 22.9154 4.25884 21.6508 3.45717 20.8414C 2.65551 20.032 1.35281 20.032 0.601248 20.8414ZM 2.00416 14.164L 2.00416 16.1875C 3.50728 16.1875 5.0605 16.7945 6.21289 17.958C 7.36528 19.1215 7.96653 20.6896 7.96653 22.2578L 9.97069 22.2578C 9.97069 20.1838 9.16903 18.1097 7.61581 16.5416C 6.11269 14.9228 4.05842 14.164 2.00416 14.164ZM 2.00416 7.08202L 2.00416 9.10545C 5.31102 9.10545 8.66799 10.4207 11.1732 12.95C 13.7285 15.5299 14.9811 18.8685 14.9811 22.2578L 16.9853 22.2578C 16.9853 18.3627 15.5322 14.4675 12.5761 11.5336C 9.67007 8.549 5.86217 7.08202 2.00416 7.08202ZM 2.00416 0L 2.00416 1.97285C 7.11477 1.97285 12.2254 3.9457 16.1335 7.8914C 20.0416 11.8371 21.9956 17.0474 21.9956 22.2072L 23.9998 22.2072C 24.0499 9.96541 14.1794 0 2.00416 0Z' transform='translate(0 0.428467)' fill='url(%23paint0_linear)'/%3E %3C/g%3E %3C/g%3E %3Cdefs%3E %3ClinearGradient id='paint0_linear' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(40 33.4562 -33 40.553 9 -24.3318)'%3E %3Cstop stop-color='%232F80ED'/%3E %3Cstop offset='1' stop-color='%23EB5757'/%3E %3C/linearGradient%3E %3C/defs%3E %3C/svg%3E") center no-repeat;
}

[dir] .instructions .row > .col-12:nth-of-type(3) .instructions__item:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='25' viewBox='0 0 28 25' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath d='M 10.8892 24.3318L 17.1116 20.2765L 17.1116 13.788L 28 0L 13.9911 0L 0 0L 10.8892 13.788L 10.8892 24.3318Z' transform='translate(0 0.442383)' fill='url(%23paint0_linear)'/%3E %3C/g%3E %3C/g%3E %3Cdefs%3E %3ClinearGradient id='paint0_linear' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(46.6667 33.4562 -38.5 40.553 10.5 -24.3318)'%3E %3Cstop stop-color='%232F80ED'/%3E %3Cstop offset='1' stop-color='%23EB5757'/%3E %3C/linearGradient%3E %3C/defs%3E %3C/svg%3E") center no-repeat;
}

[dir] .instructions .row > .col-12:nth-of-type(4) .instructions__item:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='25' height='25' viewBox='0 0 25 25' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath d='M 5.33451e-08 21.379L 10.0869 22.8399L 10.0869 13.1895L 5.33451e-08 13.1895L 5.33451e-08 21.379ZM 5.33451e-08 11.811L 10.0869 11.811L 10.0869 2.15961L 5.33451e-08 3.62054L 5.33451e-08 11.811ZM 11.4654 23.0397L 25 25L 25 13.1895L 11.4654 13.1895L 11.4654 23.0397ZM 11.4654 1.95926L 11.4654 11.811L 25 11.811L 25 -1.18327e-07L 11.4654 1.95926Z' fill='url(%23paint0_linear)'/%3E %3C/g%3E %3C/g%3E %3Cdefs%3E %3ClinearGradient id='paint0_linear' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(41.6667 34.375 -34.375 41.6667 9.375 -25)'%3E %3Cstop stop-color='%232F80ED'/%3E %3Cstop offset='1' stop-color='%23EB5757'/%3E %3C/linearGradient%3E %3C/defs%3E %3C/svg%3E") center no-repeat;
}

[dir] .instructions .row > .col-12:nth-of-type(5) .instructions__item:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='23' height='30' viewBox='0 0 23 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath d='M 15.8076 4.55939C 16.9167 3.35092 17.6669 1.67312 17.4617 0C 15.8638 0.0580813 13.9271 0.954595 12.7802 2.16306C 11.7521 3.23288 10.8519 4.94253 11.0921 6.58286C 12.8751 6.70558 14.6966 5.76598 15.8076 4.55939ZM 19.2105 16.1138C 19.1765 12.3629 22.1283 10.5614 22.259 10.4743C 20.5995 7.92717 18.0148 7.57868 17.0944 7.53933C 14.8936 7.3042 12.8033 8.89581 11.6858 8.89581C 10.573 8.89581 8.85177 7.57025 7.02652 7.60585C 4.62691 7.64613 2.41599 9.06818 1.18351 11.3221C -1.30907 15.8562 0.544715 22.573 2.97378 26.2509C 4.16116 28.0514 5.57497 30.0711 7.43152 29.9981C 9.22363 29.925 9.89924 28.7849 12.0614 28.7849C 14.2244 28.7849 14.8301 29.9981 16.7225 29.9615C 18.6481 29.925 19.8668 28.1264 21.044 26.3202C 22.4063 24.2321 22.9678 22.2105 23 22.1084C 22.9586 22.084 19.2501 20.5992 19.2105 16.1138Z' fill='url(%23paint0_linear)'/%3E %3C/g%3E %3C/g%3E %3Cdefs%3E %3ClinearGradient id='paint0_linear' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(38.3333 41.25 -31.625 50 8.625 -30)'%3E %3Cstop stop-color='%232F80ED'/%3E %3Cstop offset='1' stop-color='%23EB5757'/%3E %3C/linearGradient%3E %3C/defs%3E %3C/svg%3E") center no-repeat;
}

[dir] .instructions .row > .col-12:nth-of-type(6) .instructions__item:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='26' height='30' viewBox='0 0 26 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath d='M 11.2009 6.87933C 10.8719 6.91375 10.9855 7.21076 10.8023 7.21718C 10.6219 7.22368 10.6587 6.83904 11.2009 6.87933ZM 12.1929 6.92833C 12.5131 6.84761 12.5148 7.16397 12.6897 7.1064C 12.8597 7.05047 12.687 6.70447 12.1929 6.92833ZM 23.2296 27.6493C 22.2404 28.1373 20.9501 29.2215 20.4676 29.6707C 20.1128 30.0038 18.6262 30.169 17.8004 29.752C 16.8216 29.2576 17.3409 28.486 15.8296 28.4495C 15.0784 28.4323 14.348 28.4258 13.616 28.4344C 12.9684 28.443 12.3213 28.4624 11.6611 28.4963C 9.39195 28.5156 9.16992 29.9715 7.72449 29.9182C 6.73522 29.8822 5.48671 29.1166 3.34263 28.6759C 1.83583 28.3681 0.389238 28.295 0.0794046 27.6408C -0.229919 26.9887 0.461091 26.2575 0.5071 25.6075C 0.563519 24.7602 -0.147074 23.6077 0.378173 23.1612C 0.811911 22.7915 1.76223 23.0627 2.37476 22.727C 3.02617 22.3724 3.28774 22.077 3.28774 21.2985C 3.52739 22.0937 3.27682 22.7527 2.73832 23.0756C 2.41808 23.2655 1.82258 23.3661 1.33293 23.3172C 0.945206 23.2812 0.705041 23.343 0.587179 23.4878C 0.436921 23.6761 0.485188 24.0054 0.67432 24.4439C 0.864617 24.8824 1.09328 25.1605 1.06256 25.697C 1.03184 26.2339 0.430297 26.8714 0.526319 27.3228C 0.563592 27.4961 0.737364 27.6408 1.15414 27.7565C 1.84508 27.947 3.0783 28.1197 4.29513 28.4107C 5.64789 28.7363 7.04454 29.3496 7.91253 29.2318C 10.5079 28.8772 9.02789 26.1462 8.60791 25.4968C 6.41723 22.1131 4.96853 19.8981 3.80876 20.7772C 3.50606 21.0059 3.49456 20.2015 3.50774 19.8917C 3.55768 18.7796 4.13345 18.3905 4.4756 17.5249C 5.11609 15.9038 5.61557 14.0471 6.60651 13.0872C 7.34404 12.1613 8.49448 10.6371 8.71492 9.8327C 8.52957 8.08362 8.47257 6.24247 8.44396 4.63003C 8.41601 2.91481 8.69293 1.40995 10.667 0.357586C 11.1485 0.100943 11.7741 0.00679937 12.4371 0.000370775C 13.6225 -0.0125578 14.9298 0.312944 15.7649 0.920374C 17.0964 1.88881 17.9331 3.95003 17.8355 5.43232C 17.7565 6.57347 17.966 7.76947 18.3389 8.99891C 18.7852 10.4591 19.4915 11.4856 20.6134 12.6531C 21.9656 14.0601 23.0179 16.832 23.3141 18.5876C 23.5932 20.2275 23.2296 21.2412 22.8628 21.2922C 22.3167 21.3713 21.9761 23.0736 20.2652 22.9945C 19.1735 22.9429 19.0665 22.3102 18.7639 21.7711C 18.2775 20.9092 17.7829 21.1787 17.5843 22.0772C 17.4818 22.5367 17.5564 23.1957 17.7066 23.7085C 18.0115 24.7588 17.9068 25.7551 17.7248 26.963C 17.3755 29.2813 19.3759 29.7198 20.7253 28.618C 22.0568 27.5301 22.3419 27.3568 24.027 26.7925C 26.568 25.9386 25.7143 25.1838 24.3477 24.7329C 23.1228 24.3288 23.0723 22.2977 23.511 21.9147C 23.6086 24.0958 24.7656 24.4122 25.2564 24.7098C 27.3586 25.99 24.4622 27.0403 23.2296 27.6493ZM 17.5712 21.2603C 17.8025 20.9908 18.0751 20.9607 18.4342 20.9542C 18.489 19.6247 20.5985 19.7227 21.2895 20.2789C 21.2895 19.9707 20.6265 19.6947 20.3611 19.5644C 20.8211 18.0634 20.6051 17.4602 20.3003 16.0425C 20.0688 14.9606 19.0642 13.5046 18.2774 13.049C 18.4759 13.2195 18.8532 13.7161 19.2518 14.4446C 19.9384 15.6987 20.6161 17.5522 20.1648 19.1087C 19.991 19.7032 19.594 19.7781 19.3215 19.8082C 18.1118 19.9319 18.8229 18.4055 18.3207 16.3029C 17.7614 13.9657 17.1878 13.7904 17.0437 13.6069C 16.3505 10.566 15.5795 10.8695 15.3613 9.72134C 15.1656 8.70548 16.2638 7.86519 14.7707 7.58104C 14.3156 7.49333 13.6642 7.04033 13.4043 7.00804C 13.1471 6.97361 13.0209 5.33153 13.9646 5.26482C 14.9083 5.19646 15.0887 6.31075 14.9034 6.74925C 14.6352 7.18347 14.9232 7.3459 15.3898 7.20447C 15.7715 7.08933 15.5253 6.11382 15.6163 5.96918C 15.3701 4.57246 14.7757 4.37124 14.1566 4.25396C 11.8069 4.43096 12.8619 6.98447 12.6239 6.73854C 12.2911 6.39204 11.2903 6.71918 11.2953 6.49697C 11.3167 5.19489 10.872 4.4401 10.2594 4.42446C 9.5773 4.4051 9.296 5.34239 9.2548 5.87011C 9.21585 6.37697 9.56194 7.43311 9.81463 7.3524C 9.98024 7.29861 10.2637 6.97204 9.96052 6.97361C 9.80371 6.97575 9.56682 6.61475 9.54214 6.17568C 9.51855 5.73775 9.68198 5.29711 10.2616 5.32025C 10.9416 5.34611 10.9349 6.64918 10.8609 6.69975C 10.6432 6.84768 10.3641 7.13447 10.334 7.1834C 10.1179 7.53854 9.68417 7.62619 9.52518 7.78226C 9.22248 8.07919 9.16103 8.4149 9.38802 8.54355C 10.1657 8.98148 9.91283 9.46891 11.0007 9.51412C 11.7152 9.54162 12.2532 9.40491 12.7396 9.25912C 13.1185 9.14669 14.3352 8.89219 14.5919 8.45376C 14.7032 8.26762 14.843 8.26112 14.9362 8.3144C 15.0996 8.4069 15.1347 8.71683 14.7141 8.82769C 14.1125 8.98805 13.505 9.30276 12.9725 9.51205C 12.4411 9.72348 12.2712 9.80477 11.7699 9.89512C 10.6403 10.0936 9.80633 9.49484 10.5642 10.2136C 10.8153 10.4531 11.0571 10.6026 11.7069 10.5768C 13.1299 10.5214 14.7244 8.8449 14.8818 9.59548C 14.9147 9.74934 14.4311 9.95862 14.0539 10.1426C 12.7198 10.7867 11.7804 12.0586 10.9261 11.6184C 10.1617 11.223 9.40113 9.36248 9.41423 10.1959C 9.43563 11.4812 7.68743 12.6251 8.49186 14.088C 7.97099 14.2273 6.78319 16.6861 6.6127 17.9666C 6.51951 18.6918 6.68353 19.6027 6.50634 20.1117C 6.24914 20.8472 5.08122 19.4107 5.45402 17.6502C 5.521 17.3403 5.46451 17.2747 5.37999 17.4242C 4.90519 18.2474 5.1661 19.3957 5.54066 20.2016C 5.70467 20.5502 6.08796 20.7041 6.37137 21.0145C 6.98332 21.686 9.32483 23.39 9.74925 23.7983C 10.2635 24.2943 10.1194 25.4323 9.02592 25.541C 9.58633 26.5783 10.1325 26.6767 10.1242 28.3726C 10.7582 28.0385 10.5032 27.3078 10.2378 26.8263C 10.0525 26.4971 9.81011 26.3475 9.86275 26.2706C 9.90228 26.2125 10.2285 25.937 10.4248 26.1528C 11.0023 26.7877 12.0924 26.9013 13.2647 26.7581C 14.4349 26.6123 15.6901 26.211 16.2702 25.2958C 16.5422 24.8658 16.7386 24.7136 16.8646 24.7889C 16.9891 24.8658 17.0434 25.1693 17.0302 25.6567C 17.0154 26.1979 16.7846 26.7601 16.6409 27.2094C 16.479 27.7184 16.4292 28.0794 16.9348 28.0988C 17.085 27.1577 17.3488 26.2318 17.425 25.2957C 17.5102 24.2307 16.7239 22.2481 17.5712 21.2603ZM 10.3988 6.13961C 10.3598 6.34947 10.3752 6.48018 10.5233 6.48018C 10.5473 6.48018 10.5731 6.47532 10.5824 6.42211C 10.6537 6.00511 10.4339 5.70168 10.3444 5.67746C 10.1355 5.62632 10.1618 5.91904 10.2703 5.89589C 10.3362 5.88289 10.425 5.98997 10.3988 6.13961ZM 14.2613 5.56661C 14.0474 5.58596 14.1088 5.69032 14.2152 5.72046C 14.3545 5.76132 14.4856 5.99375 14.5157 6.24668C 14.5179 6.26982 14.6944 6.21011 14.6944 6.15468C 14.7077 5.75004 14.3545 5.55846 14.2613 5.56661Z' fill='url(%23paint0_linear)'/%3E %3C/g%3E %3C/g%3E %3Cdefs%3E %3ClinearGradient id='paint0_linear' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(43.3333 41.25 -35.75 50 9.75 -30)'%3E %3Cstop stop-color='%232F80ED'/%3E %3Cstop offset='1' stop-color='%23EB5757'/%3E %3C/linearGradient%3E %3C/defs%3E %3C/svg%3E") center no-repeat;
}

[dir] .instructions .row > .col-12:nth-of-type(7) .instructions__item:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='36' viewBox='0 0 18 36' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 16.5 0L 1.5 0C 0.675 0 0 0.675 0 1.5L 0 34.5C 0 35.325 0.675 36 1.5 36L 16.5 36C 17.325 36 18 35.325 18 34.5L 18 1.5C 18 0.675 17.325 0 16.5 0ZM 15 30L 3 30L 3 6L 15 6L 15 30Z' fill='url(%23paint0_linear)'/%3E %3C/g%3E %3C/g%3E %3Cdefs%3E %3ClinearGradient id='paint0_linear' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(30 49.5 -24.75 60 6.75 -36)'%3E %3Cstop stop-color='%232F80ED'/%3E %3Cstop offset='1' stop-color='%23EB5757'/%3E %3C/linearGradient%3E %3C/defs%3E %3C/svg%3E") center no-repeat;
}

[dir] .instructions .row > .col-12:nth-of-type(8) .instructions__item:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='24' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 3.6 9.6L 1.2 9.6C 0.54 9.6 0 10.14 0 10.8L 0 13.2C 0 13.86 0.54 14.4 1.2 14.4L 3.6 14.4C 4.26 14.4 4.8 13.86 4.8 13.2L 4.8 10.8C 4.8 10.14 4.26 9.6 3.6 9.6ZM 3.6 0L 1.2 0C 0.54 0 0 0.54 0 1.2L 0 3.6C 0 4.26 0.54 4.8 1.2 4.8L 3.6 4.8C 4.26 4.8 4.8 4.26 4.8 3.6L 4.8 1.2C 4.8 0.54 4.26 0 3.6 0ZM 3.6 19.2L 1.2 19.2C 0.54 19.2 0 19.74 0 20.4L 0 22.8C 0 23.46 0.54 24 1.2 24L 3.6 24C 4.26 24 4.8 23.46 4.8 22.8L 4.8 20.4C 4.8 19.74 4.26 19.2 3.6 19.2ZM 13.2 0L 10.8 0C 10.14 0 9.6 0.54 9.6 1.2L 9.6 3.6C 9.6 4.26 10.14 4.8 10.8 4.8L 13.2 4.8C 13.86 4.8 14.4 4.26 14.4 3.6L 14.4 1.2C 14.4 0.54 13.86 0 13.2 0ZM 22.8 0L 20.4 0C 19.74 0 19.2 0.54 19.2 1.2L 19.2 3.6C 19.2 4.26 19.74 4.8 20.4 4.8L 22.8 4.8C 23.46 4.8 24 4.26 24 3.6L 24 1.2C 24 0.54 23.46 0 22.8 0ZM 13.2 9.6L 10.8 9.6C 10.14 9.6 9.6 10.14 9.6 10.8L 9.6 13.2C 9.6 13.86 10.14 14.4 10.8 14.4L 13.2 14.4C 13.86 14.4 14.4 13.86 14.4 13.2L 14.4 10.8C 14.4 10.14 13.86 9.6 13.2 9.6ZM 22.8 9.6L 20.4 9.6C 19.74 9.6 19.2 10.14 19.2 10.8L 19.2 13.2C 19.2 13.86 19.74 14.4 20.4 14.4L 22.8 14.4C 23.46 14.4 24 13.86 24 13.2L 24 10.8C 24 10.14 23.46 9.6 22.8 9.6ZM 13.2 19.2L 10.8 19.2C 10.14 19.2 9.6 19.74 9.6 20.4L 9.6 22.8C 9.6 23.46 10.14 24 10.8 24L 13.2 24C 13.86 24 14.4 23.46 14.4 22.8L 14.4 20.4C 14.4 19.74 13.86 19.2 13.2 19.2ZM 22.8 19.2L 20.4 19.2C 19.74 19.2 19.2 19.74 19.2 20.4L 19.2 22.8C 19.2 23.46 19.74 24 20.4 24L 22.8 24C 23.46 24 24 23.46 24 22.8L 24 20.4C 24 19.74 23.46 19.2 22.8 19.2Z' fill='url(%23paint0_linear)'/%3E %3C/g%3E %3C/g%3E %3Cdefs%3E %3ClinearGradient id='paint0_linear' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(40 33 -33 40 9 -24)'%3E %3Cstop stop-color='%232F80ED'/%3E %3Cstop offset='1' stop-color='%23EB5757'/%3E %3C/linearGradient%3E %3C/defs%3E %3C/svg%3E") center no-repeat;
}

[dir] .instructions .row > .col-12:nth-of-type(9) .instructions__item:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='28' height='28' viewBox='0 0 28 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 18.6667 5.82121C 21.0583 5.82121 23.275 6.46154 25.0833 7.56757C 23.5083 3.20166 18.6083 0 12.8333 0C 5.71667 0 0 4.77338 0 10.6528C 0 13.447 1.2833 15.9501 3.32497 17.8129L 0 26.7775L 8.34169 21.1892C 7.4667 19.7339 7 18.0457 7 16.2994C 7 10.5364 12.25 5.82121 18.6667 5.82121ZM 28 16.2994C 28 11.817 23.8 8.14969 18.6667 8.14969C 13.5333 8.14969 9.33333 11.817 9.33333 16.2994C 9.33333 20.7817 13.5333 24.4491 18.6667 24.4491C 19.775 24.4491 20.825 24.2744 21.8167 23.9834L 26.8333 28L 25.7833 21.6549C 27.1833 20.1414 28 18.2786 28 16.2994Z' fill='url(%23paint0_linear)'/%3E %3C/g%3E %3C/g%3E %3Cdefs%3E %3ClinearGradient id='paint0_linear' x2='1' gradientUnits='userSpaceOnUse' gradientTransform='matrix(46.6667 38.5 -38.5 46.6667 10.5 -28)'%3E %3Cstop stop-color='%232F80ED'/%3E %3Cstop offset='1' stop-color='%23EB5757'/%3E %3C/linearGradient%3E %3C/defs%3E %3C/svg%3E") center no-repeat;
}

.search {
  position: relative;
  width: 100%;
  max-width: 100%;
}

[dir] .search {
  border-radius: 21px;
}

.search__field {
  width: 100%;
  outline: none;
  color: #333;
  line-height: 2.625rem;
  height: 42px;
  transition: .1s ease;
}

[dir] .search__field {
  background-color: #fff;
  border-radius: 21px;
  border: 0;
}

[dir=ltr] .search__field {
  padding-left: 40px;
}

[dir=rtl] .search__field {
  padding-right: 40px;
}

.search__field::-webkit-input-placeholder {
  color: #333;
}

.search__field:-ms-input-placeholder {
  color: #333;
}

.search__field::-ms-input-placeholder {
  color: #333;
}

.search__field::placeholder {
  color: #333;
}

[dir] .search__field::-webkit-input-placeholder + [type='submit'] {
  background: #f2f2f2 url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23333'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 10.7223 9.73333C 11.5574 8.7 12.0251 7.4 12.0251 6C 12.0251 2.7 9.31942 0 6.01253 0C 2.70564 0 0 2.7 0 6C 0 9.3 2.70564 12 6.01253 12C 7.41545 12 8.71816 11.5 9.75365 10.7L 15.0647 16L 16 15.0667L 10.7223 9.73333ZM 6.01253 10.6667C 3.4405 10.6667 1.33612 8.56667 1.33612 6C 1.33612 3.43333 3.4405 1.33333 6.01253 1.33333C 8.58455 1.33333 10.6889 3.43333 10.6889 6C 10.6889 8.56667 8.58455 10.6667 6.01253 10.6667Z'/%3E %3C/g%3E %3C/svg%3E") center no-repeat;
}

[dir] .search__field:-ms-input-placeholder + [type='submit'] {
  background: #f2f2f2 url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23333'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 10.7223 9.73333C 11.5574 8.7 12.0251 7.4 12.0251 6C 12.0251 2.7 9.31942 0 6.01253 0C 2.70564 0 0 2.7 0 6C 0 9.3 2.70564 12 6.01253 12C 7.41545 12 8.71816 11.5 9.75365 10.7L 15.0647 16L 16 15.0667L 10.7223 9.73333ZM 6.01253 10.6667C 3.4405 10.6667 1.33612 8.56667 1.33612 6C 1.33612 3.43333 3.4405 1.33333 6.01253 1.33333C 8.58455 1.33333 10.6889 3.43333 10.6889 6C 10.6889 8.56667 8.58455 10.6667 6.01253 10.6667Z'/%3E %3C/g%3E %3C/svg%3E") center no-repeat;
}

[dir] .search__field::-ms-input-placeholder + [type='submit'] {
  background: #f2f2f2 url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23333'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 10.7223 9.73333C 11.5574 8.7 12.0251 7.4 12.0251 6C 12.0251 2.7 9.31942 0 6.01253 0C 2.70564 0 0 2.7 0 6C 0 9.3 2.70564 12 6.01253 12C 7.41545 12 8.71816 11.5 9.75365 10.7L 15.0647 16L 16 15.0667L 10.7223 9.73333ZM 6.01253 10.6667C 3.4405 10.6667 1.33612 8.56667 1.33612 6C 1.33612 3.43333 3.4405 1.33333 6.01253 1.33333C 8.58455 1.33333 10.6889 3.43333 10.6889 6C 10.6889 8.56667 8.58455 10.6667 6.01253 10.6667Z'/%3E %3C/g%3E %3C/svg%3E") center no-repeat;
}

[dir] .search__field::placeholder + [type='submit'] {
  background: #f2f2f2 url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23333'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 10.7223 9.73333C 11.5574 8.7 12.0251 7.4 12.0251 6C 12.0251 2.7 9.31942 0 6.01253 0C 2.70564 0 0 2.7 0 6C 0 9.3 2.70564 12 6.01253 12C 7.41545 12 8.71816 11.5 9.75365 10.7L 15.0647 16L 16 15.0667L 10.7223 9.73333ZM 6.01253 10.6667C 3.4405 10.6667 1.33612 8.56667 1.33612 6C 1.33612 3.43333 3.4405 1.33333 6.01253 1.33333C 8.58455 1.33333 10.6889 3.43333 10.6889 6C 10.6889 8.56667 8.58455 10.6667 6.01253 10.6667Z'/%3E %3C/g%3E %3C/svg%3E") center no-repeat;
}

[dir] .search__field:invalid {
  background-color: rgba(255, 255, 255, 0.15);
}

.search__field:invalid::-webkit-input-placeholder {
  color: #BDBDBD;
}

.search__field:invalid:-ms-input-placeholder {
  color: #BDBDBD;
}

.search__field:invalid::-ms-input-placeholder {
  color: #BDBDBD;
}

.search__field:invalid::placeholder {
  color: #BDBDBD;
}

[dir] .search__field:invalid + [type='submit'] {
  background-color: transparent;
}

[dir] .search__field:hover:not(:valid):not(:focus) {
  background-color: rgba(255, 255, 255, 0.3);
}

.search__field:hover:not(:valid):not(:focus)::-webkit-input-placeholder {
  color: #fff;
}

.search__field:hover:not(:valid):not(:focus):-ms-input-placeholder {
  color: #fff;
}

.search__field:hover:not(:valid):not(:focus)::-ms-input-placeholder {
  color: #fff;
}

.search__field:hover:not(:valid):not(:focus)::placeholder {
  color: #fff;
}

.search__field:focus {
  color: #333;
}

[dir] .search__field:focus {
  background-color: #fff;
}

.search__field:focus::-webkit-input-placeholder {
  color: #333;
}

.search__field:focus:-ms-input-placeholder {
  color: #333;
}

.search__field:focus::-ms-input-placeholder {
  color: #333;
}

.search__field:focus::placeholder {
  color: #333;
}

[dir] .search__field:focus + [type='submit'] {
  background: #f2f2f2 url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23333'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 10.7223 9.73333C 11.5574 8.7 12.0251 7.4 12.0251 6C 12.0251 2.7 9.31942 0 6.01253 0C 2.70564 0 0 2.7 0 6C 0 9.3 2.70564 12 6.01253 12C 7.41545 12 8.71816 11.5 9.75365 10.7L 15.0647 16L 16 15.0667L 10.7223 9.73333ZM 6.01253 10.6667C 3.4405 10.6667 1.33612 8.56667 1.33612 6C 1.33612 3.43333 3.4405 1.33333 6.01253 1.33333C 8.58455 1.33333 10.6889 3.43333 10.6889 6C 10.6889 8.56667 8.58455 10.6667 6.01253 10.6667Z'/%3E %3C/g%3E %3C/svg%3E") center no-repeat;
}

.search__submit {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 76px;
  outline: none;
  transition: .1s ease;
}

[dir] .search__submit {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23fff'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 10.7223 9.73333C 11.5574 8.7 12.0251 7.4 12.0251 6C 12.0251 2.7 9.31942 0 6.01253 0C 2.70564 0 0 2.7 0 6C 0 9.3 2.70564 12 6.01253 12C 7.41545 12 8.71816 11.5 9.75365 10.7L 15.0647 16L 16 15.0667L 10.7223 9.73333ZM 6.01253 10.6667C 3.4405 10.6667 1.33612 8.56667 1.33612 6C 1.33612 3.43333 3.4405 1.33333 6.01253 1.33333C 8.58455 1.33333 10.6889 3.43333 10.6889 6C 10.6889 8.56667 8.58455 10.6667 6.01253 10.6667Z'/%3E %3C/g%3E %3C/svg%3E") center no-repeat;
  border-radius: 21px;
}

[dir=ltr] .search__submit {
  right: 0;
  left: auto;
}

[dir=rtl] .search__submit {
  left: 0;
  right: auto;
}

[dir] .search__field:not(:invalid) + .search__submit:hover {
  background: #e0e0e0 url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23333'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 10.7223 9.73333C 11.5574 8.7 12.0251 7.4 12.0251 6C 12.0251 2.7 9.31942 0 6.01253 0C 2.70564 0 0 2.7 0 6C 0 9.3 2.70564 12 6.01253 12C 7.41545 12 8.71816 11.5 9.75365 10.7L 15.0647 16L 16 15.0667L 10.7223 9.73333ZM 6.01253 10.6667C 3.4405 10.6667 1.33612 8.56667 1.33612 6C 1.33612 3.43333 3.4405 1.33333 6.01253 1.33333C 8.58455 1.33333 10.6889 3.43333 10.6889 6C 10.6889 8.56667 8.58455 10.6667 6.01253 10.6667Z'/%3E %3C/g%3E %3C/svg%3E") center no-repeat;
  cursor: pointer;
}