.search__title {
  margin-bottom: 35px;
}

.search__sub-title {
  margin-bottom: 20px;
}

.search__list {
  list-style: none;
}

.search__list-item {
  margin-bottom: 35px;
}

.search__link-title {
  margin-bottom: -10px;
  cursor: pointer;
}

.search__keyword {
  background-color: #C5D6ED;
}

@media (min-width: 768px) {
  .search__title {
    margin-bottom: 5vw;
  }

  .search__sub-title {
    margin-bottom: 3.8vw;
  }

  .search__list-item {
    margin-bottom: 5vw;
  }

  .search__link-title {
    margin-bottom: -2vw;
  }
}

@media (min-width: 992px) {
  .search__title {
    margin-bottom: 50px;
  }

  .search__sub-title {
    margin-bottom: 32px;
  }

  .search__list-item {
    margin-bottom: 50px;
  }

  .search__link-title {
    margin-bottom: -8px;
  }
}