.icons-gray-block {
  background: #f2f2f2;
  text-align: center;
}

.icons-gray-block__img {
  height: 96px;
}

.icons-gray-block .row {
  justify-content: center;
}

.icons-gray-block .col-12 {
  margin-bottom: 40px;
}

.icons-gray-block .col-12:last-child {
  margin-bottom: 0;
}

.vacancies {
  color: #fff;
  background: #020202 url('../img/jobs/vacancies-bg.jpg') no-repeat center top /
    100%;
}

.vacancies__item {
  margin-bottom: 8px;
}

.vacancies__post-title {
  margin-top: 40px;
}

.vacancies__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(47, 128, 237, 0.9);
  cursor: pointer;
  padding: 13px 17px;
}

.vacancies__header_active .vacancies__btn:after {
  -webkit-transform: scaleY(-1);
}

.vacancies__header_active .vacancies__btn:after {
  transform: scaleY(-1);
}

.vacancies__title {
  width: 100%;
  font-weight: 700;
}

[dir='ltr'] .vacancies__title {
  border-right: 0;
}

[dir='rtl'] .vacancies__title {
  border-left: 0;
}

.vacancies__info {
  width: 100%;
}

[dir='ltr'] .vacancies__info {
  border-right: 0;
}

[dir='rtl'] .vacancies__info {
  border-left: 0;
}

.vacancies__btn {
  width: 20px;
  height: 0;
}

.vacancies__btn:after {
  position: absolute;
  top: 50%;
  bottom: auto;
  width: 20px;
  height: 14px;
  content: '';
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' viewBox='0 0 10 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' stroke='%23fff'%3E %3Cpath d='M 6 6L 6 0L 0 0' transform='matrix(-0.714497 0.699638 -0.699638 -0.714498 9.48486 4.28711)' fill='transparent'/%3E %3C/svg%3E")
    no-repeat center bottom / cover;
  margin-top: -7px;
}

[dir='ltr'] .vacancies__btn:after {
  left: auto;
  right: 20px;
}

[dir='rtl'] .vacancies__btn:after {
  right: auto;
  left: 20px;
}

.vacancies__content {
  max-height: 0;
  transition: 0.3s ease;
  overflow: hidden;
}

[dir='ltr'] .vacancies__content {
  background: linear-gradient(
    180deg,
    rgba(40, 113, 212, 0.9) 0%,
    rgba(235, 87, 87, 0.9) 100%
  );
}

[dir='rtl'] .vacancies__content {
  background: linear-gradient(
    -180deg,
    rgba(40, 113, 212, 0.9) 0%,
    rgba(235, 87, 87, 0.9) 100%
  );
}

.vacancies__content-wrap {
  padding: 13px 17px;
}

.vacancies__list {
  margin: 0 0 40px 0;
}

[dir='ltr'] .vacancies__list {
  padding-left: 17px;
}

[dir='rtl'] .vacancies__list {
  padding-right: 17px;
}

.vacancies__list-item {
  margin: 1px 0;
}

.vacancies__content .text-accent {
  margin: 40px 0 10px 0;
}

.vacancies__card {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.5) !important;
  margin-top: 0;
}

.vacancies__card .card__footer {
  border-color: rgba(255, 255, 255, 0.5) !important;
}

.vacancies__card-btn {
  width: 100%;
}

.vacancies__content-link {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 576px) {
  .icons-gray-block .col-12 {
    margin-bottom: 30px;
  }

  .vacancies__header {
    padding: 21px 31px;
  }

  .vacancies__content-wrap {
    padding: 33px 38px;
  }
}

@media (min-width: 768px) {
  .vacancies__card {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .icons-gray-block .col-12 {
    margin-bottom: 20px;
  }

  .vacancies__title {
    width: 40%;
  }

  [dir='ltr'] .vacancies__title {
    border-right: 2px rgba(255, 255, 255, 0.28) solid;
  }

  [dir='rtl'] .vacancies__title {
    border-left: 2px rgba(255, 255, 255, 0.28) solid;
  }

  .vacancies__info {
    width: 25%;
  }

  [dir='ltr'] .vacancies__info {
    border-right: 2px rgba(255, 255, 255, 0.28) solid;
  }

  [dir='rtl'] .vacancies__info {
    border-left: 2px rgba(255, 255, 255, 0.28) solid;
  }

  [dir='ltr'] .vacancies__btn:after {
    right: 30px;
  }

  [dir='rtl'] .vacancies__btn:after {
    left: 30px;
  }

  .vacancies__content-wrap {
    padding: 43px 58px;
  }

  .vacancies__card {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .vacancies__content-wrap {
    padding: 53px 68px;
  }
}
