.privacy__link,.privacy__update {
  font-size: 0.875rem;
}

[dir] .privacy__link,[dir] .privacy__update {
  background-repeat: no-repeat;
  margin: 10px 0;
}

[dir=ltr] .privacy__link,[dir=ltr] .privacy__update {
  padding-left: 20px;
  background-position: left center;
}

[dir=rtl] .privacy__link,[dir=rtl] .privacy__update {
  padding-right: 20px;
  background-position: right center;
}

.privacy__link {
  display: inline-flex;
  align-items: center;
}

.privacy__update {
  color: #BDBDBD;
}

[dir] .privacy__update {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 8 0C 3.56667 0 0 3.56667 0 8C 0 12.4333 3.56667 16 8 16C 12.4333 16 16 12.4333 16 8C 16 3.56667 12.4333 0 8 0ZM 8 14.6667C 4.33333 14.6667 1.33333 11.6667 1.33333 8C 1.33333 4.33333 4.33333 1.33333 8 1.33333C 11.6667 1.33333 14.6667 4.33333 14.6667 8C 14.6667 11.6667 11.6667 14.6667 8 14.6667ZM 10.6667 7.33333L 8.66667 7.33333L 8.66667 4C 8.66667 3.63333 8.36667 3.33333 8 3.33333C 7.63333 3.33333 7.33333 3.63333 7.33333 4L 7.33333 8C 7.33333 8.36667 7.63333 8.66667 8 8.66667L 10.6667 8.66667C 11.0333 8.66667 11.3333 8.36667 11.3333 8C 11.3333 7.63333 11.0333 7.33333 10.6667 7.33333Z' fill='%23BDBDBD'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
}

[dir] .privacy__link {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='16' viewBox='0 0 14 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 9.8 0L 0 0L 0 16L 14 16L 14 4L 9.8 0ZM 12.6 14.6667L 1.4 14.6667L 1.4 1.33333L 9.1 1.33333L 9.1 4.66667L 12.6 4.66667L 12.6 14.6667Z' fill='%232F80ED'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
}

.privacy__link-item {
  transition: .15s ease;
}

[dir=ltr] .privacy__link-item {
  margin-right: 5px;
}

[dir=rtl] .privacy__link-item {
  margin-left: 5px;
}

.privacy__link-item:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .privacy__link,.privacy__update {
    font-size: 1rem;
  }
}