.card-plan {
  width: 100%;
  text-align: center;
  border-radius: 8px;
  padding: 32px 0 29px;
  margin: 10px 0 25px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  color: #828282;
  box-shadow: none;
  border-radius: 5px;
  padding-bottom: 30px;
  position: relative;
  transition: 0.3s ease;
}

.card-plan:hover {
  box-shadow: none;
}

.card-plan_bordered {
  z-index: 9;
  border: 4px #2f80ed solid;
  padding: 36px 0 36px;
  margin: 3px 0 23px;
}

.card-plan__container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  max-width: 1142px;
  overflow: hidden;
}

.card-plan__container .glide__slides {
  align-items: flex-start;
}

.card-plan__container-glide {
  display: flex;
  width: 75%;
  overflow: hidden;
}

[dir='rtl'] .card-plan__container-glide {
  margin-left: 3px;
}

[dir='ltr'] .card-plan__container-glide {
  margin-right: 3px;
}

.card-plan__btn {
  margin: 31px 17px 10px;
  padding: 9px 26px;
  display: block;
}

.card-plan__most {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='76' height='69' fill='none'%3E%3Cpath fill='%232F80ED' d='M.5.5L75.85 69V.5H.5z'/%3E%3C/svg%3E");
  width: 76px;
  height: 69px;
  position: absolute;
  right: -2px;
  top: -2px;
}

.card-plan__most-text {
  transform: rotate(42deg);
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  position: relative;
  right: -12px;
  bottom: -10px;
}

.card-plan__name {
  font-size: 14px;
  font-weight: bold;
  color: #2f80ed;
}

.card-plan_gray {
  padding-bottom: 54px;
}

.card-plan_gray .card-plan__name {
  color: #828282;
}

.card-plan__price {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin-top: 10px;
}

.card-plan__price-value {
  display: inline-block;
}

.card-plan_gray .card-plan__price {
  font-size: 20px;
  font-weight: normal;
  color: #828282;
}

.card-plan__price-small {
  font-weight: 400;
  font-size: 1rem;
  display: inline-block;
}

.card-plan__price-small-value {
  display: inline-block;
}

.card-plan__save {
  color: #219653;
  height: 53px;
  transform: translateY(-3px);
  transform-origin: top;
  transition: 0.28s ease;
  opacity: 0;
  font-size: 12px;
}

.card-plan__save_show {
  transform: translateY(0);
  transition-delay: 0.55s;
  opacity: 1;
}

.card-plan__text {
  background: #f8f8f8;
  color: #333;
  padding: 16px 22px;
  height: 55px;
}

.card-plan_gray .card-plan__text {
  color: #828282;
}

.card-plan__text + .card-plan__text {
  margin-top: 5px;
}

.card-plan__text:nth-child(even) {
  background: #fff;
}

.card-plan__text-ok {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-plan__text-ok:before {
  content: '';
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='18' viewBox='0 0 24 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23333'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 22.75 0L 8 15.3913L 1.25 8.34783L 0 9.65217L 8 18L 24 1.30435L 22.75 0Z'/%3E %3C/svg%3E");
  width: 24px;
  height: 18px;
  display: block;
}

.card-plan__text-no {
  width: 19px;
  height: 2px;
  background: #333;
  margin: 12px auto;
}

.card-plan_gray .card-plan__text-no {
  background: #bdbdbd;
}

.card-plan__trial {
  margin-bottom: -24px;
  color: #2f80ed;
  font-size: 12px;
  display: inline-block;
}

.card-plan__trial:hover {
  text-decoration: underline;
}

.card-plan_gray .card-plan__text-ok:before {
  content: '';
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='24' height='18' viewBox='0 0 24 18' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23828282'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 22.75 0L 8 15.3913L 1.25 8.34783L 0 9.65217L 8 18L 24 1.30435L 22.75 0Z'/%3E %3C/svg%3E");
}

.accordion {
  margin: 0 -20px;
}

.accordion__item {
  margin-bottom: 2px;
}

.accordion__header {
  font-size: 0.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f2f2f2;
}

[dir='ltr'] .accordion__header {
  padding: 13px 22px 13px 24px;
}

[dir='rtl'] .accordion__header {
  padding: 13px 24px 13px 22px;
}

.accordion__header:hover:not(.accordion__header_active) {
  background: #ececec;
}

.accordion__header:before {
  content: '';
  display: none;
  /* width: 25px;
  height: 25px; */
  width: 16px;
  height: 16px;
  margin-top: 4px;
  border-radius: 50%;
  background-color: #2f80ed;
}

[dir='ltr'] .accordion__header:before {
  margin-right: 20px;
}

[dir='rtl'] .accordion__header:before {
  margin-left: 20px;
}

.accordion__header:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  min-width: 25px;
}

.accordion__header:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' viewBox='0 0 10 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' stroke='%23BDBDBD'%3E %3Cpath d='M 6 6L 6 0L 0 0' transform='matrix(-0.714497 0.699638 -0.699638 -0.714498 9.48486 4.28711)' fill='transparent'/%3E %3C/svg%3E")
    no-repeat center / contain;
  margin-top: -2px;
}

[dir='ltr'] .accordion__header:after {
  margin-left: 15px;
}

[dir='rtl'] .accordion__header:after {
  margin-right: 15px;
}

.accordion__header_active {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-bottom: 0;
}

[dir='ltr'] .accordion__header_active {
  padding: 12px 21px 12px 23px;
}

[dir='rtl'] .accordion__header_active {
  padding: 12px 23px 12px 21px;
}

.accordion__header_active + .accordion__content-wrap {
  border: 1px solid #e0e0e0;
  border-top: 0;
}

.accordion__header_active:after {
  -webkit-transform: scaleY(-1);
}

.accordion__header_active:after {
  transform: scaleY(-1);
  margin-top: 5px;
}

.accordion__content {
  padding: 13px 23px 0;
}

.accordion__content .col-12:first-child {
  order: 1;
}

.accordion__content .col-12:last-child {
  padding-top: 0;
  padding-bottom: 30px;
}

.accordion__content .img-fluid {
  display: block;
}

.accordion__content .img-fluid {
  margin: 0 auto;
}

.accordion__content-wrap {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease;
}

.accordion_simple {
  background: transparent;
  margin: 0;
}

.accordion_simple .accordion__item {
  background: transparent;
  margin-bottom: 30px;
}

.accordion_simple .accordion__content-wrap {
  border: 0;
}

.accordion_simple .accordion__header {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  display: inline;
  position: relative;
}

.accordion_simple .accordion__header {
  background: transparent !important;
  border: 0;
  border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
  padding: 2px 0;
}

.accordion_simple .accordion__header_active:after {
  bottom: 3px !important;
}

.accordion_simple .accordion__header:before {
  display: none;
}

.accordion_simple .accordion__header:after {
  width: 14px;
  height: 14px;
  max-width: 14px;
  position: absolute;
  top: auto;
  bottom: 6px;
}

.accordion_simple .accordion__header:after {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' viewBox='0 0 10 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' stroke='%23fff'%3E %3Cpath d='M 6 6L 6 0L 0 0' transform='matrix(-0.714497 0.699638 -0.699638 -0.714498 9.48486 4.28711)' fill='transparent'/%3E %3C/svg%3E")
    no-repeat center / contain;
}

[dir='ltr'] .accordion_simple .accordion__header:after {
  right: -26px;
  left: auto;
}

[dir='rtl'] .accordion_simple .accordion__header:after {
  left: -26px;
  right: auto;
}

.accordion_simple .accordion__content {
  color: #e1e7f0;
  padding: 17px 0;
}

.faq-block {
  overflow: hidden;
}

[dir='ltr'] .faq-block {
  background: linear-gradient(
      114.09deg,
      rgba(47, 128, 237, 0.3) -8.7%,
      rgba(235, 87, 87, 0.3) 105.22%
    ),
    linear-gradient(
      114.09deg,
      rgba(0, 0, 0, 0.5) -8.7%,
      rgba(0, 0, 0, 0.5) 105.22%
    ),
    #e9e8ec url('../img/protection/faq-bg.jpg') no-repeat center top / 2100px;
}

[dir='rtl'] .faq-block {
  background: linear-gradient(
      -114.09deg,
      rgba(47, 128, 237, 0.3) -8.7%,
      rgba(235, 87, 87, 0.3) 105.22%
    ),
    linear-gradient(
      -114.09deg,
      rgba(0, 0, 0, 0.5) -8.7%,
      rgba(0, 0, 0, 0.5) 105.22%
    ),
    #e9e8ec url('../img/protection/faq-bg.jpg') no-repeat center top / 2100px;
}

.faq-block .title-promo {
  color: #fff;
}

.range-plan {
  text-align: center;
}

.range-plan__msg-block {
  height: auto;
  overflow: hidden;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.range-plan__title {
  color: #333;
  margin-top: -15px;
}

.range-plan__msg-block_hight .btn,
.range-plan__msg-block_low .btn {
  margin-bottom: 22px;
}

.range-plan__msg-text {
  font-size: 18px;
  margin: 0 50px 40px;
}

.range-plan__slider {
  max-width: 850px;
  width: 80%;
  margin: 30px auto 37px;
  opacity: 0;
}

.range-plan__slider_load {
  opacity: 1;
}

.range-plan .action-block {
  margin: 0;
}

.range-plan__price {
  font-size: 3rem;
  color: #333;
  font-weight: 700;
  margin: 0 22px;
  display: flex;
  align-items: center;
}

.range-plan__price-block {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 12px;
}

.range-plan__price-block-wrap {
  background: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: center;
}

.range-plan__price-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 4px;
}

.range-plan__price-symbol {
  font-size: 1.1rem;
  line-height: 1.2;
}

.range-plan__price-small {
  font-size: 0.785rem;
  color: #333;
  font-weight: 400;
  display: inline;
}

.range-plan__price-old {
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  top: auto;
  bottom: auto;
  opacity: 0;
  transition: 0.1s ease;
  transition-delay: 0;
  color: #bdbdbd;
}

[dir='ltr'] .range-plan__price-old {
  right: auto;
  left: 0;
  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
}

[dir='rtl'] .range-plan__price-old {
  left: auto;
  right: 0;
  -webkit-transform: translateX(110%);
  transform: translateX(110%);
}

.range-plan__price-old:after {
  content: '';
  height: 2px;
  display: block;
  position: absolute;
  top: 55%;
  bottom: auto;
  background: #bdbdbd;
  left: -3px;
  right: -3px;
}

.range-plan__price-sale {
  font-size: 0.875rem;
  position: absolute;
  opacity: 0;
  transition: 0.1s ease;
  transition-delay: 0;
  background: #eb5757;
  color: #fff;
  font-weight: 700;
  padding: 1px 7px 1px 2px;
  border-radius: 3px 4px 4px 3px;
}

.range-plan__price-sale-word {
  display: none;
}

[dir='ltr'] .range-plan__price-sale {
  right: 0;
  left: auto;
  -webkit-transform: translateX(110%);
  transform: translateX(110%);
}

[dir='rtl'] .range-plan__price-sale {
  left: 0;
  right: auto;
  -webkit-transform: translateX(-110%);
  transform: translateX(-110%);
}

.range-plan__price-sale:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  border-style: solid;
  margin: auto;
}

[dir='ltr'] .range-plan__price-sale:after {
  border-width: 11px 8px 11px 0;
  border-color: transparent #eb5757 transparent transparent;
  right: auto;
  left: -7px;
}

[dir='rtl'] .range-plan__price-sale:after {
  border-width: 11px 0 11px 8px;
  border-color: transparent transparent transparent #eb5757;
  left: auto;
  right: -7px;
}

.range-plan .text-tips {
  color: #bdbdbd;
}

.range-plan__msg-block_price-show .range-plan__price-old,
.range-plan__msg-block_price-show .range-plan__price-sale {
  opacity: 1;
  transition-delay: 0.3s;
}

[dir='rtl'] .range-plan__msg-block_price-show .range-plan__price-old,
[dir='ltr'] .range-plan__msg-block_price-show .range-plan__price-sale {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

[dir='ltr'] .range-plan__msg-block_price-show .range-plan__price-old,
[dir='rtl'] .range-plan__msg-block_price-show .range-plan__price-sale {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.toggle {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  user-select: none;
  max-width: 184px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.toggle__elem {
  width: 43px;
  height: 22px;
  background: #e0e0e0;
  border-radius: 11px;
  margin: 0 12px;
  position: relative;
  transition: 0.2s ease;
}

.toggle_on .toggle__elem {
  background: #2f80ed;
}

.toggle__elem:before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s ease;
  transform: translateX(0);
}

[dir='ltr'] .toggle__elem:before {
  transform: translateX(0);
}

[dir='rtl'] .toggle__elem:before {
  transform: translateX(21px);
}

[dir='ltr'] .toggle_on .toggle__elem:before {
  transform: translateX(21px);
}

[dir='rtl'] .toggle_on .toggle__elem:before {
  transform: translateX(0);
}

.toggle__text {
  font-size: 16px;
  color: #828282;
  cursor: pointer;
}

.toggle:not(.toggle_on) .toggle__text:first-of-type {
  color: #333;
}

.toggle_on .toggle__text:last-of-type {
  color: #333;
}

.card-plan__caption {
  padding: 157px 0 0 0;
  width: 25%;
  min-width: 133px;
}

.card-plan__caption-item {
  background: #f8f8f8;
  color: #828282;
  padding: 0 22px;
  height: 55px;
  display: flex;
  align-items: center;
}

.card-plan__caption-item:nth-child(even) {
  background: #fff;
}

.card-plan__caption-item + .card-plan__caption-item {
  margin-top: 5px;
}

.card-plan__caption-text {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
}

.card-plan__caption-text:hover {
  color: #333333;
}

/* .card-plan__caption-item:hover .card-plan__caption-tooltip {
  right: -18px;
  opacity: 1;
  visibility: visible;
} */

.card-plan__caption-tooltip-tneme {
  color: #fff;
  font-size: 0.8125rem;
  background: rgba(51, 51, 51, 0.9);
  max-width: 180px;
  padding: 6px 19px;
  text-align: left;
}

.card-plan__caption-tooltip-tneme .tippy-arrow {
  border-right: 5px solid rgba(51, 51, 51, 0.9) !important;
  left: -5px !important;
}

.range-plan__toggle-block {
  margin: 21px 0 36px;
}

@media (min-width: 576px) {
  .card-plan {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  }

  .card-plan:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  }

  .card-plan_gray {
    padding-bottom: 54px;
    border-radius: 5px 0 0 5px;
    border-right: 0;
  }

  .card-plan:not(.card-plan_gray):not(.card-plan_bordered) {
    border-left: 0;
    border-radius: 0 5px 5px 0;
  }

  .card-plan__name {
    font-size: 24px;
  }

  .card-plan__price {
    font-size: 36px;
  }

  .card-plan__save {
    font-size: 1rem;
  }

  .card-plan_gray .card-plan__price {
    font-size: 24px;
    margin-top: 22px;
    margin-bottom: 6px;
  }

  .card-plan__caption {
    padding: 196px 0 0 0;
  }

  .card-plan__trial {
    font-size: 16px;
  }

  .accordion {
    margin: 0;
  }

  .accordion__header {
    display: flex;
    justify-content: center;
    justify-content: flex-start;
    font-size: 1rem;
  }

  .accordion__header:before {
    display: block;
  }

  [dir='ltr'] .accordion__header:after {
    margin-left: auto;
  }

  [dir='rtl'] .accordion__header:after {
    margin-right: auto;
  }

  .accordion__content {
    padding: 13px 67px 0;
  }

  .accordion_simple .accordion__item {
    margin-bottom: 35px;
  }

  .range-plan__msg-block {
    height: auto;
  }

  .range-plan__toggle-block {
    margin: 25px 0 48px;
  }

  .range-plan__msg-text {
    font-size: 18px;
  }

  .range-plan__price {
    font-size: 4rem;
  }

  .range-plan__price-symbol {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .range-plan__price-text {
    margin: 0 11px;
  }

  .range-plan__price-sale-word {
    display: inline-block;
  }

  [dir='ltr'] .range-plan__price-sale-word {
    margin-right: 5px;
  }

  [dir='rtl'] .range-plan__price-sale-word {
    margin-left: 5px;
  }

  .range-plan__price {
    margin: 0 40px;
  }

  .range-plan__price-small {
    font-size: 1rem;
  }

  .range-plan__price-old {
    font-size: 3rem;
  }

  .range-plan__price-sale {
    font-size: 1.125rem;
    padding: 7px 19px 7px 15px;
  }

  [dir='rtl'] .range-plan__price-sale:after {
    border-width: 20px 0 20px 10px;
    right: -9px;
  }

  [dir='ltr'] .range-plan__price-sale:after {
    border-width: 20px 10px 20px 0;
    left: -9px;
  }

  .card-plan__container-glide {
    overflow: visible;
  }

  [dir='rtl'] .card-plan__container-glide {
    margin-left: 20px;
  }

  [dir='ltr'] .card-plan__container-glide {
    margin-right: 20px;
  }
}

@media (min-width: 768px) {
  .card-plan__container {
    overflow: visible;
  }

  .card-plan__container .glide__slides {
    justify-content: start;
    overflow: visible;
  }

  .card-plan__container .glide__slide {
    width: 33%;
  }

  .card-plan__container .glide__slide:nth-child(2) {
    width: 34%;
  }

  .card-plan__container .glide__track {
    overflow: visible;
  }

  .range-plan__msg-block {
    height: 190px;
    height: auto;
  }

  .range-plan__msg-block_hight .btn,
  .range-plan__msg-block_low .btn {
    margin-bottom: 24px;
  }

  .range-plan__msg-text {
    font-size: 1rem;
    margin: 20px;
  }

  .range-plan__slider {
    width: 90%;
  }

  .card-plan__caption-text {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .card-plan {
    min-width: 260px;
  }

  .range-plan__msg-text {
    margin: 20px 20px 40px;
  }

  .range-plan__slider {
    margin: 40px auto 67px;
  }

  .card-plan__btn {
    margin: 31px 33px 10px;
    padding-left: 59px;
    padding-right: 59px;
  }
}

@media (min-width: 1200px) {
  .accordion__content .col-12:first-child {
    order: 0;
  }

  .accordion__content .col-12:last-child {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
