.form-shover {
  width: 30%;
  margin: 10% 35%;
}

.form-shover .form-group {
  margin-bottom: 80px;
}

.form-shover-dark {
  background: #111;
  padding: 100px;
}

.noUi-target {
  background: #E0E0E0;
  box-shadow: none;
  border: 0;
  border-radius: 10px;
}

.noUi-horizontal {
  height: 10px;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  outline: 0;
  top: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #2F80ED;
  box-shadow: none;
  border: 0;
  border-radius: 24px;
}

.noUi-horizontal .noUi-handle:before {
  display: none;
}

.noUi-horizontal .noUi-handle:after {
  width: 8px;
  height: 8px;
  position: static;
  border-radius: 8px;
  background: #fff;
}

.noUi-horizontal .noUi-tooltip {
  bottom: -120%;
  font-size: 1rem;
  color: #4F4F4F;
  font-weight: 700;
  border: 0;
  background: transparent;
  padding: 0;
}

.noUi-connects {
  border-radius: 10px;
}

.noUi-connect {
  background: #2F80ED;
}

.range-slider_plan:after,.range-slider_plan:before {
  content: '';
  width: 20px;
  height: 14px;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #2F80ED;
}

[dir=ltr] .range-slider_plan:after,[dir=ltr] .range-slider_plan:before {
  right: auto;
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  border-radius: 10px 0 0 10px;
}

[dir=rtl] .range-slider_plan:after,[dir=rtl] .range-slider_plan:before {
  left: auto;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  border-radius: 0 10px 10px 0;
}

.range-slider_plan:after {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #65637a;
}

[dir=ltr] .range-slider_plan:after {
  right: 0;
  left: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  border-radius: 0 10px 10px 0;
}

[dir=rtl] .range-slider_plan:after {
  left: 0;
  right: auto;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  border-radius: 10px 0 0 10px;
}

.range-slider_plan.noUi-target {
  background: #65637a;
}

.range-slider_plan.noUi-horizontal {
  height: 14px;
}

.range-slider_plan .noUi-handle {
  width: 32px;
  height: 32px;
  top: -9px;
}

.range-slider_plan .noUi-handle:after {
  width: 12px;
  height: 12px;
}

.range-slider_plan .noUi-tooltip {
  display: none;
}

.range-slider__labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-slider__label {
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  width: 0;
  position: relative;
}

.range-slider__label_select:before {
  background: #2F80ED !important;
}

.range-slider__label:nth-child(1) .range-slider__label-text,.range-slider__label:nth-child(2) .range-slider__label-text {
  width: 9px;
}

.range-slider__label:nth-child(3) .range-slider__label-text,.range-slider__label:nth-child(4) .range-slider__label-text,.range-slider__label:nth-child(5) .range-slider__label-text,.range-slider__label:nth-child(6) .range-slider__label-text {
  width: 18px;
}

.range-slider__label:nth-child(7) .range-slider__label-text {
  width: 28px;
}

.range-slider__label:nth-child(8) .range-slider__label-text {
  width: 40px;
}

.range-slider__label:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  top: -17px;
  bottom: auto;
}

.range-slider__label:before {
  background: #65637a;
  border-radius: 20px;
}

[dir=ltr] .range-slider__label:before {
  right: auto;
  left: -10px;
}

[dir=rtl] .range-slider__label:before {
  left: auto;
  right: -10px;
}

[dir=ltr] .range-slider__label-text {
  -webkit-transform: translate(-50%, 15px);
  transform: translate(-50%, 15px);
}

[dir=rtl] .range-slider__label-text {
  -webkit-transform: translate(50%, 15px);
  transform: translate(50%, 15px);
}

.range-slider__label-text_hidden {
  visibility: hidden;
}

.range-slider__label-sale {
  font-size: 0.75rem;
  color: #EB5757;
  font-weight: 700;
  position: absolute;
  top: -5px;
  bottom: auto;
}

[dir=ltr] .range-slider__label-sale {
  float: right;
  right: -6px;
  left: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

[dir=rtl] .range-slider__label-sale {
  float: left;
  left: -6px;
  right: auto;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@media (min-width: 576px) {
  .range-slider_plan:after,.range-slider_plan:before {
    width: 33px;
    height: 14px;
  }
}

@media (min-width: 768px) {
  .range-slider__label-text_hidden {
    visibility: visible;
  }
}