.img-shadow:after {
  content: '';
  display: block;
  height: 38px;
  width: 100%;
}

.img-shadow:after {
  background: url('../img/about/shadow.png') center no-repeat / contain;
  margin-top: 8px;
}

.glide {
  direction: ltr;
}

.glide__space-for-arrows {
  margin: 0 20px;
}

.glide__slides {
  z-index: 2;
  margin-top: 0;
  margin-bottom: 0;
}

.glide__slide {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

.glide__arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: -20px;
  right: -20px;
}

.glide__arrow {
  height: 37px;
  width: 12px;
  transition: ease 0.2s;
  opacity: 0.4;
  outline: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='37' viewBox='0 0 20 37' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' stroke='%23828282'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath d='M 0 0L 24 0L 24 24' stroke-width='2' transform='matrix(-0.707107 0.707107 0.707107 0.707107 19 1.52942)'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.glide__arrow:hover {
  opacity: 1;
}

.glide__arrow--next {
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

.glide__bullets {
  min-height: 24px;
  z-index: 2;
  position: absolute;
  top: auto;
  bottom: -34px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
}

.glide__bullet {
  width: 16px;
  height: 16px;
  transition: 0.2s ease;
  opacity: 1;
  background: #e0e0e0;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
}

.glide__bullet:hover {
  opacity: 0.9;
}

.glide__bullet--active {
  width: 24px;
  height: 24px;
  background: #2f80ed;
}

.reviews-slider {
  margin: 0 0 100px;
}

.awards-slider .glide__slides {
  align-items: stretch;
}

.awards-slider .glide__slide {
  align-items: flex-end !important;
  margin-top: 50px;
}

.awards-slider .glide__slide-img {
  max-width: 100%;
}

.large-slider {
  max-width: 1380px;
  margin-right: auto;
  margin-left: auto;
}

.large-slider__img {
  display: block;
  width: 100%;
}

.large-slider__desc {
  font-size: 0.75rem;
  color: #828282;
  font-style: italic;
  text-align: center;
}

.large-slider__count {
  width: 56px;
  height: 56px;
  position: absolute;
  top: auto;
  bottom: 0;
  bottom: 9px;
  z-index: 3;
  clip: rect(0 86px 35px 0);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  margin: auto;
  left: 0;
  right: 0;
}

.large-slider__count-current,
.large-slider__count-total {
  font-size: 0.75rem;
  margin-top: -12px;
}

.large-slider__count-current:after {
  content: '/';
}

.large-slider__count-current:after {
  margin: 0 4px;
}

.large-slider .glide__space-for-arrows {
  margin: 0;
}

.large-slider .glide__slide {
  align-items: flex-start;
}

.large-slider .glide__track {
  position: relative;
  z-index: 1;
}

.large-slider .glide__arrows {
  z-index: 2;
  display: none;
  right: 0;
  left: 0;
}

.large-slider .glide__arrow {
  top: 0;
  bottom: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.large-slider .glide__arrow:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

[dir='rtl'] .review-large__desc,
[dir='rtl'] .review-large__person {
  flex-direction: row-reverse;
}

@media (min-width: 576px) {
  .glide__space-for-arrows {
    margin: 0 30px;
  }

  .glide__arrows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    right: -30px;
  }

  .glide__arrow {
    width: 18px;
  }

  .awards-slider .glide__slide-img {
    max-width: 120px;
  }

  .large-slider__count {
    width: 86px;
    height: 86px;
  }

  .large-slider__count {
    bottom: -12px;
    clip: rect(0 86px 50px 0);
  }

  .large-slider__count-current,
  .large-slider__count-total {
    font-size: 0.875rem;
  }
}

@media (min-width: 768px) {
  .reviews-slider {
    margin: -20px 0 80px;
  }
}

@media (min-width: 992px) {
  .glide__space-for-arrows {
    margin: 0 50px;
  }

  .glide__arrows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50px;
    right: -50px;
  }

  .glide__arrow {
    width: 20px;
  }

  .reviews-slider {
    margin: -20px 0 110px;
  }

  .large-slider__desc {
    font-size: 1rem;
  }

  .large-slider__count {
    bottom: 0;
  }

  .large-slider__count-current,
  .large-slider__count-total {
    font-size: 1rem;
  }

  .large-slider .glide__arrows {
    display: flex;
  }

  .large-slider .glide__arrow {
    width: 130px;
  }
}
