html {
  font-size: 1rem;
}

html[dir='rtl'] {
  font-size: 1.125rem;
}

html[dir='rtl'] body {
  font-family: arial;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.typography-present {
  padding: 3vw 7vw;
}

.btn-present {
  padding: 3vw 7vw;
  background: #0e0e0e;
}

[dir='ltr'] .btn-present .btn {
  margin: 30px 30px 0 0;
}

[dir='rtl'] .btn-present .btn {
  margin: 30px 0 0 30px;
}

.always-ltr {
  direction: ltr;
}

.h1,
h1 {
  font-size: calc(30px + 18 * ((100vw - 576px) / 416));
  line-height: 1.3;
  font-weight: 700;
  margin: 20px 0;
  cursor: default;
}

.h1.title-hero,
h1.title-hero {
  font-size: calc(38px + 26 * ((100vw - 576px) / 416));
  font-weight: 700;
}

.h2,
h2 {
  font-size: calc(20px + 16 * ((100vw - 576px) / 416));
  line-height: 1.3;
  font-weight: 400;
  margin: 18px 0;
  cursor: default;
}

.h3,
h3 {
  font-size: calc(16px + 8 * ((100vw - 576px) / 416));
  line-height: 1.3;
  font-weight: 400;
  margin: 16px 0;
  cursor: default;
}

.h3.title-hero,
h3.title-hero {
  font-weight: 700;
}

.h4,
h4 {
  font-size: 16px;
  line-height: 1.6;
  margin: 14px 0;
  cursor: default;
}

.h5,
h5 {
  font-size: 15px;
  line-height: 1.5;
  margin: 12px 0;
  cursor: default;
}

p {
  cursor: default;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a.simple-link:hover {
  text-decoration: underline;
}

.title-promo {
  font-weight: 700;
}

.title-hero {
  font-size: calc(2.125rem + 30 * ((100vw - 36rem) / 416));
  font-weight: 700;
}

.title-counter {
  font-size: 0.75rem;
  line-height: 0;
  color: #bdbdbd;
  display: inline-block;
  position: relative;
  top: -1.5em;
}

.title-tips {
  display: inline-block;
  opacity: 0.5;
}

.title-gray {
  color: #333;
}

.title-line {
  display: block;
  font-weight: 400;
}

.title-line:before {
  content: '| ';
  display: none;
}

.title-line_horisontal {
  display: inline;
}

.title-line_horisontal:before {
  content: '- ';
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  margin: 12px 0;
}

ul {
  margin: 12px 0;
}

li {
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 8px 0;
}

.text-accent,
b,
strong {
  font-weight: 700;
}

.text-secondary {
  color: #828282;
}

.text-secondary-light {
  color: #bdbdbd;
}

.text-small {
  font-size: 0.875rem;
}

.text-tips {
  font-size: 0.75rem;
  line-height: 1.2;
  color: #bdbdbd;
}

.text-tips {
  margin: 5px 0;
}

h2 + .text-tips {
  margin-top: -15px;
  margin-bottom: 30px;
}

h3 + .text-tips {
  margin-top: -12px;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: #2f80ed;
  cursor: pointer !important;
}

.link_underline {
  text-decoration: underline;
  transition: .3s ease;
}

.link_underline:hover {
  text-decoration: none;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  border: 0;
  margin: 1vw 0;
}

hr.hidden {
  visibility: hidden;
}

.img-fluid {
  max-width: 100%;
}

ul.list {
  list-style-type: none;
}

ul.list_round {
  margin: 0;
}

[dir='ltr'] ul.list_round {
  padding-left: 20px;
}

[dir='rtl'] ul.list_round {
  padding-right: 20px;
}

ul.list_round li {
  position: relative;
  display: block;
}

ul.list_round li h3 {
  visibility: visible;
}

ul.list_round li:before {
  content: '';
  position: absolute;
  top: 8px;
  bottom: 0;
  display: inline-block;
  width: 8px;
  height: 8px;
}

ul.list_round li:before {
  border-radius: 50%;
}

[dir='ltr'] ul.list_round li:before {
  right: 0;
  left: -20px;
  background: linear-gradient(135deg, #eb5757 -31.25%, #2f80ed 181.25%);
}

[dir='rtl'] ul.list_round li:before {
  left: 0;
  right: -20px;
  background: linear-gradient(-135deg, #eb5757 -31.25%, #2f80ed 181.25%);
}

[dir='ltr'] ul.list_large {
  padding-left: 28px;
}

[dir='rtl'] ul.list_large {
  padding-right: 28px;
}

ul.list_large li {
  margin-bottom: 28px;
}

ul.list_large li:before {
  width: 12px;
  height: 12px;
  top: 5px;
}

[dir='ltr'] ul.list_large li:before {
  left: -28px;
}

[dir='rtl'] ul.list_large li:before {
  right: -28px;
}

h3 + ul.list_large {
  margin-top: 3vw;
}

.section-title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.main-content .scroll-lin {
  position: relative;
  top: -90px;
}

.main-content > h2:not(.title-promo),
.main-content > h3:not(.title-promo) {
  font-weight: 400;
}

.main-content > h2:not(.title-promo),
.main-content > h3:not(.title-promo) {
  text-align: center;
}

.main-content h2 + .text-tips {
  text-align: center;
}

.iframeWrap {
  position: relative;
  height: 0;
  /* padding-bottom: 53.53%; */
  padding-bottom: 56.25%;
  /* padding-top: 25px; */
}

.iframeWrap iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

[dir='ltr'] .iframeWrap iframe {
  left: 0;
}

[dir='rtl'] .iframeWrap iframe {
  right: 0;
}

.main-content .article-bottom-link {
  margin: 30px 0 0 0;
  text-align: left;
}

[dir='rtl'] .main-content .article-bottom-link {
  text-align: right;
}

.main-content > img {
  width: 100%;
  max-width: 100%;
}

.main-content .article-bottom-link {
  margin: 30px 0 0 0;
  text-align: left;
}

[dir='rtl'] .main-content .article-bottom-link {
  text-align: right;
}

.main-content > img.full-width {
  width: calc(100% + 40px);
  max-width: calc(100% + 40px);
  margin: 20px -20px;
}

.main-content > img.auto-width {
  width: auto;
}

.main-content > img.auto-width + .text-tips {
  margin-bottom: 0;
}

.text-center {
  text-align: center !important;
}

aside > h3 {
  color: #e5e5e5;
  text-align: center;
  margin-top: 50px;
}

.slide-tip {
  font-size: 0.875rem;
  color: #bdbdbd;
  margin-top: 10px;
  display: flex;
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-tip:after,
.slide-tip:before {
  content: '';
  width: 44px;
  height: 9px;
  display: block;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='44' height='9' viewBox='0 0 44 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='Canvas' fill='none'%3E %3Cg id='Vector'%3E %3Cpath d='M 42.5 4L 42.8536 4.35355L 43.2071 4L 42.8536 3.64645L 42.5 4ZM 0 4.5L 42.5 4.5L 42.5 3.5L 0 3.5L 0 4.5ZM 42.8536 3.64645L 38.8536 -0.353553L 38.1464 0.353553L 42.1464 4.35355L 42.8536 3.64645ZM 42.1464 3.64645L 38.1464 7.64645L 38.8536 8.35355L 42.8536 4.35355L 42.1464 3.64645Z' transform='translate(0 0.5)' fill='%23BDBDBD'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
  margin: 15px;
}

.slide-tip:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

[dir='rtl'] .slide-tip:before {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.table-responsive {
  overflow: auto;
}

.table-responsive td,
.table-responsive th {
  white-space: nowrap;
}

.table {
  width: 100%;
}

.table td,
.table th {
  font-size: 1.125rem;
  font-weight: 400;
  padding: 20px 25px;
  text-align: center;
}

.table thead th {
  font-size: 0.875rem;
  color: #4f4f4f;
  font-style: italic;
  font-weight: 400;
}

.table tbody th {
  color: #333;
}

[dir='ltr'] .table tbody th {
  text-align: left;
}

[dir='rtl'] .table tbody th {
  text-align: right;
}

table tr:nth-child(odd) td {
  background: #f2f2f2;
}

.table tr:nth-child(odd) td:nth-child(odd) {
  background: #d8e3f2;
}

.table tr:nth-child(even) td {
  background: #e5e5e5;
}

.table tr:nth-child(even) td:nth-child(odd) {
  background: #b6c7de;
}

@media (min-width: 576px) {
  .h1,
  h1 {
    font-weight: 400;
  }

  .h1,
  h1 {
    margin: 2.2vw 0;
  }

  .h2,
  h2 {
    margin: 2vw 0;
  }

  .h3,
  h3 {
    margin: 1.8vw 0;
  }

  .h4,
  h4 {
    margin: 1.5vw 0;
  }

  .h5,
  h5 {
    margin: 1.2vw 0;
  }

  .title-line {
    display: inline;
  }

  .title-line:before {
    display: inline;
  }

  p {
    margin: 1.8vw 0;
  }

  ul {
    margin: 1.8vw 0;
  }

  li {
    margin: 1vw 0;
  }

  .text-tips {
    margin: 1.5vw 0;
  }

  h2 + .text-tips {
    margin-top: -10px;
  }

  h3 + .text-tips {
    margin-top: -7px;
  }

  h3 + .text-tips {
    margin-bottom: 14px;
  }

  .full-width {
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
  }

  [dir='ltr'] ul.list_large {
    padding-left: 34px;
  }

  [dir='rtl'] ul.list_large {
    padding-right: 34px;
  }

  ul.list_large li {
    margin-bottom: 33px;
  }

  [dir='ltr'] ul.list_large li:before {
    left: -34px;
  }

  [dir='rtl'] ul.list_large li:before {
    right: -34px;
  }

  .main-content .article-bottom-link {
    margin: 40px 0 0 0;
  }

  .main-content > img.full-width {
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
  }

  aside > h3 {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .h4,
  h4 {
    font-size: 18px;
  }

  .h5,
  h5 {
    font-size: 16px;
  }

  p {
    font-size: 1rem;
  }

  li {
    font-size: 1rem;
  }

  .text-tips {
    font-size: 0.875rem;
  }

  ul.list_large li:before {
    width: 16px;
    height: 16px;
  }

  ul.list_large li:before {
    top: 6px;
  }

  .section-title {
    margin-bottom: 5vw;
  }

  .main-content > h2:not(.title-promo),
  .main-content > h3:not(.title-promo) {
    text-align: left;
  }

  [dir='rtl'] .main-content > h2:not(.title-promo),
  [dir='rtl'] .main-content > h3:not(.title-promo) {
    text-align: right;
  }

  .main-content h2 + .text-tips {
    text-align: left;
  }

  [dir='rtl'] .main-content h2 + .text-tips {
    text-align: right;
  }

  aside > h3 {
    text-align: left;
  }

  [dir='rtl'] aside > h3 {
    text-align: right;
  }

  .slide-tip {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .h1,
  h1 {
    font-size: 48px;
  }

  .h1.title-hero,
  h1.title-hero {
    font-size: 64px;
  }

  .h2,
  h2 {
    font-size: 36px;
  }

  .h3,
  h3 {
    font-size: 24px;
  }

  .title-hero {
    font-size: 4rem;
  }
}

@media (min-width: 992px) {
  h2 + .text-tips {
    margin-top: -17px;
  }

  h3 + .text-tips {
    margin-top: -13px;
  }

  h3 + .text-tips {
    margin-bottom: 14px;
  }

  [dir='ltr'] ul.list_large {
    padding-left: 40px;
  }

  [dir='rtl'] ul.list_large {
    padding-right: 40px;
  }

  ul.list_large li {
    margin-bottom: 40px;
  }

  [dir='ltr'] ul.list_large li:before {
    left: -40px;
  }

  [dir='rtl'] ul.list_large li:before {
    right: -40px;
  }

  ul.list_large li:before {
    top: 8px;
  }

  .section-title {
    margin-bottom: 70px;
  }

  .main-content .article-bottom-link {
    margin: 50px 0 0 0;
  }
}

@media (min-width: 1200px) {
  .h1,
  h1 {
    margin: 28px 0;
  }

  .h2,
  h2 {
    margin: 26px 0;
  }

  .h3,
  h3 {
    margin: 20px 0;
  }

  .h4,
  h4 {
    margin: 22px 0;
  }

  .h5,
  h5 {
    margin: 18px 0;
  }

  p {
    margin: 21px 0;
  }

  ul {
    margin: 21px 0;
  }

  li {
    margin: 10px 0;
  }

  .text-tips {
    margin: 8px 0;
  }
}

@media screen and (max-width: 576px) {
  .h1,
  h1 {
    font-size: 30px;
  }

  .h1.title-hero,
  h1.title-hero {
    font-size: 38px;
  }

  .h2,
  h2 {
    font-size: 20px;
  }

  .h3,
  h3 {
    font-size: 16px;
  }

  .title-hero {
    font-size: 2.125rem;
  }
}

@media (max-width: 576px) {
  .full-width {
    width: calc(100% + 40px);
    max-width: calc(100% + 40px);
    margin: 20px -20px;
  }
}
